<mat-card class="event mb-3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      {{event.subtype}}.{{event | event:'image'}}.
      <div class="circle mx-auto" [style.background-color]="(event | event:'image') ? 'transparent' : (event | event:'color') || '#ccc'">
        <img *ngIf="event | event:'image'" class="img-fluid" [src]="event | event:'image'">
      </div>
    </div>
    <mat-card-title>{{event?.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="event?.dateFrom">{{[event.dateFrom,event.dateTill] | dateRange}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="event?.description" class="description">{{event.description.length > 100 ? event.description.substr(0,100) + "…" : event.description}}</p>
    <p>Vede <strong [innerHTML]="(event?.leaders | joinLeaders) || 'pan NIKDO'"></strong></p>
  </mat-card-content>
  <mat-card-actions *ngIf="event?._actions" align="right">
    <button *ngIf="event._actions?.submit" mat-flat-button class="ml-1" [disabled]="!event._actions.submit.allowed" (click)="eventAction(event._actions?.submit)">Ke schválení</button>
    <button *ngIf="event._actions?.reject" mat-flat-button class="ml-1" [disabled]="!event._actions.reject.allowed" (click)="eventAction(event._actions?.reject, true)">Zpět k úpravám</button>
    <button *ngIf="event._actions?.publish" mat-flat-button class="ml-1" [disabled]="!event._actions.publish.allowed" (click)="eventAction(event._actions?.publish)">Do programu</button>
    <button *ngIf="event._actions?.unpublish" mat-flat-button class="ml-1" [disabled]="!event._actions.unpublish.allowed" (click)="eventAction(event._actions?.unpublish)">Z programu</button>
    <button *ngIf="event._actions?.cancel" mat-flat-button class="ml-1" [disabled]="!event._actions.cancel.allowed" (click)="eventAction(event._actions?.cancel)">Zrušit akci</button>
    <button *ngIf="event._actions?.uncancel" mat-flat-button class="ml-1" [disabled]="!event._actions.uncancel.allowed" (click)="eventAction(event._actions?.uncancel)">Vrátit zrušení</button>
    <button mat-flat-button color="secondary" [routerLink]="'/interni/akce/' + event._id">Otevřít</button>
  </mat-card-actions>
</mat-card>