<div class="contents" #contents (scroll)="updateScroll($event)">
  <ng-content></ng-content>
</div>

<div class="timeline" #timeline (mousedown)="timelineMouseDown($event)">
  <div class="visible" [style.top]="visibleDim.mid * 100 + '%'"></div>
  <!--<div class="visible" [style.top]="visibleFrom * 100 + '%'" [style.bottom]="(1 - visibleTo) * 100 + '%'"></div>-->
  <ng-container *ngIf="showLabels"><div class="label" *ngFor="let label of labels" [style.top]="label.y * 100 + '%'">{{label.label}}</div></ng-container>
  <ng-container *ngIf="showPoints"><div class="point" *ngFor="let point of points" [style.top]="point.y * 100 + '%'">{{point.title}}</div></ng-container>
</div>
