<ng-container *ngIf="album$ | async as album">
  <div
    class="dropzone"
    #photoDropzone
    (drop)="addPhotosByDropzone($event, photoDropzone)"
    (dragover)="onDragOver($event)"
    (click)="photoInput.click()"
  >
    <p>Přetáhnout fotografie sem, nebo kliknout pro výběr</p>
  </div>

  <input
    class="photoInput"
    type="file"
    accept="image/jpeg,image/png,image/gif"
    name="photo"
    #photoInput
    (change)="addPhotosByInput(photoInput)"
    multiple
  />

  <div class="queue">
    <table class="table table-striped table-hover table-sm uploadQueue">
      <thead>
        <tr>
          <th>Název souboru</th>
          <th colspan="2">Stav</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let uploadItem of photoUploadQueue">
          <td>{{ uploadItem.file.name }}</td>
          <td>{{ uploadItem.progress }} %</td>
          <td [ngSwitch]="uploadItem.status">
            <ng-container *ngSwitchCase="'pending'">připraven</ng-container>
            <ng-container *ngSwitchCase="'uploading'">nahrává se</ng-container>
            <ng-container *ngSwitchCase="'processing'">zpracovává se</ng-container>
            <ng-container *ngSwitchCase="'finished'">hotovo</ng-container>
            <ng-container *ngSwitchCase="'error'"
              >Chyba: {{ uploadItem.error?.message || "Neznámá chyba." }}</ng-container
            >
          </td>
          <td class="remove text-right">
            <a (click)="removeFromQueue(uploadItem)">odebrat</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!photoUploadQueue.length">K nahrání nejsou vybrány žádné fotky</p>
  </div>

  <div class="tags">
    <label><strong>Tagy:</strong></label
    >&nbsp;
    <photo-tags-editor [(ngModel)]="selectedTags" [tags]="tags"></photo-tags-editor>
  </div>

  <div class="buttons text-right">
    <button type="button" class="btn btn-light text-dark" (click)="clearQueue()">Vyprázdnit frontu</button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="uploadPhotos(album)">Nahrát</button>
  </div>
</ng-container>
