<!-- Header -->
<section id="header">
  <div class="container-fluid header">
    <div class="row content">
      <div class="col-12 text-center">
        <h1>Dětská vodácká skupina ŠÁN</h1>
      </div>
      <div class="col-12 text-center">
        <a class="btn btn-primary btn-lg" [ngx-scroll-to]="weOffer">Pádluj!</a>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section id="weOffer" #weOffer>
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h1>Zažij s námi</h1>
      </div>
      <div class="col-12 text-center">
        <p>Bohatá celoroční činnost, vodácký výcvik a tábor na ostrově uprostřed Labe.</p>
      </div>
    </div>

    <div class="row">
      <div class="card col-12 col-md-6 col-lg-4 mx-auto">
        <img class="card-img-top" src="assets/img/front-page/tabor_small.jpg" alt="">
        <div class="card-body text-center d-flex flex-column">
          <h2 class="card-title">Tábor na ostrově Šán</h2>
          <p class="card-text">Každý rok si užíváme obří porci zábavy na našem ostrově uprostřed Labe. Tři týdny dobrodružství, sportovních výzev a přátel. Více o táboru na ŠÁNu se dočtete <a routerLink="/tabor">zde</a>.</p>
          <a routerLink="/tabor" class="btn btn-primary mt-auto js-scroll-trigger">Chci jet na tábor</a>
        </div>
      </div>
      <div class="card col-12 col-md-6 col-lg-4 mx-auto">
        <img class="card-img-top" src="assets/img/front-page/akce_small.jpg" alt="">
        <div class="card-body text-center d-flex flex-column">
          <h2 class="card-title">Akci každý druhý víkend</h2>
          <p class="card-text">Co 14 dní s námi o víkendu vyrazíš na vodu, za sněhem do hor nebo třeba za dobrodružstvím v pražských uličkách. Koukni na <a routerLink="/fotogalerie">fotky</a> z minulých akcí a do <a routerLink="/program">programu</a> na co se můžeš těšit.</p>
          <a routerLink="/program" class="btn btn-primary mt-auto js-scroll-trigger">Chci jet na akci</a>
        </div>
      </div>
      <div class="card col-12 col-md-6 col-lg-4 mx-auto">
        <img class="card-img-top" src="assets/img/front-page/schuzky_small.jpg" alt="">
        <div class="card-body text-center d-flex flex-column">
          <h2 class="card-title">Schůzky každý týden</h2>
          <p class="card-text">Každý týden se scházíme v naší loděnici Bošán a hrajeme nejrůznější hry, vzděláváme se v tábornických dovednostech nebo vyrážíme na projížďky po Vltavě.</p>
          <a routerLink="/kontakty" class="btn btn-primary mt-auto js-scroll-trigger">Chci být Šánovec</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Recent events-->
<section>
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h1>Nedávno proběhlo</h1>
      </div>
      <div class="col-12 text-center">
        <p>Koukni na fotky z posledních pár akcí a zavzpomínej na zážitky s kamarády.</p>
      </div>
    </div>

    <albums-recent></albums-recent>
    <div class="row">
      <div class="col-12 text-center pb-3">
        <div><a routerLink="/fotogalerie" class="btn btn-primary">Další fotky</a></div>
      </div>
    </div>
  </div>
</section>

<!-- Events-->
<section>
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h1>Nejbližší akce</h1>
      </div>
      <div class="col-12 text-center">
        <p>Kam se s námi vypravíš v příštích týdnech.</p>
      </div>
    </div>
    <events-timeline days="30"></events-timeline>
    <div class="row">
      <div class="col-12 text-center py-3">
        <div><a routerLink="/program" class="btn btn-primary">Kompletní program</a></div>
      </div>
    </div>
  </div>
</section>

<!-- Contacts -->
<section id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Vedení skupiny</h1>
      </div>
      <div class="col-12 text-center">
        <p>Na koho se obrátit, když něco potřebuješ.</p>
      </div>
    </div>

    <contact-card [contacts]="contacts"></contact-card>
    <div class="row">
      <div class="col-12 text-center pb-3">
        <div><a routerLink="/kontakty" class="btn btn-primary">Další kontakty</a></div>
      </div>
    </div>
  </div>
</section>

<!-- Map -->
<section id="map">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Přijď se podívat osobně</h1>
      </div>
      <div class="col-12 text-center">
        <p>Každé pondělí a středu máme schůzky od 16:00 do 18:00 v naší loděnici.</p>
      </div>
    </div>
    <div class="row map">
      <google-map [url]="mapUrl"></google-map>
    </div>
  </div>
</section>