<!-- Header -->
<header class="header-large">
  <div class="content">
    <h1>Dětská vodácká skupina ŠÁN</h1>
    <a class="btn btn-primary" [ngx-scroll-to]="weOffer">Pádluj!</a>
  </div>
</header>

<div>
  <!-- Services -->
  <section id="weOffer" #weOffer class="padding">
    <h1>Zažij s námi</h1>
    <p class="subheading">Bohatá celoroční činnost, vodácký výcvik a tábor na ostrově uprostřed Labe.</p>

    <div class="container">

      <div class="row">
        <div class="col-md-4 card">
          <img class="img-fluid" src="assets/img/front-page/tabor_small.jpg" alt="">
          <h2 class="text-center">Tábor na ostrově Šán</h2>
          <p>Každý rok si užíváme obří porci zábavy na našem ostrově uprostřed Labe. Tři týdny dobrodružství, sportovních výzev a přátel. Více o táboru na ŠÁNu se dočtete <a routerLink="/tabor">zde</a>.</p>
        </div>
        <div class="col-md-4 card">
          <img class="img-fluid" src="assets/img/front-page/akce_small.jpg" alt="">
          <h2 class="text-center">Akci každý druhý víkend</h2>
          <p>Co 14 dní s námi o víkendu vyrazíš na vodu, za sněhem do hor nebo třeba za dobrodružstvím v pražských uličkách. Koukni na <a routerLink="/fotogalerie">fotky</a> z minulých akcí a do <a routerLink="/program">programu</a> na co se můžeš těšit.</p>
        </div>
        <div class="col-md-4 card">
          <img class="img-fluid" src="assets/img/front-page/schuzky_small.jpg" alt="">
          <h2 class="text-center">Schůzky každý týden</h2>
          <p>Každý týden se scházíme v naší loděnici Bošán a hrajeme nejrůznější hry, vzděláváme se v tábornických dovednostech nebo vyrážíme na projížďky po Vltavě.</p>
        </div>
      </div>

      <div class="row buttons">
        <!--
<div class="col-md-4 text-center"><a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" routerLink="/tabor">Chci jet na tábor</a></div>
<div class="col-md-4 text-center"><a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" routerLink="/program">Chci jet na akci</a></div>
-->
        <div class="col-md-4 text-center"><a routerLink="/tabor" class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger">Chci jet na tábor</a></div>
        <div class="col-md-4 text-center"><a routerLink="/program" class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger">Chci jet na akci</a></div>
        <div class="col-md-4 text-center"><a routerLink="/kontakt" class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger">Chci být Šánovec</a></div>
      </div>

    </div>
  </section>

  <!-- Sekce nedavno probehlo -->
  <section class="padding">
    <h1>Nedávno proběhlo</h1>
    <p class="subheading">Koukni na fotky z posledních pár akcí a zavzpomínej na zážitky s kamarády.</p>

    <div class="container">

      <albums-recent></albums-recent>

    </div>
  </section>

  <!-- About -->
  <section class="padding">
    <h1>Nejbližší akce</h1>
    <p class="subheading">Kam se s námi vypravíš v příštích týdnech.</p>

    <div class="container">

      <events-timeline days="30"></events-timeline>

      <div class="text-center"><a routerLink="/program" class="btn btn-primary btn-xl text-uppercase">kompletní program</a></div>
    </div>
  </section>

  <!-- Contacts -->
  <section id="contacts" class="padding">

    <h1>Vedení skupiny</h1>
    <p class="subheading">Na koho se obrátit, když něco potřebuješ.</p>

    <div class="container padding">

      <contact-card [contacts]="contacts"></contact-card>

    </div>
    <div class="text-center"><a routerLink="/kontakty" class="btn btn-primary text-uppercase">Další kontakty</a></div>
  </section>

  <!-- Map -->
  <section id="map">
    <div class="padding">
      <h1>Přijď se podívat osobně</h1>
      <p class="subheading">Každé pondělí a středu máme schůzky od 16:00 do 18:00 v naší loděnici.</p>
    </div>
    <div class="map">
      <google-map></google-map>
    </div>

  </section>
</div>