<!-- Header -->
<header class="header-large">
  <div class="content">
    <h1>Dětská vodácká skupina ŠÁN</h1>
    <a class="btn btn-primary" [ngx-scroll-to]="weOffer">Pádluj!</a>
  </div>
</header>

<!-- Services -->
<section id="weOffer" #weOffer>
  <h1>Zažij s námi</h1>
  <p class="subheading">Bohatá celoroční činnost, vodácký výcvik a tábor na ostrově uprostřed Labe.</p>

  <div class="container">

    <div class="row">
      <div class="col-md-4 card">
        <img class="img-fluid" src="assets/img/front-page/tabor_small.jpg" alt="">
        <h2 class="text-center">Tábor na ostrově Šán</h2>
        <p>Každý rok si užíváme obří porci zábavy na našem ostrově uprostřed Labe. Tři týdny dobrodružství, sportovních výzev a přátel. Více o táboru na ŠÁNu se dočtete <a routerLink="/tabor">zde</a>.</p>
      </div>
      <div class="col-md-4 card">
        <img class="img-fluid" src="assets/img/front-page/akce_small.jpg" alt="">
        <h2 class="text-center">Akci každý druhý víkend</h2>
        <p>Co 14 dní s námi o víkendu vyrazíš na vodu, za sněhem do hor nebo třeba za dobrodružstvím v pražských uličkách. Koukni na <a routerLink="/fotogalerie">fotky</a> z minulých akcí a do <a routerLink="/program">programu</a> na co se můžeš těšit.</p>
      </div>
      <div class="col-md-4 card">
        <img class="img-fluid" src="assets/img/front-page/schuzky_small.jpg" alt="">
        <h2 class="text-center">Schůzky každý týden</h2>
        <p>Každý týden se scházíme v naší loděnici Bošán a hrajeme nejrůznější hry, vzděláváme se v tábornických dovednostech nebo vyrážíme na projížďky po Vltavě.</p>
      </div>
    </div>

    <div class="row buttons">
      <!--
<div class="col-md-4 text-center"><a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" routerLink="/tabor">Chci jet na tábor</a></div>
<div class="col-md-4 text-center"><a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" routerLink="/program">Chci jet na akci</a></div>
-->
      <div class="col-md-4 text-center"><a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" [ngx-scroll-to]="signup">Chci jet na tábor</a></div>
      <div class="col-md-4 text-center"><a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" [ngx-scroll-to]="signup">Chci jet na akci</a></div>
      <div class="col-md-4 text-center"><a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" [ngx-scroll-to]="signup">Chci být Šánovec</a></div>
    </div>

  </div>
</section>

<!-- Sekce nedavno probehlo -->
<section class="bg-light">
  <h1>Nedávno proběhlo</h1>
  <p class="subheading">Koukni na fotky z posledních pár akcí a zavzpomínej na zážitky s kamarády Šánovci.</p>

  <div class="container">

    <albums-recent></albums-recent>

  </div>
</section>

<!-- About -->
<section>
  <h1>Nejbližší akce</h1>
  <p class="subheading">Kam se s námi vypravíš v příštích týdnech.</p>

  <div class="container">

    <events-timeline limitDays="30"></events-timeline>

    <div class="text-center"><a routerLink="/program" class="btn btn-primary btn-xl text-uppercase">kompletní program</a></div>
  </div>
</section>

<section class="bg-light" #signup>

  <h1>Přihláška</h1>
  <p class="subheading">Chceš se stát Šánovcem? Stačí vyplnit přihlášku!</p>

</section>

<!-- Contacts -->
<section id="contacts">

  <h1>Vedení skupiny</h1>
  <p class="subheading">Na koho se obrátit, když něco potřebuješ.</p>

  <div class="container">

    <div class="row contacts">
      <contact-card *ngFor="let contact of contacts" [contact]="contact" class="col-12 col-md-3 contact"></contact-card>
    </div>

    <div class="text-center"><a routerLink="/kontakty" class="btn btn-primary text-uppercase">Další kontakty</a></div>

  </div>
</section>

<!-- Map -->
<section class="bg-light" id="map">

  <h1>Přijď se podívat osobně</h1>
  <p class="subheading">Každé pondělí a středu máme schůzky od 16:00 do 18:00 v naší loděnici.</p>

  <div class="map">
    <google-map></google-map>
  </div>

</section>