
header{background-image: url("/assets/img/headers/kayak.jpg");}
  
a.btn{display:inline-block;max-width:100%;height:60px;line-height:46px;font-weight:bold;}

#weOffer .card { padding-bottom: 30px;border:none;}
#weOffer .card img{width:100%;}
#weOffer .btn{width:230px;}

/* == MAPA == */
#map { padding-bottom: 0; }
#map .map{height:500px;}

/* == KONTAKTY == */
#contacts{text-align:center;}
#contacts .contacts{margin-bottom:50px;}