/* IMPORTS */

@import "~styles/bootstrap";

@import "~styles/ionic-theme";

@import "~styles/ionic";

@import "~styles/general";

@import "~styles/components";

@import "~swiper/scss";
@import "~@ionic/angular/css/ionic-swiper";
