<nav class="navbar primary navbar-expand-lg navbar-dark" [class.open]="!collapsed">

  <div class="navbar-brand text-uppercase">

    <a routerLink="/"><img src="/assets/img/san_logo_barva.png" class="d-inline d-lg-none logo-small"></a>

    <button class="navbar-toggler" (click)="setCollapsed(!collapsed)" type="button">
      <i class="fa fa-bars"></i>
    </button>

    <span class="d-none d-lg-inline">Bosan.cz<span *ngIf="environment$ | async as environment" class="environment">&nbsp;{{environment}}</span></span>
    <span class="d-inline d-lg-none">{{(titleService.pageTitle | async) || "Bosan.cz"}}</span>

  </div>

  <div class="collapse navbar-collapse" [collapse]="collapsed">
    <div class="navbar-nav text-uppercase ml-auto" (click)="setCollapsed(true)">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link px-lg-3" routerLink="/o-nas">O nás</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link px-lg-3" routerLink="/aktualne">Aktuálně</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link px-lg-3" routerLink="/program">Program</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link px-lg-3" routerLink="/fotogalerie">Fotogalerie</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link px-lg-3" routerLink="/tabor">Tábor</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link px-lg-3" routerLink="/kontakty">Kontakty</a></li>

      <li class="nav-item">
        <a class="nav-link px-lg-3" routerLink="/interni" tooltip="Interní sekce" placement="bottom">
          <i class="fa fa-lock"></i>
          <span class="d-inline d-lg-none ml-2">Interní sekce</span>
        </a>
      </li>
    </div>
  </div>


</nav>