<div class="container-fluid px-0 mt-3 mt-lg-5">
  
  <h2 pageTitle class="d-none">Schvalování akcí</h2>
  
  <div class="dashboard px-0 px-xl-5">

    <div class="row">

      <div class="col-12 col-md-3 d-md-block" [class.d-none]="selectedColumn !== 'Pan NIKDO'">
        <h3 class="mb-3 d-none d-md-block ml-3">Pan NIKDO</h3>
        <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: noLeaderEvents | async}"></ng-container>
      </div>

      <div class="col-12 col-md-3 d-md-block" [class.d-none]="selectedColumn !== 'V přípravě'">
        <h3 class="mb-3 d-none d-md-block ml-3">V přípravě</h3>
        <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: draftEvents | async}"></ng-container>
      </div>

      <div class="col-12 col-md-3 d-md-block" [class.d-none]="selectedColumn !== 'Ke schválení'">
        <h3 class="mb-3 d-none d-md-block ml-3">Ke schválení</h3>
        <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: pendingEvents | async}"></ng-container>
      </div>

      <div class="col-12 col-md-3 d-md-block" [class.d-none]="selectedColumn !== 'V programu'">
        <h3 class="mb-3 d-none d-md-block ml-3">V programu</h3>
        <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: publicEvents | async}"></ng-container>
      </div>


    </div>
  </div>
</div>

<ng-template #eventsColumn let-events>
  <div class="column bg-light px-2 py-2 mb-3">
    <event-card *ngFor="let event of events" [event]="event" (change)="eventChanged($event)"></event-card>
    <p *ngIf="!loading && events?.length === 0" class="text-center noevents">Žádné akce</p>
  </div>
</ng-template>