<section>
  <div class="container">

    <div class="row">

      <div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="../o-nas" routerLinkActive="active">O nás</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../dokumenty" routerLinkActive="active">Dokumenty</a></li>
        </ul>

      </div>

      <div class="col-9">
        <div class="form" [ngSwitch]="cat">
          
          <config-about *ngSwitchCase="'about'" [config]="config"></config-about>
          
          <config-documents *ngSwitchCase="'documents'" [config]="config"></config-documents>
          
        </div>
      </div>
    </div>
    
    <div class="submit row">
      <div class="col-8"></div>
      <div class="col-4 text-right">
        <button type="button" class="btn btn-secondary btn-sm" (click)="resetConfig()">Zrušit</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="saveConfig()">Uložit</button>
      </div>
    </div>

    <input type="checkbox" id="check_viewjson" [(ngModel)]="viewJson"> <label for="check_viewjson">Zobrazit JSON</label>

    <div *ngIf="viewJson" class="json bg-light">
      <textarea [ngModel]="config | json" (ngModelChange)="editJson($event)"></textarea>
      <p>{{jsonError ? "chyba" : "kód OK"}}</p>
    </div>
  </div>
</section>
