<section>
  <div class="container">
    <h2>Statistiky</h2>
    <div class="row">

      <div class="col-lg-2">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" routerLink="./akce" routerLinkActive="active">Akce</a>
          <a class="nav-link" routerLink="./clenove" routerLinkActive="active" tooltip="Připravujeme" placement="right">Členové</a>
        </nav>
      </div>

      <div class="col-lg-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>