<div id="admin" class="layout" [class.menu-transparent]="menuService.transparent | async">

  <div *ngIf="!(onlineService.online | async)" id="offline" class="text-center bg-danger text-light">
    Nejste připojeni k internetu. Zobrazené údaje mohou být zastaralé.
  </div>

  <div *ngIf="(onlineService.online | async) && (swUpdate.available | async)" id="update" class="text-center bg-warning text-light">
    Je k dispozici nová verze bosan.cz. <a (click)="reload()">Načíst</a>
  </div>

  <!-- Navigation -->
  <admin-menu *ngIf="menuService.visible | async" class="d-print-none"></admin-menu>

  <!-- MAIN CONTENT -->
  <div id="content">

    <div class="d-none d-lg-block container mt-5">
      <div class="row">

        <div class="col-12 col-md-10">
          <h2 *ngIf="titleService.pageTitle | async as title">{{title}}</h2>
        </div>

        <div class="col-12 col-md-2 buttons my-3 my-md-0">
          <div *ngIf="menuService.actions | async as actionItems" class="dropdown text-right actions" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle w-100">Akce</button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <ng-container *ngFor="let actionItem of actionItems" [ngSwitch]="actionItem.type">
                <a *ngSwitchCase="'action'" [class]="'dropdown-item ' + (actionItem.class || '')" [class.disabled]="actionItem.disabled" (click)="actionItem.callback()">{{actionItem.label}}</a>
                <div *ngSwitchCase="'divider'" class="dropdown-divider"></div>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
    </div>

    <router-outlet></router-outlet>

  </div>