<section>
  <div class="container">
    <h2>Správa programu</h2>
    <div class="row">

      <div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="./schvalovani-akci" routerLinkActive="active">Akce ke schválení</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="./planovani-akci" routerLinkActive="active">Plánování akcí</a></li>
        </ul>
      </div>

      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>