<div class="events">

  <div *ngFor="let event of events" class="event mb-5">
    <h3>{{event.name}}</h3>
    <p>{{[event.dateFrom,event.dateTill] | dateRange}}</p>
    <p>{{event.description}}</p>
    <p>Vede {{(event.leaders | joinLeaders) || "pan NIKDO"}}</p>      

    <div class="buttons">
      <button *ngIf="event._actions?.submit" class="btn btn-primary btn-sm mr-3" [disabled]="!event._actions.submit.allowed" (click)="submitEvent(event)">Ke schválení</button>
      <button *ngIf="event._actions?.reject" class="btn btn-secondary btn-sm mr-3" [disabled]="!event._actions.reject.allowed" (click)="rejectEvent(event)">Zpět k úpravám</button>


      <button *ngIf="event._actions?.publish" class="btn btn-primary btn-sm mr-3" [disabled]="!event._actions.publish.allowed" (click)="publishEvent(event)">Do programu</button>
      <button *ngIf="event._actions?.unpublish" class="btn btn-secondary btn-sm mr-3" [disabled]="!event._actions.unpublish.allowed" (click)="unpublishEvent(event)">Z programu</button>

      <button *ngIf="event._actions?.cancel" class="btn btn-danger btn-sm mr-3" [disabled]="!event._actions.cancel.allowed" (click)="cancelEvent(event)">Zrušit akci</button>
      <button *ngIf="event._actions?.uncancel" class="btn btn-secondary btn-sm mr-3" [disabled]="!event._actions.uncancel.allowed" (click)="uncancelEvent(event)">Vrátit zrušení</button>

      <a [routerLink]="'/interni/moje/akce/' + event._id" class="btn btn-light btn-sm">Upravit info</a>
    </div>
  </div>

</div>