<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Galerie</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Galerie"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="filter">
  <ion-searchbar
    matInput
    type="text"
    [ngModel]="searchString | async"
    (ngModelChange)="searchString.next($event)"
    (keydown.enter)="$event.preventDefault()"
  ></ion-searchbar>
</div>

<ion-content>
  <admin-table>
    <thead>
      <tr>
        <th>Název alba</th>
        <th>Datum</th>
        <th>Stav</th>
        <th>Publikováno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let album of filteredAlbums" [routerLink]="album._id">
        <td>{{ album.name }}</td>
        <td class="date">{{ album.dateFrom | date: "d. M. y" }} - {{ album.dateTill | date: "d. M. y" }}</td>
        <td>{{ statusesIndex[album.status] || "N/A" }}</td>
        <td>{{ album.datePublished | date: "d. M. y" }}</td>
      </tr>

      <ng-container *ngIf="!albums?.length">
        <tr *ngFor="let item of loadingArray">
          <td><ion-skeleton-text animated></ion-skeleton-text></td>
          <td><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></td>
          <td><ion-skeleton-text animated></ion-skeleton-text></td>
          <td><ion-skeleton-text animated></ion-skeleton-text></td>
        </tr>
      </ng-container>
    </tbody>
  </admin-table>
</ion-content>
