<section>
  <div class="container">

    <button type="button" class="btn btn-danger float-right" (click)="deleteErrors()">Smazat chyby</button>
    
    <h2 class="d-none d-lg-block">Přehled chyb</h2>
    
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Datum</th>
          <th>Chyba</th>
          <th>Počet</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let error of errors" [routerLink]="['../chyby',error._id]">
          <td class="date">{{error.lastTimestamp | date:"d. M. y H:mm:ss"}}</td>
          <td class="message"><span [title]="error.message">{{error.message}}</span></td>
          <td class="user">{{error.count}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</section>