<section class="padding">

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Přehled</h2>
        <div class="cards">
          
          <div *ngFor="let event of myEventsAccounting" class="card border-danger">
            <div class="card-body">
              <h5 class="card-title">Nedokončené účetnictví akce! {{event.name}} <button class="btn btn-primary">Dokončit</button></h5>
            </div>
          </div>
          
          <div *ngFor="let event of myFutureEvents" class="card border-warning">
            <div class="card-header">
              <h5 class="card-title">{{event.name}} ({{[event.dateFrom,event.dateTill] | dateRange}})</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Tvá akce se blíží! Máš hotovou ohlášku, přihlášky od dětí, zaplacené poplatky?</p>
            </div>
          </div>

          <div *ngIf="noLeaderEvents?.length > 0" class="card">
            <div class="card-header">
              <h5 class="card-title">Veď akci!</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Mezi akcemi jsou nějaké nerozebrané. Vyber si a přihlaš se jako vedoucí:</p>
              <ul>
                <li *ngFor="let event of noLeaderEvents">
                  <a [routerLink]="'/interni/akce/' + event._id">{{[event.dateFrom,event.dateTill] | dateRange}} {{event.name}}</a>
                  <button class="btn btn-primary btn-sm">Vést akci</button>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>
      
      <div class="col-md-4">
        <h2>Statistiky</h2>
        
        Moje expy, expy dětí, kilometry oddílu?
        
      </div>
    </div>
  </div>
</section>