<section>
  <div class="container">

    <h2>Veď akci</h2>

    <div class="events">
      
      <div *ngFor="let event of events" class="event card">
        <div class="card-header">
          <div class="card-title">
            <h5>{{[event.dateFrom,event.dateTill] | dateRange:"EEEEEE d. M.":"EEEEEE d. M.":"EEEEEE d."}} | {{event.name}}</h5>
          </div>
        </div>
        <div class="card-body row">
          <div class="col-md-9">
            <p *ngIf="event.description else noDescription">{{event.description | nl2br}}</p>
            <ng-template #noDescription><p>Akce nemá žádný popis</p></ng-template>
          </div>
          <div class="col-md-3 buttons">            
            <button *ngIf="event._actions?.lead" class="btn btn-primary btn-sm" (click)="leadEvent(event)">Vést akci</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>