<form *ngIf="event$ | async as event" #leadersForm="ngForm" (ngSubmit)="save(event,leadersForm)">

    <h3>Vedoucí akce</h3>
    <members-select name="leaders" [ngModel]="leaders$ | async" [members]="members"></members-select>

    <h3>Zdravotník</h3>
    <members-select name="medics" [members]="members"></members-select>

    <h3>Hospodář</h3>
    <members-select name="ggg1" [members]="members"></members-select>

    <div class="mt-5 text-right">
        <button mat-button mat-flat-button color="primary" type="submit" class="w-100">Uložit</button>
    </div>
</form>