<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/blog"></ion-back-button>
    </ion-buttons>
    <ion-title>Zobrazit příspěvek</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Blogový příspěvek"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.loading]="!blog">
  <div class="post p-3 p-md-5">
    <h2>{{ blog?.title || "&nbsp;" }}</h2>

    <p class="text-muted">
      <ng-container *ngIf="!blog">&nbsp;</ng-container>
      <ng-container *ngIf="blog && blog.status === 'public'">
        Publikováno {{ blog.datePublished | date : "d. M. y" }}
      </ng-container>
      <ng-container *ngIf="blog && blog.status === 'draft'"> Nepublikováno </ng-container>
    </p>

    <p class="perex mt-4">
      <strong>{{ blog?.perex || "&nbsp;" }}</strong>
    </p>

    <p *ngIf="!blog?.content"><br /><br /><br /></p>

    <bo-text-view *ngIf="blog?.content" [content]="blog!.content!" [headingLevel]="3"></bo-text-view>
  </div>
</ion-content>
