<div *ngIf="event$ | async as event">
  <div class="d-none d-lg-block container mt-3 mt-lg-5">

    <div class="float-right">
      <div *actionMenu>

        <button mat-button color="primary" *ngIf="event._actions.lead" [disabled]="!event._actions.lead.allowed" (click)="eventAction(event,'lead')">Vést akci</button>
        <button mat-button color="primary" [disabled]="!event._links.self.allowed.PATCH" routerLink="upravit">Upravit</button>

        <ng-container *ngIf="event && event._actions">
          <button mat-button *ngIf="event._actions.submit" [disabled]="!event._actions.submit.allowed" (click)="eventAction(event,'submit')">Ke schválení</button>
          <button mat-button *ngIf="event._actions.publish" [disabled]="!event._actions.publish.allowed" (click)="eventAction(event,'publish')">Do programu</button>
          <button mat-button *ngIf="event._actions.announce" [disabled]="!event._actions.announce.allowed" (click)="eventAction(event,'announce')">Poslat ohlášku</button>
          <button mat-button *ngIf="event._actions.finalize" [disabled]="!event._actions.finalize.allowed" (click)="eventAction(event,'finalize')">Uzavřít</button>
          <button mat-button *ngIf="event._actions.reject" [disabled]="!event._actions.reject.allowed" (click)="eventAction(event,'reject')">Vrátit vedoucím k úpravám</button>
          <button mat-button *ngIf="event._actions.unpublish" [disabled]="!event._actions.unpublish.allowed" (click)="eventAction(event,'unpublish')">Odebrat z programu</button>
          <button mat-button color="warn" *ngIf="event._actions.cancel" [disabled]="!event._actions.cancel.allowed" (click)="eventAction(event,'cancel')">Zrušit</button>
          <button mat-button *ngIf="event._actions.uncancel" [disabled]="!event._actions.uncancel.allowed" (click)="eventAction(event,'uncancel')">Odzrušit</button>
        </ng-container>

        <button mat-button color="warn" [disabled]="!event._links.self.allowed.DELETE" (click)="deleteEvent(event)">Smazat</button>

      </div>
    </div>

    <h2 pageTitle>{{event?.name}}</h2>
  </div>

  <div class="d-block container mt-3 mt-lg-5">
    <event-card [event]="event" [actions]="false"></event-card>

    <div class="row">
      <div class="col-md-6">
        <event-age-histogram *ngIf="event" [event]="event"></event-age-histogram>
      </div>
    </div>

  </div>
</div>