<div class="container-fluid px-md-3 px-lg-5">
  <page-header>

    <h2 [pageTitle]="(event$ | async)?.name">{{(event$ | async)?.name}}</h2>

    <div class="actions" *actionMenu>
      <ng-container *ngIf="event$ | async as event">

        <button mat-button color="primary" *ngIf="event._actions.lead" [disabled]="!event._actions.lead.allowed" (click)="eventAction(event,'lead')">Vést akci</button>
        <button mat-button color="primary" [disabled]="!event._links.self.allowed.PATCH" routerLink="upravit">Upravit</button>

        <ng-container *ngIf="event._actions">
          <button mat-button *ngIf="event._actions.submit" [disabled]="!event._actions.submit.allowed" (click)="eventAction(event,'submit')">Ke schválení</button>
          <button mat-button *ngIf="event._actions.publish" [disabled]="!event._actions.publish.allowed" (click)="eventAction(event,'publish')">Do programu</button>
          <button mat-button *ngIf="event._actions.announce" [disabled]="!event._actions.announce.allowed" (click)="eventAction(event,'announce')">Poslat ohlášku</button>
          <button mat-button *ngIf="event._actions.finalize" [disabled]="!event._actions.finalize.allowed" (click)="eventAction(event,'finalize')">Uzavřít</button>
          <button mat-button *ngIf="event._actions.reject" [disabled]="!event._actions.reject.allowed" (click)="eventAction(event,'reject')">Vrátit vedoucím k úpravám</button>
          <button mat-button *ngIf="event._actions.unpublish" [disabled]="!event._actions.unpublish.allowed" (click)="eventAction(event,'unpublish')">Odebrat z programu</button>
          <button mat-button color="warn" *ngIf="event._actions.cancel" [disabled]="!event._actions.cancel.allowed" (click)="eventAction(event,'cancel')">Zrušit</button>
          <button mat-button *ngIf="event._actions.uncancel" [disabled]="!event._actions.uncancel.allowed" (click)="eventAction(event,'uncancel')">Odzrušit</button>
        </ng-container>

        <button mat-button color="warn" [disabled]="!event._links.self.allowed.DELETE" (click)="deleteEvent(event)">Smazat</button>

      </ng-container>
    </div>
  </page-header>




  <ng-container *ngIf="event$ | async as event" class="container-fluid px-lg-5 mt-3">
    <div class="row">
      <div class="col-xl-4 order-xl-last mb-3">
        <event-card [event]="event" [actions]="false"></event-card>


      </div>
      <div class="col-xl-8">

        <div class="row">

          <div class="col-lg-6 mb-3">
            <h3>Účtování</h3>
            <event-expenses-chart [expenses]="event.expenses"></event-expenses-chart>
          </div>

          <div class="col-lg-6 mb-3">
            <h3>Účastníci</h3>
            <ul>
              <li *ngFor="let member of event.attendees">{{member.nickname}} {{member.group}}</li>
            </ul>
            <event-age-histogram *ngIf="event" [event]="event"></event-age-histogram>
          </div>

        </div>

        <h3>Fotogalerie</h3>

        <h3>Report</h3>

      </div>

    </div>

  </ng-container>