@import "styles/variables";

.gallery-icon {
  font-size: 1.5rem;
}

a {
  color: $black;
  text-decoration: none !important;
  cursor: pointer;
}

a.link {
  color: $black !important;
  cursor: pointer;
}

.btn-outline-primary {
  margin: 0.25rem;
  border-radius: 22.5px;
  font-size: 1rem;
  text-transform: none;
}
