.header {
  background-image: url("/assets/img/headers/kayaks.jpg");
}

.card {
  border: none;
  background-color: transparent;
}
.card-img-top {
  border-radius: 0rem;
}

.map {
  iframe {
    height: 50vh;
    width: 100%;
    display: block;
  }
}
