<!-- Header -->
<div class="container-fluid header">
  <div class="row content">
    <div class="col-12 text-center">
      <h1>Dětská vodácká skupina ŠÁN</h1>
    </div>
    <div class="col-12 text-center">
      <a class="btn btn-primary btn-lg" [ngxScrollTo]="weOffer">Pádluj!</a>
    </div>
  </div>
</div>

<!-- Services -->
<section id="weOffer" #weOffer class="py-4">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h2>Zažij s námi</h2>
      </div>
      <div class="col-12 text-center">
        <p>Bohatá celoroční činnost, vodácký výcvik a tábor na ostrově uprostřed Labe.</p>
      </div>
    </div>

    <div class="row">
      <div class="card col-12 col-md-6 col-lg-4 mx-auto">
        <img class="card-img-top" src="assets/img/front-page/tabor_small.jpg" alt="">
        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title">Tábor na ostrově Šán</h3>
          <p class="card-text">Každý rok si užíváme obří porci zábavy na našem ostrově uprostřed Labe. Tři týdny dobrodružství, sportovních výzev a přátel. Ke konci prázdnin také jezdíme na týdenní puťák.</p>
          <a routerLink="/tabor" class="btn btn-primary mt-auto js-scroll-trigger">Chci jet na tábor</a>
        </div>
      </div>
      <div class="card col-12 col-md-6 col-lg-4 mx-auto">
        <img class="card-img-top" src="assets/img/front-page/akce_small.jpg" alt="">
        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title">Akci každý druhý víkend</h3>
          <p class="card-text">Co 14 dní s námi o víkendu vyrazíš na vodu, za sněhem do hor nebo třeba za dobrodružstvím v pražských uličkách. Koukni na <a routerLink="/fotogalerie">fotky</a> z minulých akcí a do <a routerLink="/program">programu</a> na co se můžeš těšit.</p>
          <a routerLink="/program" class="btn btn-primary mt-auto js-scroll-trigger">Chci jet na akci</a>
        </div>
      </div>
      <div class="card col-12 col-md-6 col-lg-4 mx-auto">
        <img class="card-img-top" src="assets/img/front-page/schuzky_small.jpg" alt="">
        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title">Schůzky každý týden</h3>
          <p class="card-text">Každý týden se scházíme v naší loděnici Bošán a hrajeme nejrůznější hry, vzděláváme se v tábornických dovednostech nebo vyrážíme na projížďky po Vltavě.</p>
          <a routerLink="/kontakty" class="btn btn-primary mt-auto js-scroll-trigger">Chci být Šánovec</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Recent events-->
<section class="py-4">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h2>Nedávno proběhlo</h2>
      </div>
      <div class="col-12 text-center">
        <p>Koukni na fotky z posledních pár akcí a zavzpomínej na zážitky s kamarády.</p>
      </div>
    </div>

    <albums-recent></albums-recent>
    <div class="row">
      <div class="col-12 text-center pb-3">
        <div><a routerLink="/fotogalerie" class="btn btn-primary">Další fotky</a></div>
      </div>
    </div>
  </div>
</section>

<!-- Events-->
<section class="py-4">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h2>Nejbližší akce</h2>
      </div>
      <div class="col-12 text-center">
        <p>Kam se s námi vypravíš v příštích týdnech.</p>
      </div>
    </div>
    <events-timeline limit="3"></events-timeline>
    <div class="row">
      <div class="col-12 text-center py-3">
        <div><a routerLink="/program" class="btn btn-primary">Kompletní program</a></div>
      </div>
    </div>
  </div>
</section>

<!-- Contacts -->
<section id="contacts" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Vedení skupiny</h2>
      </div>
      <div class="col-12 text-center">
        <p>Na koho se obrátit, když něco potřebuješ.</p>
      </div>
    </div>

    <contact-card [contacts]="contacts"></contact-card>
    <div class="row">
      <div class="col-12 text-center pb-3">
        <div><a routerLink="/kontakty" class="btn btn-primary">Další kontakty</a></div>
      </div>
    </div>
  </div>
</section>

<!-- Map -->
<section id="map" class="pt-4">
  <div class="container-fluid">
    <h2 class="text-center mb-4">Přijď se podívat osobně</h2>
    <p class="text-center">Každé pondělí a středu máme schůzky od 16:00 do 18:00 v naší loděnici.</p>
  </div>
  <div *ngIf="mapUrl" class="map">
    <iframe style="border:none" [src]="mapUrl | safeurl:'SafeResourceUrl'" width="800" height="600" frameborder="0"></iframe>
  </div>
</section>