@import "styles/variables";
// @import "styles/ionic-theme";

$eventHeight: 20px;

:host {
  overflow: auto;
  width: 100%;
}
.calendar {
  user-select: none;
}

.calendar-row {
  position: relative;
  width: 100%;
  min-height: 80px;
  padding-bottom: 20px;
  overflow: hidden;
  padding-top: 24px;
}

.events {
  position: relative;
  overflow: hidden;
}

.events .event {
  position: absolute;
  height: $eventHeight;
  margin-top: 1px;
  white-space: nowrap;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  font-size: 12px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.events.own {
  width: 100%;
}
.events.cpv {
  width: 100%;
  // min-height: 60px;
  // border-top: 1px solid #eee;

  .event {
    background-color: #000 !important;
  }
}

.day {
  position: absolute;
  top: 0;
  height: 100%;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: var(--ion-color-light);
}
.day:first-child {
  border-width: 0 1px 0 1px;
}

.day.odd-month {
  background-color: var(--ion-color-light);
}

.day.weekend {
  background-color: var(--ion-color-light-shade);
}
.day.holiday {
  background-color: var(--ion-color-medium);
}

.day {
  .date {
    font-size: 0.8em;
    width: 100%;
    padding: 0 2px;
    border-top: 1px solid var(--ion-color-light);
    border-bottom: 1px solid var(--ion-color-light);
  }
  .date.selectedRange {
    background-color: yellow;
    border-color: #fff;
  }
  .date.selected {
    background-color: #f00;
    border-color: #fff;
  }
}
