<nav class="navbar navbar-expand-lg navbar-dark" [class.top]="isTop" [class.transparent]="layoutService.menu.transparent && layoutService.menu.collapsed">
  <div class="container">

    <a class="navbar-brand text-uppercase" routerLink="/o-nas" routerLinkActive="active">
      <img src="/assets/img/san_logo_barva.png" class="d-inline d-lg-none logo-small mr-3" />Bosan.cz
      <span *ngIf="environment" class="environment">{{environment}}</span>
    </a>

    <button class="navbar-toggler" (click)="layoutService.menu.collapsed = !layoutService.menu.collapsed" type="button">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" [collapse]="layoutService.menu.collapsed">
      <div class="navbar-nav text-uppercase ml-auto" (click)="layoutService.menu.collapsed = true">
        <a class="nav-item nav-link px-lg-3" routerLink="/o-nas" routerLinkActive="active">O nás</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/aktualne" routerLinkActive="active">Aktuálně</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/program" routerLinkActive="active">Program</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/fotogalerie" routerLinkActive="active">Fotogalerie</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/tabor" routerLinkActive="active">Tábor</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/kontakty" routerLinkActive="active">Kontakty</a>

        <ng-container *ngIf="onlineService.online | async">
          <ng-container *ngIf="!authService.logged">
            <a *aclCan="'login'" class="nav-item nav-link px-lg-3" (click)="openLogin(); menuCollapsed=true" tooltip="Přihlásit se do interní sekce" placement="bottom"><i class="fa fa-lock"></i></a>
          </ng-container>

          <ng-container *ngIf="authService.logged">
            <div class="dropdown" dropdown>
              <a class="nav-item nav-link pl-lg-3" dropdownToggle routerLinkActive="active" (click)="$event.stopPropagation()"><i class="fas fa-user pr-2"></i>{{userLogin}}
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" routerLink="/interni/moje" routerLinkActive="active">Můj Bošán</a>
                  <li role="menuitem"><a class="dropdown-item" routerLink="/interni/obsah" routerLinkActive="active">Správa obsahu</a>
                  <li role="menuitem"><a class="dropdown-item" (click)="logout()">Odhlásit se</a>
                </ul>
              </a>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</nav>