<ion-content>
  <div class="login-container ion-padding">
    <div class="title">
      <h1 class="text-center mb-0 d-lg-none">Bošán interní</h1>
    </div>

    <div class="login">
      <h1 class="text-center mb-5 d-none d-lg-block">Bošán interní</h1>
      <p *ngIf="expired | async" class="text-danger">Přihlášení vypršelo, přihlas se znovu.</p>

      <div class="status" [ngSwitch]="status">
        <p *ngSwitchCase="'invalidCredentials'" class="text-danger">Chybné uživatelské jméno nebo heslo.</p>
        <p *ngSwitchCase="'credentialsLoginNotAvalible'" class="text-danger">
          Přihlášení přes login a heslo není možné. Je možné, že nemáte heslo nastavené. Použijte možnost zaslání
          odkazu.
        </p>
        <p *ngSwitchCase="'linkSending'" class="text-warning">Odesílám odkaz na email...</p>
        <p *ngSwitchCase="'linkSent'" class="text-success">Odkaz odeslán na email.</p>
        <p *ngSwitchCase="'userNotFound'" class="text-danger">Uživatel nenalezen.</p>
        <p *ngSwitchCase="'googleFailed'" class="text-danger">Přihlášení přes Google se nezdařilo.</p>
      </div>

      <ng-container [ngSwitch]="view">
        <form *ngSwitchCase="'login'" #loginFormEl #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <ion-item>
            <!-- <ion-label>Login</ion-label> -->
            <ion-input
              type="text"
              name="login"
              placeholder="Uživatelské jméno"
              [(ngModel)]="loginValue"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <!-- <ion-label>Heslo</ion-label> -->
            <ion-input [type]="'password'" name="password" placeholder="Heslo" ngModel required></ion-input>
          </ion-item>

          <div class="buttons text-center">
            <ion-button type="submit" color="primary" [disabled]="!loginForm.valid" class="my-3"
              >Přihlásit se</ion-button
            >

            <ion-button *ngIf="googleLoginAvailable | async" type="button" color="secondary" (click)="loginGoogle()">
              <i class="fab fa-google"></i>&nbsp;&nbsp;Přihlásit přes Bošánovský mail
            </ion-button>

            <ion-button type="button" color="secondary" (click)="view = 'link'">Poslat přihlašovací odkaz</ion-button>
          </div>

          <button type="submit" class="d-none"></button>
        </form>

        <form *ngSwitchCase="'link'" #loginLinkForm="ngForm" (ngSubmit)="sendLoginLink(loginLinkForm)">
          <ion-item>
            <ion-label position="floating">Uživatelské jméno nebo email</ion-label>
            <ion-input type="text" name="login" [(ngModel)]="loginValue" required></ion-input>
          </ion-item>

          <div class="buttons row">
            <div class="col-4 text-left">
              <ion-button type="submit" color="secondary" (click)="view = 'login'">Zpět</ion-button>
            </div>
            <div class="col-8 text-right">
              <ion-button type="submit" color="primary" [disabled]="!loginLinkForm.valid"> Odeslat </ion-button>
            </div>
          </div>
        </form>
      </ng-container>
    </div>

    <div class="version text-center text-muted small mt-5">Verze {{ version }}</div>
  </div>
</ion-content>
