# dependencies
/node_modules

# config files
config/environment.*.js
!config/environment.example.js
config/google.json
config/vapid.json

# internal assets
assets/uctovani-v6-web.xlsx

# data
data/
!.gitkeep