<div class="group-badges" [class.disabled]="disabled">
  <span *ngFor="let group of groups" (click)="toggleGroup(group)" [class.active]="isSelected(group)" [style.background-color]="group | group:'color'" [title]="group | group:'name'" class="group-badge">{{group}}</span>
  <div class="selectAll custom-control custom-checkbox">
    <input type="checkbox" [ngModel]="isSelectedAll()" (ngModelChange)="selectAll($event)" [disabled]="disabled" class="custom-control-input" id="checkboxSelectAll">
    <label class="custom-control-label" for="checkboxSelectAll">Všechny oddíly</label>
  </div>
</div>