<bo-page>
  <bo-page-header>

    <h2>Vytvořit album</h2>

    <div class="actions" *actionMenu>

      <button mat-button color="secondary" routerLink="/galerie">Zrušit</button>

    </div>
  </bo-page-header>


  <form #createAlbumForm="ngForm" (ngSubmit)="createAlbum(createAlbumForm)">
    <mat-form-field class="w-100">
      <mat-label>Název alba</mat-label>
      <input matInput type="text" name="name" ngModel required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Datum</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate ngModel name="dateFrom" placeholder="Začátek" required>
        <input matEndDate ngModel name="dateTill" placeholder="Konec" required>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div class="text-right">
      <button class="btn btn-primary" type="submit" [disabled]="!createAlbumForm.valid">Vytvořit</button>
    </div>
  </form>