<footer *ngIf="layoutService.footer.visible">
  <div class="container">

    <div class="row">

      <div class="col-6 col-md-3 p-3">
        <img src="/assets/img/san_logo_barva.png" class="logo">
      </div>

      <div class="col-6 col-md-3 p-3">
        <h4 class="text-uppercase">Činnost</h4>
        <ul class="list-unstyled">
          <li class="pl-3 pb-1"><a routerLink="/program">Program</a></li>
          <li class="pl-3 pb-1"><a routerLink="/fotogalerie">Fotogalerie</a></li>
          <li class="pl-3 pb-1"><a routerLink="/tabor">Tábor</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 p-3">
        <h4 class="text-uppercase">Kontakty</h4>
        <ul class="list-unstyled">
          <li class="pl-3 pb-1"><a routerLink="/kontakty" fragment="vedeni">Vedení skupiny</a></li>
          <li class="pl-3 pb-1"><a routerLink="/kontakty" fragment="pondeli">Schůzky v pondělí</a></li>
          <li class="pl-3 pb-1"><a routerLink="/kontakty" fragment="streda">Schůzky ve středu</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 p-3">
        <h4 class="text-uppercase">Naši sponzoři</h4>
        <ul class="list-unstyled">
          <li class="pl-3 pb-1"><a href="https://www.eurosignal.cz/" target="_blank">Eurosignal</a></li>
          <li class="pl-3 pb-1"><a href="https://www.boatpark.cz" target="_blank">Boatpark</a></li>
          <li class="pl-3 pb-1"><a href="https://www.praha.eu" target="_blank">Hlavní město Praha</a></li>
          <li class="pl-3 pb-1"><a href="http://www.praha4.cz/" target="_blank">MČ Praha 4</a></li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-12 text-center">
        <a href="https://www.facebook.com/bosan.cz/" target="_blank"><i class="p-3 fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UCXYrg3UCZtu4_wlYR2Cj_5A" target="_blank"><i class="p-3 fab fa-youtube"></i></a>
      </div>
    </div>

  </div>
</footer>