<bo-page>
  <bo-page-header>
    <h2>Vytvořit blogový příspěvěk</h2>

    <div class="actions" *actionMenu>
      <ion-button color="danger" routerLink="/galerie">Zrušit</ion-button>
    </div>
  </bo-page-header>

  <form #createBlogForm="ngForm" (ngSubmit)="createBlog(createBlogForm)">
    <ion-item>
      <ion-label>Titulek</ion-label>
      <ion-input type="text" name="title" ngModel required></ion-input>
    </ion-item>

    <div class="text-right">
      <button class="btn btn-primary" type="submit" [disabled]="!createBlogForm.valid">Vytvořit</button>
    </div>
  </form>
</bo-page>
