<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/blog"></ion-back-button>
    </ion-buttons>
    <ion-title>Vytvořit příspěvěk</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="createBlog(createBlogForm)">Vytvořit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createBlogForm="ngForm" (ngSubmit)="createBlog(createBlogForm)">
    <ion-item>
      <ion-label>Titulek</ion-label>
      <ion-input type="text" name="title" ngModel required></ion-input>
    </ion-item>
  </form>
</ion-content>
