<ion-content>
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">Zavřít</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-slides *ngIf="sliderOptions" #slider [options]="sliderOptions" (ionSlideDidChange)="onSlideChange($any($event))">
    <ion-slide *ngFor="let item of photos; let i = index">
      <div
        *ngIf="i <= currentPhoto + 1 && i >= currentPhoto - 1"
        class="image"
        [style.background-image]="'url(' + item.sizes.big.url + ')'"
      ></div>
    </ion-slide>
  </ion-slides>

  <ion-toolbar class="bottom-toolbar">
    <ion-item *ngIf="!editingCaption" lines="none">
      <ion-label [class.nocaption]="!photo.caption" (dblclick)="editCaption()">
        {{ photo.caption || "Bez popisku" }}
      </ion-label>
      <ion-button (click)="editCaption()" fill="clear"><ion-icon name="create-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item class="edit-caption" [class.d-none]="!editingCaption" lines="none">
      <ion-input
        #captionInput
        [ngModel]="photo.caption"
        (keyup.enter)="saveCaption(captionInput.value); $event.stopPropagation()"
      ></ion-input>
      <ion-button (click)="saveCaption(captionInput.value)" fill="clear" color="primary">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-content>
