
<section>
  <div class="container">

    <timeline-scroll [points]="timeline" (load)="loadAlbum($event)">
      <div class="albums">
        <div class="album" *ngFor="let point of timeline;let i = index">

          <ng-container *ngIf="point.album; else dummyAlbum">
            <h3>
              {{point.album.name}}
              <ng-container *ngIf="(point.album.dateFrom | date:'d. M.') !== (point.album.dateTill | date:'d. M.'); else oneDate">({{point.album.dateFrom | date:"d. M."}} - {{point.album.dateTill | date:"d. M. y"}})</ng-container>
              <ng-template #oneDate>({{point.album.dateFrom | date:"d. M. y"}})</ng-template>
            </h3>
            <div class="row photos">
              <div class="col-md-4" *ngFor="let photo of point.album.titlePhotos | slice:0:3">
                <div class="image" [style.background-image]="'url(' + photo.sizes?.small?.url + ')'" [style.background-color]="photo.bg || '#ccc'">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <p>{{point.album.description}}</p>
              </div>
              <div class="col-2 text-right">
                <a [routerLink]="'./' + point.album._id">Otevřít album</a>
              </div>
            </div>
          </ng-container>

          <ng-template #dummyAlbum>
            <h3>{{point.name}} ({{point.date | date:"d. M. y"}})</h3>
            <div class="row photos">
              <div class="col-md-4"><div class="image"></div></div>
              <div class="col-md-4"><div class="image"></div></div>
              <div class="col-md-4"><div class="image"></div></div>
            </div>
            <p></p>
          </ng-template>

        </div>
      </div>
    </timeline-scroll>
  </div>
</section>