@import '../../../../styles/variables';

.albums{padding-right:70px;}

.album{
  height:300px;
  overflow:hidden;
}
.album h4 a{
  color:$black;
  text-decoration:none;
}
.album .photos{
  height:$photo-height;
  max-height:$photo-max-height;
}
.album .image{
  display:block;
  width:100%;
  height:$photo-height;
  max-height:$photo-max-height;
  background-color:#eee;
}