<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Program</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Program"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div [class.d-none]="!showFilter" class="filter px-lg-3 py-1">
  <bo-trimester-selector
    lines="none"
    labelPosition="floating"
    [ngModel]="[dateFrom, dateTill]"
    (ngModelChange)="setTrimester($event)"
  ></bo-trimester-selector>
</div>

<div class="row no-gutters" style="flex-grow: 1">
  <div class="d-none d-lg-block col-12 col-lg-6" [class.d-block]="view === 'list'">
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let event of calendarEvents" [routerLink]="['/akce', event._id]">
          <ion-label>
            <h3>{{ event.name }}</h3>
            <p>{{ [event.dateFrom, event.dateTill] | dateRange }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
  <div class="d-none d-lg-block col-12 col-lg-6" [class.d-block]="view === 'calendar'">
    <ion-content>
      <bo-event-calendar
        *ngIf="dateFrom && dateTill"
        [dateFrom]="dateFrom"
        [dateTill]="dateTill"
        [events]="calendarEvents"
        [cpv]="true"
      ></bo-event-calendar>
    </ion-content>
  </div>
</div>
