<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Přidat člena</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createMemberForm="ngForm">
    <div class="row">
      <mat-form-field class="col-12 col-xl-6">
        <mat-label>Přezdívka</mat-label>
        <input matInput type="text" name="nickname" ngModel placeholder="Nositel prstenu" />
      </mat-form-field>

      <div class="w-100"></div>

      <mat-form-field class="col-12 col-xl-3">
        <mat-label>Jméno</mat-label>
        <input matInput type="text" ngModel name="first" placeholder="Bilbo" required />
      </mat-form-field>

      <mat-form-field class="col-12 col-xl-3">
        <mat-label>Příjmení</mat-label>
        <input matInput type="text" ngModel name="last" placeholder="Pytlík" required />
      </mat-form-field>

      <div class="w-100"></div>

      <mat-form-field class="col-12 col-xl-6">
        <mat-label>Oddíl</mat-label>
        <mat-select name="group" ngModel required>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="w-100"></div>

      <mat-form-field class="col-12 col-xl-6">
        <mat-label>Role</mat-label>
        <mat-select name="role" ngModel required>
          <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.id }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</ion-content>
