@import "styles/variables";

ion-content {
  --background: var(--ion-color-light);

  @media (prefers-color-scheme: dark) {
    --background: var(--ion-color-dark);
  }
}

.post {
  max-width: 768px;
  margin: 0 auto;
  min-height: 100%;
  background-color: $white;

  @media (prefers-color-scheme: dark) {
    background-color: $black;
  }
}
.perex {
  text-align: justify;
}
::ng-deep bo-text-view {
  .image {
    margin-left: -1em;
    margin-right: -1em;
  }
}
