<!-- Header -->
<header>
  <strong>Dětská vodácká skupina ŠÁN</strong>
  <a class="btn btn-primary" href="#zazij">Pádluj!</a>
</header>

<!-- Services -->
<section id="we-offer">
  <h1>Zažij s námi</h1>
  <p class="subheading text-muted">bohatou celoroční činnost, vodácký výcvik a tábor na ostrově uprostřed Labe.</p>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 .card">
        <div>
          <img class="rounded img-fluid" src="assets/img/front-page/tabor_small.jpg" alt="">
          <h2>Tábor na ostrově Šán</h2>
          <p class="text-muted">Každý rok si užíváme obří porci zábavy na našem ostrově uprostřed Labe. Tři týdny dobrodružství, sportovních výzev a přátel. Letos na téma Cesta kolem světa za 80 dní.</p>
          <a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" routerLink="/tabor">Chci jet na tábor</a>
        </div>
      </div>
      <div class="col-md-4 .card">
        <div>
          <img class="rounded img-fluid" src="assets/img/front-page/akce_small.jpg" alt="">
          <h2>Akci každý druhý víkend</h2>
          <p class="text-muted">Co 14 dní s námi o víkendu vyrazíš na vodu, za sněhem do hor nebo třeba za dobrodružstvím v pražských uličkách. Koukni na <a href="galerie.php">fotky</a> z minulých akcí a do <a href="program.php">programu</a> na co se můžeš těšit.</p>
          <a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" routerLink="/program">Chci jet na akci</a>
        </div>
      </div>
      <div class="col-md-4 .card">
        <div>
          <img class="rounded img-fluid" src="assets/img/front-page/schuzky_small.jpg" alt="">
          <h2>Schůzky každý týden</h2>
          <p class="text-muted">Každý týden se scházíme v naší loděnici Bošán a hrajeme nejrůznější hry, vzděláváme se v tábornických dovednostech nebo vyrážíme na projížďky po Vltavě.</p>
          <a class="btn btn-primary btn-x2 text-uppercase js-scroll-trigger" href="#zazij">Chci být Šánovec</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sekce nedavno probehlo -->
<section class="bg-light" id="recentEvents">
  <h1>Nedávno proběhlo</h1>
  <p class="subheading text-muted">koukni na fotky z posledních pár akcí a zavzpomínej na zážitky s kamarády Šánovci.</p>

  <div class="container">
    
    <div class="row firstRow">
      <div *ngFor="let event of recentEvents | slice:0:2" class="col-md-6 col-sm-12 no-gutters event">
        <a [routerLink]="getEventLink(event)" [style.background-image]="'url(' + event.image + ')'" class="rounded"></a>
        <h2>{{event.name}}</h2>
        <p class="text-muted">{{event.dateFrom | date:"d. M."}} ~ {{event.dateTill | date:"d. M."}}</p>
      </div>
    </div>

    <div class="row secondRow">
      <div *ngFor="let event of recentEvents | slice:2:5" class="col-md-4 col-sm-6 no-gutters event">
        <a [routerLink]="getEventLink(event)" [style.background-image]="'url(' + event.image + ')'" class="rounded"></a>
        <h2>{{event.name}}</h2>
        <p class="text-muted">{{event.dateFrom | date:"d. M."}} ~ {{event.dateTill | date:"d. M."}}</p>
      </div>
    </div>
    
  </div>
</section>

<!-- About -->
<section id="timeline">
  <h1>Nejbližší akce</h1>
  <p class="subheading text-muted">Kam se s námi vypravíš v příštích týdnech.</p>
  
  <div class="container">
    
    <events-timeline></events-timeline>

    <div class="text-center"><a href="program.php" class="btn btn-primary btn-xl text-uppercase">kompletní program</a></div>
  </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
  
  <h1>Vedení skupiny</h1>
  <p class="subheading text-muted">Na koho se obrátit, když něco potřebuješ.</p>
  
  <div class="container">
    <ul class="row list-unstyled contacts">
      <li class="col-12 col-md-3">
        <img src="img/team/slon.png" class="rounded-circle">
        <div class="contact-details">
          Slon <span class="text-muted small">(Michal Krkavec)</span>
          <h4>hlavní vedoucí skupiny</h4>
          <a href="mailto:slon@bosan.cz">slon@bosan.cz</a><br>
          <a href="tel:+420 724 519 459">+420&nbsp;724 519 459</a><br>
        </div>
        <span class="clearfix"></span>
      </li>
      <li class="col-12 col-md-3">
        <img src="https://i.imgur.com/hfH9CiC.png" class="rounded-circle">
        <div class="contact-details">
          Tyčka <span class="text-muted small">(Jan Svoboda)</span>
          <h4>hospodář skupiny</h4>
          <a href="mailto:tycka@bosan.cz">tycka@bosan.cz</a><br>
          <a href="tel:+420 606 939 753">+420&nbsp;606 939 753</a><br>
        </div>
        <span class="clearfix"></span>
      </li>
      <li class="col-12 col-md-3">
        <img src="https://i.imgur.com/hfH9CiC.png" class="rounded-circle">
        <div class="contact-details">
          Jára <span class="text-muted small">(Jaroslav Havelík)</span>
          <h4>člen vedení</h4>
          <a href="mailto:jara@bosan.cz">jara@bosan.cz</a><br>
          <a href="tel:+420 721 833 194">+420&nbsp;721 833 194</a><br>
        </div>
        <span class="clearfix"></span>
      </li>
      <li class="col-12 col-md-3">
        <img src="https://i.imgur.com/hfH9CiC.png" class="rounded-circle">
        <div class="contact-details">
          Pat <span class="text-muted small">(Vojtěch Hübner)</span>
          <h4>člen vedení</h4>
          <a href="mailto:pat@bosan.cz">pat@bosan.cz</a><br>
          <a href="tel:+420 736 137 718">+420&nbsp;736 137 718</a><br>
        </div>
        <span class="clearfix"></span>
      </li>
    </ul>
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <p class="large text-muted">Ve vedení skupiny jsou vždy zkušení členové, kteří zajišťují chod po stránce organizační a pomáhají mladším se zlepšovat a předávají jim své zkušenosti s cílem vychovat z nich své následovníky. Vedení je volené na jeden rok.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <a href="kontakt.php" class="btn btn-primary btn-xl text-uppercase">Další kontakty</a>
      </div>
    </div>
  </div>
</section>

<!-- Mapa -->
<section>
  
  <h1>Vedení skupiny</h1>
  <p class="subheading text-muted">Na koho se obrátit, když něco potřebuješ.</p>
  
  <div class="container-fluid" id="map">
    <google-map></google-map>
  </div>
  
</section>