<section>
  <div class="container">

    <button type="button" class="btn btn-primary float-right" (click)="openCreateEventModal(createEventModal)">Nová
      akce</button>

    <h2>Přehled akcí</h2>

    <div class="row">

      <div class="col-lg-2">

        <nav class="nav nav-pills flex-column">
          <a class="nav-link font-weight-bold" [routerLink]="['./',{}]" [class.active]="!year">Budoucí</a>
          <a class="nav-link" *ngFor="let yearItem of years" [routerLink]="['./',{year:yearItem}]"
            [class.active]="year === yearItem">{{yearItem}}</a>
        </nav>

      </div>

      <div class="col-lg-10">

        <admin-table>
          <thead class="thead-dark">
            <tr>
              <th>Název akce</th>
              <th>Datum</th>
              <th>Vede</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events" [routerLink]="['./',{},event._id,'upravit']">
              <td>{{event.name}}</td>
              <td class="date">{{event.dateFrom | date:"EEEEEE d. M."}} - {{event.dateTill | date:"EEEEEE d. M. y"}}
              </td>
              <td>
                <ng-container *ngFor="let leader of event.leaders;let isFirst = first">
                  <ng-container *ngIf="!isFirst">, </ng-container>
                  <span [style.color]="leader.group | group:'color'">{{leader.nickname || leader.name?.first}}</span>
                </ng-container>
                <strong *ngIf="!event.leaders?.length" class="text-danger">Pan NIKDO</strong>
              </td>
              <td>
                <event-status-badge [event]="event"></event-status-badge>
              </td>
              <td class="text-right">
                <a [routerLink]="['./',{},event._id,'upravit']"><i class="fas fa-pencil-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </admin-table>

      </div>
    </div>
  </div>
</section>

<ng-template #createEventModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vytvořit novou akci</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="createEventModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #createEventForm="ngForm" (ngSubmit)="createEvent(createEventForm)">
    <div class="modal-body">
      <div class="form-group">
        <label for="createEventInput-name">Název</label>
        <input type="text" name="name" ngModel class="form-control" id="createEventInput-name"
          placeholder="Neočekávaný dýchánek" required>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="createEventInput-datefrom">Začátek</label>
          <input type="date" ngModel name="dateFrom" class="form-control" id="createEventInput-datefrom" required>
        </div>
        <div class="form-group col-md-6">
          <label for="createEventInput-datetill">Konec</label>
          <input type="date" ngModel name="dateTill" class="form-control" id="createEventInput-datetill" required>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-primary" type="submit" [disabled]="!createEventForm.valid">Vytvořit</button>
    </div>
  </form>
</ng-template>