<p *ngIf="uploadingRegistration">Nahrávám&hellip;</p>

<div *ngIf="event?.registration && !uploadingRegistration">
  <p>Přihláška nahrána.</p>
  <a class="d-none d-md-inline-block btn btn-sm btn-secondary mr-3 text-light" (click)="openRegistration(registrationPreview)">Zobrazit</a>
  <a class="btn btn-sm btn-secondary mr-3" [href]="getRegistrationUrl()" download="registration.pdf">Stáhnout</a>
  <a *ngIf="!readonly" class="btn btn-sm btn-danger text-light delete" (click)="deleteRegistration()">Smazat</a>
</div>

<div *ngIf="event && !event.registration && !uploadingRegistration" class="row">
  <div *ngIf="!readonly" class="col-12 col-lg-6">
    <div class="custom-file">
      <input class="custom-file-input" type="file" name="file" accept="application/pdf" #registrationInput ngModel (ngModelChange)="uploadRegistration(registrationInput)" required>
      <label class="custom-file-label" for="customFile">Přihláška není nahrána. Nahraj přihlášku v PDF</label>
    </div>
  </div>
  <p *ngIf="readonly">Přihláška není nahrána.</p>
</div>

<ng-template #registrationPreview>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Přihláška na akci {{event.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <object [data]="getRegistrationUrl() | safeurl:'SafeResourceUrl'" type="application/pdf" style="width:100%;height:70vh"></object>
  </div>
</ng-template>