@import "./variables";

html,
body {
  height: 100%;
}
body {
  margin: 0; /*font-family: Roboto, "Helvetica Neue", sans-serif; */
}

button:focus {
  outline: 0 !important;
}

/* LAYOUT */
body {
  font-family: $font-family;
  color: $black;
  background-color: #fff;
  font-size: $font-basic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 0.5rem;
}

p.multiline {
  white-space: pre-line;
}

.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ccc;
  background-size: cover;
  height: 85vh;
  text-align: center;
  position: relative;
}
.header::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
.header .content {
  position: relative;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 2;
}

.header h1 {
  color: $white;
  font-size: $font-super-large;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

section:nth-child(odd) {
  background-color: $grey;
}

a.btn {
  display: inline-block;
}
a.flat {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.group-badges .group-badge {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
  opacity: 1;
}
.group-badges .group-badge:first-of-type {
  margin-left: 0;
}
.group-badges .group-badge:last-of-type {
  margin-right: 0;
}

@media print {
  .group-badges .group-badge {
    border: 1px solid #666;
  }
}

h2 .back {
  margin-right: 10px;
}

a {
  color: $linkBlue;
  cursor: pointer;
}
a.link {
  color: $linkBlue !important;
  cursor: pointer;
}
a:not(.btn):hover {
  color: $hover-yellow !important;
}

a.badge,
.badge a {
  cursor: pointer;
}

.footer-text {
  color: $white;
}

.badge-pill {
  color: $white;
  font-size: 1rem;
  background-color: $black;
  padding: 0.5rem 1rem;
}

.red {
  background-color: #bb0000;
}

.green {
  background-color: #36802d;
}

.blue {
  background-color: #012475;
}

.yellow {
  background-color: #fec503;
}

@media (pointer: coarse) {
  .responsive-font {
    font-size: 1.8em;
  }
}

/* VALIDATION */

input:valid:not(.novalidate, [matInput]),
select:valid:not(.novalidate, [matInput]),
textarea:valid:not(.novalidate, [matInput]) {
  border-left: 5px solid #42a948 !important; /* green */
}
input:invalid:not(.novalidate, [matInput]),
select:invalid:not(.novalidate, [matInput]),
textarea:invalid:not(.novalidate, [matInput]) {
  border-left: 5px solid #a94442 !important; /* red */
}

::-moz-selection {
  background: #00bfff;
  text-shadow: none;
}

::selection {
  background: #00bfff;
  text-shadow: none;
}

/* SHADOW FOR IMAGES */
.img-shadow {
  box-shadow: $shadow;
}

.modal-content {
  max-height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border: none;
}

.modal-body {
  overflow: auto;
  flex: 1 1 auto;
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    max-height: 100vh;
    height: 100%;
    border-radius: 0;
    border: none;
  }

  .modal-footer,
  .modal-header {
    flex: 0 0 auto;
  }

  .navbar-brand {
    flex-grow: 1;
  }
}

/* EVENTS */

.event {
  .circle {
    position: relative;
    top: 50%;
    margin-top: calc(-1 * $circle-size / 2);
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background-color: #ccc;
    z-index: 5;
  }
}
