/* IMPORTS */

@import "~styles/bootstrap";

@import "~styles/general";

html,
body {
  height: 100%;
}
body {
  margin: 0; /*font-family: Roboto, "Helvetica Neue", sans-serif; */
}

button:focus {
  outline: 0 !important;
}
