$black: #0f0f0f;
$black70: #3e3e3e;
$grey: #f1f1f1;
$darkGrey: #999;
$white: #f9f9f9;
$blue: #006fff;
$lightBlue: rgba(0, 111, 255, 0.05);
$hover-yellow: #fec503;
$red: #f00;

$font-small: 0.8rem;
$font-basic: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-super-large: 3.5rem;

$linkBlue: #00bfff;

$shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
$photo-height: 30vh;
$photo-max-height: 200px;

$font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;

$circle-size: 2rem;
