<div class="container-fluid px-lg-5 pt-3 pt-lg-5">

  <h2 pageTitle class="d-none">Plánování akcí</h2>

  <div class="row">
    <div class="col-lg-3 col-xl-2">
      <form #trimesterForm="ngForm" class="mb-5">
        <div class="row d-none">
          <div class="col-6">
            <a [routerLink]="['./',getPreviousTrimester()]" class="btn btn-light"><i class="fas fa-arrow-left"></i></a>
          </div>
          <div class="col-6 text-right">
            <a [routerLink]="['./',getNextTrimester()]" class="btn btn-light"><i class="fas fa-arrow-right"></i></a>
          </div>
        </div>

        <div class="form-group">
          <label>Rok</label>
          <input type="number" name="year" class="form-control" [ngModel]="year" (ngModelChange)="setTrimester(trimesterForm)">
        </div>

        <div class="form-group">
          <label>Trimestr</label>
          <select name="trimester" [ngModel]="trimester" (ngModelChange)="setTrimester(trimesterForm)" class="form-control">
            <option value="0">leden - duben</option>
            <option value="1">květen - srpen</option>
            <option value="2">září - prosinec</option>
          </select>
        </div>

      </form>

      <div class="legend d-none d-lg-block">
        <mat-list>
          <mat-list-item *ngFor="let status of statuses">
            <span [ngClass]="'text-' + status.class"><i class="fas fa-circle mr-2"></i>{{status.name || status.id}}</span>
          </mat-list-item>
          <mat-list-item class="text-dark">
            <span class="text-dark"><i class="fas fa-circle mr-2"></i>CPV</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>


    <div class="col-lg-9 col-xl-10 px-lg-5">

      <div class="calendar-container">
        <div class="calendar">
          <ng-container *ngFor="let month of calendar">
            <h3 class="mb-3">{{month.name}} {{month.year}}</h3>

            <div class="month">

              <div class="days clearfix">
                <div *ngFor="let day of month.days" class="day" [style.left]="(day.date.day - 1) * (1/month.days.length) * 100 + '%'" [style.width]="(1/month.days.length)*100 + '%'" [class.weekend]="isWeekend(day)" [class.holiday]="day.isHoliday" [class.selected]="isSelected(day)" (mousedown)="setEventStart(day)" (mouseover)="setEventEnd(day)" (mouseup)="createEvent()">
                  <div class="date">
                    {{day.date | date:"d."}}
                  </div>
                </div>
              </div>


              <div class="events own" [style.height]="(month.blocks.own.levels + 1) * 18 + 'px'">
                <div *ngFor="let calEvent of month.blocks.own.events" [class]="'event ' + getEventClass(calEvent.event)" [style.left]="getEventLeft(calEvent,month) * 100 + '%'" [style.width]="getEventWidth(calEvent,month) * 100 + '%'" [style.top]="18 * calEvent.level + 'px'" [tooltip]="getEventTooltip(calEvent.event)" placement="bottom" [routerLink]="['/interni/akce',calEvent.event._id]"></div>
              </div>

              <div class="events cpv" [style.height]="month.blocks.cpv.levels * 18 + 'px'">
                <a *ngFor="let calEvent of month.blocks.cpv.events" class="event" [style.left]="getEventLeft(calEvent,month) * 100 + '%'" [style.width]="getEventWidth(calEvent,month) * 100 + '%'" [style.top]="18 * calEvent.level + 'px'" [tooltip]="calEvent.event.name" [attr.href]="calEvent.event.link || null" target="_blank" placement="bottom"></a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>