@import "~styles/variables";

.legend span {
  white-space: nowrap;
}

.calendar-container {
  overflow: auto;
  width: 100%;
}
.calendar {
  user-select: none;
}

.calendar {
  min-width: 1000px;

  .month {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 24px;
    margin-bottom: 40px;
  }

  .events {
    position: relative;
    overflow: hidden;
  }
  .events .event {
    position: absolute;
    height: 16px;
    margin-top: 1px;
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
  }
  .events .draft {
    background-color: $darkGrey;
  }
  .events .public {
    background-color: $blue;
  }
  .events .cancelled {
    background-color: $red;
  }

  .events.own {
    width: 100%;
    height: 160px;
  }
  .events.cpv {
    height: 60px;
    border-top: 1px solid #eee;
  }

  .day {
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 1px solid #eee;
  }
  .day:first-child {
    border-left: 1px solid #eee;
  }

  .day.weekend {
    background-color: #eee;
    border-color: #fff;
  }
  .day.holiday {
    background-color: #ccc;
    border-color: #fff;
  }
  .day.selected {
    background-color: #f00;
    border-color: #fff;
  }

  .day {
    .date {
      width: 100%;
      padding: 0 2px;
      border-bottom: 1px solid #eee;
    }
  }
}
