<form class="form" #eventForm="ngForm" (ngSubmit)="saveEvent(eventForm)">

  <div class="form-group">
    <label for="campNameInput">Název akce</label>
    <input type="text" name="name" [ngModel]="event.name" class="form-control" id="campNameInput" placeholder="Neočekávaný dýchánek" required>    
  </div>

  <div class="form-group">
    <label for="campPlaceInput">Místo konání</label>
    <input type="text" name="place" [ngModel]="event.place" class="form-control" id="campPlaceInput" placeholder="Dno pytle">    
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="statusInput">Stav</label>
      <select name="status" [ngModel]="event.status" class="form-control" id="statusInput" required>    
        <option value="public">veřejná</option>
        <option value="draft">v přípravě</option>
      </select>
    </div>
    <div class="form-group col-6">
      <label for="typeInput">Typ akce</label>
      <select name="type" [ngModel]="event.type" class="form-control" id="typeInput" required>    
        <option value="walking">pěší</option>
        <option value="city">po městě</option>
        <option value="water-trip">vodní turistika</option>
        <option value="whitewater">divoká voda</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="dateFromInput">Od</label>
      <input type="date" name="dateFrom" [ngModel]="event.dateFrom | date: 'y-MM-dd'" class="form-control" id="dateFromInput" required>
    </div>
    <div class="form-group col-6">
      <label for="dateTillInput">Do</label>
      <input type="date" name="dateTill" [ngModel]="event.dateTill | date: 'y-MM-dd'" class="form-control" id="dateTillInput" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="leaderInput">Vede</label>
      <select name="leader" [ngModel]="event.leader" class="form-control" id="leaderInput">
        <option value="">NIKDO</option>
        <option *ngFor="let leader of leaders" [value]="leader._id">{{leader.name}}</option>
      </select>
    </div>
    <div class="form-group col-6">
      <label for="coleaderInput">Spoluvede</label>
      <select name="coleader" [ngModel]="event.coleader" class="form-control" id="coleaderInput">
        <option value="">NIKDO</option>
        <option *ngFor="let leader of leaders" [value]="leader._id">{{leader.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="descriptionInput">Popis</label>
    <textarea name="description" [ngModel]="event.description" class="form-control" id="descriptionInput"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Uložit</button>
</form>