<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/uzivatele"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>
      <ng-container *ngIf="user && user.login">
        {{ user.login }}
        <ng-container *ngIf="user.member">
          &nbsp;({{ user.member.nickname }}, {{ user.member.group | group: "name" }})
        </ng-container>
        <ng-container *ngIf="!user.member && user.email">&nbsp;({{ user.email }})</ng-container>
      </ng-container>
      <ng-container *ngIf="user && !user.login && user.email">{{ user.email }}</ng-container>
      <ng-container *ngIf="user && !user.login && !user.email">{{ user._id }}</ng-container>
    </ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row">
    <div class="col-lg-4">
      <h3>Info</h3>
      <ion-item>
        <ion-label>ID: {{ user?._id }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Login: {{ user?.login }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Bošánovský mail: {{ user?.email }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Člen:
          <ng-container *ngIf="user?.member">
            {{ user!.member.nickname }}
            ({{ user!.member.name.first }} {{ user!.member.name.first }}, {{ user!.member.group | group: "name" }})
          </ng-container>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Role
          <ng-container *ngFor="let role of userRoles; let isLast = last">
            {{ role.title }}<ng-container *ngIf="!isLast">, </ng-container>
          </ng-container>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
