@import "~styles/variables";

.right{border-left:1px solid #ccc;}

.buttons .btn{width:100%;margin-bottom:20px;}

.block{padding:30px 0;border-bottom:1px solid $grey}

.attendees .list{font-size:$font-medium;color:#fff;}
.attendees .add{font-size:.8em;cursor:pointer;}
a.delete{cursor:pointer;}

a.edit{cursor:pointer;font-size:.8em;}

.leadersOnly{display:inline-block;margin-left:20px;}

.expensesForm th.id{width:60px;}
.expensesForm th.amount{width:100px;}
