<section>
  <div *ngIf="event" class="container">
    <h2>
      {{event.name}}
      <sup>
        <span class="badge badge-secondary" *ngIf="event.status === 'draft'">Připravovaná akce</span>
        <span class="badge badge-success" *ngIf="event.status === 'public'">Akce v programu</span>
      </sup>
    </h2>

    <div class="row">
      <div class="col-md-10">
        {{[event.dateFrom,event.dateTill] | dateRange}}
        <div class="block">
          <p *ngIf="event.decription else noDescription">{{event.description | nl2br}}</p>
          <ng-template #noDescription><p>Popisek akce chybí</p></ng-template>
          <p>
            <strong>Vede</strong>
            &nbsp;
            <span *ngFor="let leader of event.leaders" [tooltip]="leader.name.first + ' ' + leader.name.last">{{leader.nickname}}</span>
            &nbsp;
            <a>přidat vedoucího</a>
          </p>
        </div>
        
        <div class="block">
          <h4>Účastníci</h4>
          <table class="table table-sm">
            <thead>
              <tr><th>Účastník</th><th>Role</th><th>Přihláška</th><th>Cena</th><th>Zaplaceno</th><th>Vrátit</th><th>Vráceno</th></tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>                
            </tfoot>
          </table>
          <a>přidat účastníka</a>
        </div>
        <div class="accounting block row no-gutters">
          <div class="col-md-6">
            <h4>Výdaje</h4>
            <table class="table table-sm">
              <tbody>
                <tr><th>Potraviny</th><td>0 Kč</td><td>0 Kč/os</td></tr>
                <tr><th>Doprava</th><td>0 Kč</td><td>0 Kč/os</td></tr>
                <tr><th>Materiál</th><td>0 Kč</td><td>0 Kč/os</td></tr>
              </tbody>
              <tfoot>    
                <tr><th>Celkem</th><td>0 Kč</td><td>0 Kč/os</td></tr>
              </tfoot>
            </table>
            <a>soupis výdajů</a>
            <br>
            <a>přidat výdaj</a>
          </div>
          <div class="col-md-6">
            <h4>Příjmy</h4>
            <table class="table table-sm">
              <tbody>
                <tr><th>Poplatky za akci</th><td>0 Kč</td></tr>
                <tr><th>Dotace</th><td>0 Kč</td></tr>
              </tbody>
              <tfoot>    
                <tr><th>Celkem</th><td>0 Kč</td></tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="block">
          <h4>Report</h4>
          <div *ngIf="!edit.report" [innerHTML]="event.report || '<p>Report je prázdný.</p>'"></div>
          <a>upravit report</a>
        </div>
      </div>
      <div class="col-md-2 buttons right">            
        <button *ngIf="event._actions?.announce" [disabled]="!event._actions?.announce" class="btn btn-primary btn-sm" type="button">Poslat ohlášku</button>
        <button *ngIf="event._actions?.finalize" [disabled]="!event._actions?.finalize" class="btn btn-primary btn-sm" type="button">Uzavřít akci</button>
        <button *ngIf="event._actions?.cancel" [disabled]="!event._actions?.cancel" class="btn btn-danger btn-sm" type="button">Zrušit akci</button>
        <button *ngIf="event._links?.self?.allowed.DELETE" class="btn btn-danger btn-sm" type="button">Smazat akci</button>
      </div>
    </div>
  </div>
</section>