<form *ngIf="camp">
  <div class="form-group">
    <label for="campNameInput">Název tábora</label>
    <input type="text" name="name" [ngModel]="camp.name" class="form-control" id="campNameInput" [placeholder]="defaultName" required>    
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label for="dateFromInput">Od</label>
      <input type="date" name="dateFrom" [ngModel]="camp.dateFrom | date: 'y-MM-dd'" class="form-control" id="dateFromInput" required>
    </div>
    <div class="form-group col-6">
      <label for="dateTillInput">Do</label>
      <input type="date" name="dateTill" [ngModel]="camp.dateTill | date: 'y-MM-dd'" class="form-control" id="dateTillInput" required>
    </div>
  </div>

  <div class="form-group">
    <label for="campThemeInput">Téma CTH</label>
    <input type="text" name="theme" [ngModel]="camp.theme" class="form-control" id="campThemeInput" placeholder="Hobit - Cesta tam a zase zpátky" required>    
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>