<div class="events">
  <div *ngFor="let event of events" class="event card">
    <div class="card-body row">
      <div class="col-md-9">
        <h3>{{event.name}}</h3>
        <p>{{event.description}}</p>
      </div>
      <div class="col-md-3 buttons">
        <button *ngIf="event._links.publish" class="btn btn-primary btn-sm" (click)="publishEvent(event)">Schválit</button>
        <button *ngIf="event._links.unpublish" class="btn btn-secondary btn-sm" (click)="unpublishEvent(event)">Vrátit</button>
        <a [routerLink]="'/interni/obsah/akce/' + event._id" class="btn btn-light btn-sm">Upravit info</a>
      </div>
  </div>
</div>