<ion-app>
  <ion-split-pane contentId="content">
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <img src="assets/img/san_logo_barva.png" class="d-inline logo-small mr-3" />
            Interní sekce
            <span *ngIf="environment$ | async as environment" class="environment">&nbsp;{{ environment }}</span>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <admin-menu (click)="this.closeMenu()"></admin-menu>
      </ion-content>

      <div class="version text-center text-muted small pb-1">Verze {{ version }}</div>
    </ion-menu>

    <ion-router-outlet [animated]="false" id="content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
