@import "~styles/variables";

#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  overflow: auto;
  flex-grow: 1;
}

#secondaryMenu {
  border-top: 1px solid $grey;
}

::ng-deep {
  #secondaryMenu {
    nav {
      flex-direction: row !important;
      flex-wrap: nowrap;
      overflow: auto;
      width: 100%;
      a {
        white-space: nowrap;
      }
    }
  }
}
