<ion-app>
  <ion-split-pane contentId="content">
    <ion-menu contentId="content">
      <admin-menu *ngIf="menuService.visible | async" class="d-print-none"></admin-menu>
    </ion-menu>

    <div id="content">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>

<!-- <div id="layout">
  <header>
    <div *ngIf="!(onlineService.online | async)" id="offline" class="text-center bg-danger text-light">
      Nejste připojeni k internetu. Zobrazené údaje mohou být zastaralé.
    </div>

    <div *ngIf="(onlineService.online | async) && (swUpdate.available | async)" id="update" class="text-center bg-warning text-light">
      Je k dispozici nová verze bosan.cz. <a (click)="reload()">Načíst</a>
    </div>

  </header>


  <div *ngIf="menuService.secondaryMenu" id="secondaryMenu" class="d-block d-lg-none p-2">
      <ng-container *ngTemplateOutlet="menuService.secondaryMenu"></ng-container>
  </div>

</div> -->
