@import "~styles/variables";

.tags{margin:10px 0;}
.tags .tag{margin:0 5px 0 0;}
.share{float:right;}
.share a{color:$linkBlue}

.container {
  padding: 15px 0 15px 0;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

