<nav class="navbar navbar-expand-lg navbar-dark" [class.top]="isTop" [class.transparent]="layoutService.menu.transparent && layoutService.menu.collapsed">
  <div class="container">

    <a class="navbar-brand text-uppercase" routerLink="/o-nas" routerLinkActive="active">
      <img src="/assets/img/san_logo_barva.png" class="d-inline d-lg-none logo-small mr-3" />
      
      <span class="d-none d-lg-inline">Bosan.cz</span>
      <span class="d-inline d-lg-none">{{subTitle | async}}</span>
      
      <span *ngIf="environment" class="environment">&nbsp;{{environment}}</span>
    </a>

    <button class="navbar-toggler" (click)="layoutService.menu.collapsed = !layoutService.menu.collapsed" type="button">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" [collapse]="layoutService.menu.collapsed">
      <div class="navbar-nav text-uppercase ml-auto" (click)="layoutService.menu.collapsed = true">
        <a class="nav-item nav-link px-lg-3" routerLink="/o-nas" routerLinkActive="active">O nás</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/aktualne" routerLinkActive="active">Aktuálně</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/program" routerLinkActive="active">Program</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/fotogalerie" routerLinkActive="active">Fotogalerie</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/tabor" routerLinkActive="active">Tábor</a>
        <a class="nav-item nav-link px-lg-3" routerLink="/kontakty" routerLinkActive="active">Kontakty</a>

        <ng-container *ngIf="onlineService.online | async">
          <ng-container *ngIf="!(userService.user | async)">
            <a *aclCan="'login'" class="nav-item nav-link px-lg-3" (click)="openLogin(); menuCollapsed=true" tooltip="Přihlásit se do interní sekce" placement="bottom"><i class="fa fa-lock"></i></a>
          </ng-container>

          <ng-container *ngIf="userService.user | async as user">
            <a class="nav-item nav-link pl-lg-3" routerLink="/interni/moje" routerLinkActive="active"><i class="fas fa-user pr-2"></i><span class="d-inline d-lg-none">Můj Bošán: </span>{{user.login}}</a>
            <a class="nav-item nav-link pl-lg-3" *aclCan="'admin'" routerLink="/interni/obsah" routerLinkActive="active" tooltip="Správa obsahu" placement="bottom"><i _ngcontent-c1="" class="fas fa-th pr-2"></i><span class="d-inline d-lg-none">Správa obsahu</span></a>
            <a class="nav-item nav-link pl-lg-3" *aclCan="'logout'" (click)="logout()" tooltip="Odhásit se" placement="bottom"><i class="fas fa-sign-out-alt pr-2"></i><span class="d-inline d-lg-none">Odhlásit se</span></a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</nav>