<timeline-scroll #scroll="timelineScroll"></timeline-scroll>

<div class="content" #content>

  <div class="search container mt-5 mb-3">
    <div class="searchForm form-row">
      <div class="offset-md-3 col-md-6">

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Hledat album" ngModel (ngModelChange)="search$.next($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
          </div>
        </div>

      </div>
    </div>
    <div class="results">
      <ul class="list-group">
        <a *ngFor="let point of searchResults" [routerLink]="'/fotogalerie/' + point._id" class="list-group-item list-group-item-action">{{point.name}} ({{[point.dateFrom,point.dateTill] | dateRange:"d. M. y":"d. M.":"d.":" - "}})</a>
      </ul>
    </div>
  </div>

  <div class="albums container pt-3">

    <div *ngFor="let point of timeline;let i = index" class="album">

      <timeline-scroll-label *ngIf="!i || timeline[i-1].year !== point.year" [label]="point.year" [for]="scroll" align="right"></timeline-scroll-label>

      <gallery-album *ngIf="point.album; else dummyAlbum" [album]="point.album"></gallery-album>

      <ng-template #dummyAlbum>
        <h4>{{point.name}} ({{[point.dateFrom,point.dateTill] | dateRange:"d. M. y":"d. M.":"d.":" - "}})</h4>
        <div class="row photos">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="image"></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-lg-block d-none">
            <div class="image"></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-lg-block d-md-block d-none">
            <div class="image"></div>
          </div>
        </div>
        <p></p>
      </ng-template>

    </div>

  </div>

  <div *ngIf="loading" class="loading">
    <p>Načítám&hellip;</p>
  </div>
</div>