<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Členská databáze</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #filterForm="ngForm" class="filter py-1">
    <ion-toolbar>
      <ion-searchbar type="text" name="search" ngModel (keydown.enter)="$event.preventDefault()"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="showFilter = !showFilter" [color]="showFilter ? 'primary' : 'default'">
          <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <div class="row" [hidden]="!showFilter">
      <div class="col-12 col-md-3">
        <ion-item lines="none">
          <ion-label position="stacked">Oddíl</ion-label>
          <ion-select multiple name="groups" [ngModel]="filter.groups" placeholder="všechny">
            <ion-select-option *ngFor="let group of groups | keyvalue" [value]="group.key">
              {{ group.value.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="col-12 col-md-3">
        <ion-item lines="none">
          <ion-label position="stacked">Role</ion-label>
          <ion-select multiple name="roles" [ngModel]="filter.roles" placeholder="všechny">
            <ion-select-option *ngFor="let role of roles | keyvalue" [value]="role.key">
              {{ role.value.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="col-12 col-md-3">
        <ion-item lines="none">
          <ion-label position="stacked">Aktivní člen</ion-label>
          <ion-select multiple name="activity" [ngModel]="filter.activity">
            <ion-select-option value="active">Aktivní</ion-select-option>
            <ion-select-option value="inactive">Neaktivní</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="col-12 col-md-3">
        <ion-item lines="none">
          <ion-label position="stacked">Zobrazené sloupce</ion-label>
          <ion-select multiple name="fields" [ngModel]="filter.fields">
            <ion-select-option *ngFor="let field of fields | keyvalue" [value]="field.key">
              {{ field.value.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </form>

  <admin-table>
    <thead>
      <tr>
        <th *ngIf="fields.nickname.visible">{{ fields.nickname.name }}</th>
        <th *ngIf="fields.group.visible">{{ fields.group.name }}</th>
        <th *ngIf="fields.role.visible">{{ fields.role.name }}</th>
        <th *ngIf="fields.post.visible">{{ fields.post.name }}</th>
        <th *ngIf="fields.rank.visible">{{ fields.rank.name }}</th>
        <th *ngIf="fields.stars.visible">{{ fields.stars.name }}</th>
        <th *ngIf="fields.name.visible">{{ fields.name.name }}</th>
        <th *ngIf="fields.birthday.visible">{{ fields.birthday.name }}</th>
        <th *ngIf="fields.age.visible">{{ fields.age.name }}</th>
        <th *ngIf="fields.email.visible">{{ fields.email.name }}</th>
        <th *ngIf="fields.mobile.visible">{{ fields.mobile.name }}</th>
        <th *ngIf="fields.city.visible">{{ fields.city.name }}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let member of filteredMembers"
        [routerLink]="member._id"
        class="member"
        [class.inactive]="member.inactive"
      >
        <th *ngIf="fields.nickname.visible">{{ member.nickname }}</th>
        <td *ngIf="fields.group.visible">
          <span class="group-badge" [style.color]="member.group | group: 'color'">
            {{ member.group | group: "name" }}
          </span>
        </td>
        <td *ngIf="fields.role.visible">{{ member.role }}</td>
        <td *ngIf="fields.post.visible">{{ member.post }}</td>
        <td *ngIf="fields.rank.visible">{{ member.rank }}</td>
        <td *ngIf="fields.stars.visible">{{ member.stars }}</td>
        <td *ngIf="fields.name.visible">{{ member.name?.first }} {{ member.name?.last }}</td>
        <td *ngIf="fields.birthday.visible">{{ member.birthday | date: "d. M. y" }}</td>
        <td *ngIf="fields.age.visible">{{ member.birthday ? getAge(member.birthday) : "" }}</td>
        <td *ngIf="fields.email.visible">{{ member.contacts?.email }}</td>
        <td *ngIf="fields.mobile.visible">
          {{
            member.contacts?.mobile ||
              (member.contacts?.mother ? member.contacts?.mother + " (matka)" : undefined) ||
              (member.contacts?.father ? member.contacts?.father + " (otec)" : undefined || "")
          }}
        </td>
        <td *ngIf="fields.city.visible">{{ member.address?.city }}</td>

        <td class="buttons">
          <a class="clickable" (click)="copyRow(member); $event.stopPropagation()">
            <ion-icon name="copy-outline"></ion-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </admin-table>
</ion-content>
