.image-strip {
  height: 100px;
  overflow: auto;
  white-space: nowrap;
  border-top: 2px solid #000;

  a {
    display: inline-block;
    height: 100%;
    padding: 1px 1px 1px 0;
    opacity: 0.5;
    transition: opacity 200ms;
  }

  a.active,
  a:hover {
    opacity: 1;
  }

  a img {
    height: 100%;
  }
}
