<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

      <mat-card *ngIf="dashboard?.noLeaderEventsCount > 0">
        <mat-card-title>Volné akce!</mat-card-title>
        <mat-card-content>
          <mat-nav-list>
            <mat-list-item>
              <a matLine routerLink="/interni/akce/5d61ae487ad3da238fb9d5b9">Řekni STOP a zachraň svou generaci!</a>
              <button mat-flat-button color="primary">Vést</button>
            </mat-list-item>
            <mat-list-item>
              <a matLine routerLink="/interni/akce/5d61ae487ad3da238fb9d5b9">Řekni STOP a zachraň svou generaci!</a>
              <button mat-flat-button color="primary">Vést</button>
            </mat-list-item>
            <mat-list-item>
              <a matLine routerLink="/interni/akce/5d61ae487ad3da238fb9d5b9">Řekni STOP a zachraň svou generaci!</a>
              <button mat-flat-button color="primary">Vést</button>
            </mat-list-item>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-md-4 right">
      <h4 class="d-block d-md-none border-bottom border-secondary">Nejbližší akce</h4>
      <div *ngFor="let event of dashboard?.program" class="mb-4">
        <h5>{{[event.dateFrom,event.dateTill] | dateRange}} | {{event.name}}</h5>
        <p>Vede <strong [innerHTML]="(event.leaders | joinLeaders) || 'pan NIKDO'"></strong></p>
      </div>
    </div>
  </div>
</div>