<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/databaze"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>
      {{ getFullName(member) }}
    </ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Člen"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!member">
    <h1><ion-skeleton-text></ion-skeleton-text></h1>
  </div>

  <div *ngIf="member" class="member-data">
    <h1>{{ member.nickname || member.name?.first || member.name?.last }}</h1>
    <p>
      {{ member.name?.first }} {{ member.name?.last }},
      <span [style.color]="member.group | group : 'color'">{{ member.group | group : "name" }}</span
      >, {{ (member.birthday | age) || "?" }}&nbsp;let
    </p>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <bo-card-personal-info [member]="member"></bo-card-personal-info>

        <bo-card-contacts [member]="member"></bo-card-contacts>
      </div>

      <div class="col-lg-6">
        <bo-card-allergies [member]="member"></bo-card-allergies>

        <bo-card-insurance [member]="member"></bo-card-insurance>

        <bo-card-membership [member]="member"></bo-card-membership>
      </div>
    </div>
  </div>
</ion-content>
