<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/databaze"></ion-back-button>
    </ion-buttons>
    <ion-title>Přidat člena</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createMemberForm="ngForm">
    <div class="row">
      <div class="col-12 col-xl-6">
        <ion-item>
          <ion-label position="stacked">Přezdívka</ion-label>
          <ion-input type="text" name="nickname" ngModel placeholder="Pulčík"></ion-input>
        </ion-item>
      </div>

      <div class="w-100"></div>

      <ng-container ngModelGroup="name">
        <div class="col-12 col-xl-3">
          <ion-item>
            <ion-label position="stacked">Jméno</ion-label>
            <ion-input type="text" ngModel name="first" placeholder="Bilbo" required></ion-input>
          </ion-item>
        </div>

        <div class="col-12 col-xl-3">
          <ion-item>
            <ion-label position="stacked">Příjmení</ion-label>
            <ion-input type="text" ngModel name="last" placeholder="Pytlík" required></ion-input>
          </ion-item>
        </div>
      </ng-container>

      <div class="w-100"></div>

      <div class="col-12 col-xl-6">
        <ion-item>
          <ion-label position="stacked">Oddíl</ion-label>
          <ion-select name="group" ngModel required placeholder="Chluponozi">
            <ion-select-option *ngFor="let group of groups | keyvalue" [value]="group.key">
              {{ group.value.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="w-100"></div>

      <div class="col-12 col-xl-6">
        <ion-item>
          <ion-label position="stacked">Role</ion-label>
          <ion-select name="role" ngModel required placeholder="nositel prstenu">
            <ion-select-option *ngFor="let role of roles | keyvalue" [value]="role.key">
              {{ role.value.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </form>
</ion-content>
