<ion-list>
  <ion-item>
    <ion-label>Login a heslo:</ion-label>
    <ion-label *ngIf="user?.login">
      <ion-text color="success">Zapnuto</ion-text><br />
      <a class="clickable" (click)="openChangeCredentials()">Změnit přihlašovací údaje</a>
    </ion-label>
    <ion-label *ngIf="!user?.login">
      <ion-text color="danger">Vypnuto</ion-text><br />
      <a class="clickable" (click)="openChangeCredentials()">Nastavit přihlašovací údaje</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Bošánovský mail:</ion-label>
    <ion-label *ngIf="user?.email">
      <ion-text color="success">Zapnuto</ion-text><br />
      {{ user?.email }}
    </ion-label>
    <ion-label *ngIf="!user?.email">
      <ion-text color="danger">Vypnuto</ion-text><br />
      U účtu není uveden email
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Odkazem na mail:</ion-label>
    <ion-label *ngIf="user?.email">
      <ion-text color="success">Zapnuto</ion-text><br />
      {{ user?.email }}
    </ion-label>
    <ion-label *ngIf="!user?.email">
      <ion-text color="danger">Vypnuto</ion-text><br />
      U účtu není uveden email
    </ion-label>
  </ion-item>
</ion-list>
