<section>
  <div class="container">

    <h2 *ngIf="event">{{event.name}} ({{event.dateFrom | date:"d. M."}} ~ {{event.dateTill | date:"d. M. y"}})</h2>
    <h2 *ngIf="!event">Načítám...</h2>

    <div class="row">

      <div class="col-lg-2">

        <nav class="nav nav-pills flex-column">
          <a class="nav-link" routerLink="../upravit" routerLinkActive="active">Upravit info</a>
          <!--<a class="nav-link" routerLink="../opakovani" routerLinkActive="active">Opakování ({{event?.recurring ? "zapnuto" : "vypnuto"}})</a>-->
          
          <a class="nav-link" routerLink="../vedouci" routerLinkActive="active">Vedoucí akce ({{event?.leaders.length}})</a>
          <!--<a class="nav-link disabled" routerLink="../ucastnici" routerLinkActive="active" tooltip="Připravujeme" placement="left">Účastníci ({{event?.attendees.length}})</a>-->
          
          <a class="nav-link" routerLink="../prihlaska" routerLinkActive="active">Přihláška</a>
          
          <a class="nav-link text-danger" routerLink="../smazat" routerLinkActive="active">Smazat akci</a>
        </nav>

      </div>

      <div *ngIf="event" class="col-lg-10" [ngSwitch]="category">

        <event-admin-info *ngSwitchCase="'upravit'" [event]="event" (saved)="reloadEvent()"></event-admin-info>

        <event-admin-recurring *ngSwitchCase="'opakovani'" [event]="event" (saved)="reloadEvent()">
        </event-admin-recurring>

        <event-admin-attendees *ngSwitchCase="'ucastnici'" [event]="event" (saved)="reloadEvent()">
        </event-admin-attendees>

        <event-admin-registration *ngSwitchCase="'prihlaska'" [event]="event" (saved)="reloadEvent()">
        </event-admin-registration>

        <event-admin-leaders *ngSwitchCase="'vedouci'" [event]="event" (saved)="reloadEvent()"></event-admin-leaders>

        <div *ngSwitchCase="'smazat'">
          <input type="checkbox" [(ngModel)]="deleteConfirmation" id="deleteConfirmationInput"> <label
            for="deleteConfirmationInput">Opravdu chci smazat tuto akci</label>
          <br>
          <button type="button" [disabled]="!deleteConfirmation" (click)="deleteEvent()" class="btn btn-danger">Smazat
            akci</button>
        </div>
        
      </div>
    </div>
  </div>
</section>