<section>
  <div class="container">

    <h2 class="d-none d-lg-block">Nastavení účtu</h2>

    <div class="row">

      <div class="col-lg-2">

        <nav class="nav nav-pills flex-column">
          <a class="nav-link" routerLink="info" routerLinkActive="active">Informace</a>
          <a class="nav-link" routerLink="notifikace" routerLinkActive="active">Notifikace</a>
          <a class="nav-link" routerLink="prihlasovaci-udaje" routerLinkActive="active">Přihlašovací údaje</a>
        </nav>

      </div>

      <div class="col-lg-10">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</section>