@import "./variables";

/* LAYOUT */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-family;
  color: $black;
  background-color: #fff;
  font-size: $font-basic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a[href],
a.clickable {
  cursor: pointer;
  color: $blue;
}
:host,
body,
html {
  --colorPrimary: #{$colorPrimary};
  --colorSecondary: #{$colorSecondary};
  --colorTertiary: #{$colorTertiary};
  --colorSuccess: #{$colorSuccess};
  --colorWarning: #{$colorWarning};
  --colorDanger: #{$colorDanger};
  --colorDark: #{$colorDark};
  --colorMedium: #{$colorMedium};
  --colorLight: #{$colorLight};

  --black: #{$black};
  --black70: #{$black70};
  --darkGrey: #{$darkGrey};
  --grey: #{$grey};
  --lightGrey: #{$lightGrey};
  --white: #{$white};

  --blue: #{$blue};
  --lightBlue: #{$lightBlue};
  --linkBlue: #{$linkBlue};

  @media (prefers-color-scheme: dark) {
    --colorPrimary: #{$colorPrimary};
    --colorSecondary: #{$colorSecondary};
    --colorTertiary: #{$colorTertiary};
    --colorSuccess: #{$colorSuccess};
    --colorWarning: #{$colorWarning};
    --colorDanger: #{$colorDanger};
    --colorDark: #{$colorLight};
    --colorMedium: #{$colorMedium};
    --colorLight: #{$colorDark};

    --black: #{$white};
    --black70: #{$black70};
    --darkGrey: #{$lightGrey};
    --grey: #{$grey};
    --lightGrey: #{$darkGrey};
    --white: #{$black};

    --blue: #{$blue};
    --lightBlue: #{$lightBlue};
    --linkBlue: #{$linkBlue};
  }
}
