/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header.md {
  ion-toolbar {
    --ion-background-color: #333;
    --ion-toolbar-color: #fff;
  }
}

ion-menu {
  ion-toolbar.md {
    --ion-background-color: #111;
  }
  ion-title.ios {
    padding-left: 0;
    padding-right: 0;
  }
}

ion-split-pane {
  --border: none;
}

ion-content {
  padding: 1em;
}

@media (min-width: 768px) {
  ion-modal.ion-modal-lg::part(content) {
    --width: 80%;
    --height: 80%;
  }
}
