<div class="row">
  <div class="col">
    <ion-item [lines]="lines">
      <ion-label [position]="labelPosition">Rok</ion-label>
      <ion-input type="number" inputmode="numeric" [(ngModel)]="year" (ngModelChange)="setTrimester()"></ion-input>
    </ion-item>
  </div>
  <div class="col">
    <ion-item [lines]="lines">
      <ion-label [position]="labelPosition">Trimestr</ion-label>
      <ion-select [(ngModel)]="trimester" (ngModelChange)="setTrimester()">
        <ion-select-option [value]="0">leden - duben</ion-select-option>
        <ion-select-option [value]="1">květen - srpen</ion-select-option>
        <ion-select-option [value]="2">září - prosinec</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</div>
