<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akce"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Přihláška: {{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Přihláška"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <object
    *ngIf="event?._links?.registration?.allowed?.GET"
    [data]="getRegistrationUrl(event!)"
    type="application/pdf"
    style="width: 100%; height: 70vh"
  ></object>

  <!-- 
    <div *ngIf="!event?.registration" class="p-md-5">
      <p *ngIf="uploadingRegistration">Nahrávám&hellip;</p>
      <div class="row">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
          <div class="custom-file">
            <input
              class="custom-file-input"
              type="file"
              name="file"
              accept="application/pdf"
              #registrationInput
              ngModel
              (ngModelChange)="uploadRegistration(registrationInput)"
              required
            />
            <label class="custom-file-label" for="customFile">Přihláška není nahrána. Nahraj přihlášku v PDF</label>
          </div>
        </div>
      </div>
    </div> -->
</ion-content>
