@import "./variables";

/* LAYOUT */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-family;
  color: $black;
  background-color: #fff;
  font-size: $font-basic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 0.5rem;
}

.loading {
  > * {
    position: relative;

    animation-name: loadingBgAnimation;
    animation-duration: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 50%;
  }

  @keyframes loadingBgAnimation {
    from {
      background-color: #ddd;
    }
    to {
      background-color: #f6f7f8;
    }
  }
}

.filter {
  background-color: #f9f9f9;
  ion-item {
    --ion-background-color: transparent;
  }
}
