@import "./variables";

/* LAYOUT */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-family;
  color: $black;
  background-color: #fff;
  font-size: $font-basic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 0.5rem;
}

a[href],
a.clickable {
  cursor: pointer;
  color: $blue;
}
