.photoInput{display:none;}

.dropzone{padding:50px 0;background-color:#eee;border-radius:5px;}
.dropzone:hover{background-color:#ddd;}
.dropzone p{color:#999;text-align:center;margin:0;}

.tags label{font-weight:bold;text-transform:uppercase;margin:0 5px 0 0;}

.queue{margin-top:20px;}
.queue .remove{cursor: pointer;}

.tags{margin-top:20px;}