<ng-container *ngIf="album">
  <h4>
    <a [routerLink]="'/fotogalerie/' + album._id" [adminLink]="'/interni/galerie/' + album._id">
      {{album.name}} ({{[album.dateFrom,album.dateTill] | dateRange:"d. M. y":"d. M.":"d.":" - "}})
    </a>
  </h4>
  <div class="row photos">
    <ng-container *ngFor="let photo of album.titlePhotos | slice:0:3; let i = index">
      <div class="col-sm-12 col-md-6 col-lg-4" [class.d-none]="i>0" [class.d-lg-block]="i>0" [class.d-md-block]="i>1">
        <a [routerLink]="'/fotogalerie/' + album._id + '/' + photo._id" class="image" [style.background-image]="'url(' + photo.sizes?.small?.url + ')'" [style.background-color]="photo.bg || '#ccc'"></a>
      </div>
    </ng-container>
  </div>
  <div class="row my-2">

    <div class="col d-flex justify-content-start text-truncate">
      <ng-container *ngIf="album.description">
        <p class="desc">{{album.description}}</p>
      </ng-container>
    </div>
    <div class="col col-auto">
      <a [routerLink]="'/fotogalerie/' + album._id" class="flat">Otevřít album</a>
    </div>
  </div>
</ng-container>
