<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="album ? '/galerie/' + album._id : undefined"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Upravit: {{ album?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #albumForm="ngForm">
    <div class="row">
      <div class="col-12">
        <ion-item>
          <ion-label position="stacked">Název alba</ion-label>
          <ion-input
            type="text"
            name="name"
            [ngModel]="album?.name"
            placeholder="Neočekávaný dýchánek"
            required
          ></ion-input>
        </ion-item>
      </div>

      <div class="col-12">
        <ion-item>
          <ion-label position="stacked">Akce v programu</ion-label>
          <bo-event-selector
            [ngModel]="album?.event"
            name="event"
            placeholder="Neočekávaný dýchánek"
            (event)="eventUpdated($event)"
          ></bo-event-selector>
        </ion-item>
      </div>

      <div class="col-12 col-lg-4">
        <ion-item>
          <ion-label position="stacked">Datum od</ion-label>
          <ion-input
            type="date"
            [ngModel]="album?.dateFrom | date: 'yyyy-MM-dd'"
            name="dateFrom"
            placeholder="Začátek"
            required
          ></ion-input>
        </ion-item>
      </div>

      <div class="col-12 col-lg-4">
        <ion-item>
          <ion-label position="stacked">Datum do</ion-label>
          <ion-input
            type="date"
            [ngModel]="album?.dateTill | date: 'yyyy-MM-dd'"
            name="dateTill"
            placeholder="Konec"
            required
          ></ion-input>
        </ion-item>
      </div>

      <div class="col-12 col-lg-4">
        <ion-item>
          <ion-label position="stacked">Publikováno</ion-label>
          <ion-input
            type="date"
            [ngModel]="album?.datePublished | date: 'yyyy-MM-dd'"
            name="datePublished"
            placeholder="Pubikováno"
            required
          ></ion-input>
        </ion-item>
      </div>

      <div class="col-12">
        <ion-item>
          <ion-label position="stacked">Popis</ion-label>
          <ion-textarea name="description" autoGrow [ngModel]="album?.description"></ion-textarea>
        </ion-item>
      </div>
    </div>
  </form>
</ion-content>
