<!-- Header -->
<div class="container-fluid header">
    <div class="row content">
        <div class="col-12 text-center">
            <h1>Tábor na ostrově ŠÁN</h1>
        </div>
        <div class="col-12 text-center">
            <a class="btn btn-primary btn-lg" [ngxScrollTo]="campLife">Pojeď na tábor!</a>
        </div>
    </div>
</div>

<!-- Summer Camp -->
<section id="camp" class="py-4">

    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="mb-3">Letní vodácký tábor - ŠÁN 2023</h1>
                <p class="subheading">Dětská organizace KONDOR, skupina ŠÁN připravuje na prázdniny 2023 dva turnusy
                    letního vodáckého tábora na svém ostrově na Labi nedaleko Roudnice nad Labem. Tábor je určen
                    všem, kteří mají rádi pohyb, jsou ve věku od 7 do 15 let a mají alespoň základy plavání (na
                    ostrově se vodě nevyhneš).</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-6 mx-auto contact pb-3">
                <h4>I. turnus (1. - 22. 7. 2023)</h4>
                <p class="badge badge-pill m-1 blue">4. oddíl</p>
                <p class="badge badge-pill m-1 green">6. oddíl</p>
                <p class="badge badge-pill m-1 yellow">8. oddíl</p>
                <p class="badge badge-pill m-1 yellow">22. oddíl</p><br>

                <h4>Vojtěška<br>Vojtěch Neumann</h4>
                <p class="badge badge-pill mb-1">hlavní vedoucí</p><br>
                <a class="a-black" href="mailto:vojteska@bosan.cz">vojteska@bosan.cz</a><br>
                <a class="a-black" href="tel:737390342">737 390 342</a><br>

            </div>
            <div class="col-12 col-md-6 mx-auto contact pb-3">
                <h4>II. turnus (22. 7. - 12. 8. 2023)</h4>
                <p class="badge badge-pill m-1 green">3. oddíl</p>
                <p class="badge badge-pill m-1 red">5. oddíl</p>
                <p class="badge badge-pill m-1 blue">7. oddíl</p><br>

                <h4>Máčko<br>Veronika Hauerová</h4>
                <p class="badge badge-pill mb-1">hlavní vedoucí</p><br>
                <a class="a-black" href="mailto:macko@bosan.cz">macko@bosan.cz</a><br>
                <a class="a-black" href="tel:734315382">734 315 382</a><br>
            </div>
        </div>
    </div>
</section>

<!-- About Camp -->
<section #campLife class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-3">Táborový život</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 order-1 order-md-1 order-lg-1">
                <p>Obou turnusů se zúčastní padesát šest dětí, které jsou rozděleny do čtyř oddílů po dvou
                    posádkách. Posádky mezi sebou soutěží v celotáborové hře. Každá z posádek se stará o svou
                    devítikánoi, na které se plavíme po okolí Šánu a hrajeme většinu
                    celotáborových her. Program je laděn sportovně, s ohledem na možnost využití dostupného
                    vodáckého vybavení. K výcviku dále slouží (laminátové i plastové) deblovky, kajaky, singlkanoe a
                    pár dalších pokladů, na které v loděnici narazíme. Mezi
                    další možnosti patří i názorná výuka eskymování a zdokonalování se v plavání. Nováčkům zdarma
                    zapůjčíme kompletní vodácké vybavení.</p>
            </div>
            <div class="col-12 order-3 order-md-2 order-lg-2">
                <p>Ostrov se nachází na 805. říčním kilometru řeky Labe u vesnice Hrobce (pro pedanty jako já:
                    nástupiště leží na 804,6 ř.km a převoz na 804,7 ř.km). Do roku 2008 to byl 32. říční kilometr,
                    budiž mu voda lehká. Šán je asi 1km dlouhý a v nejširším
                    místě asi 60m široký. Spíme ve stanech, pět jídel denně děti dostávají v prosvětlené laminátové
                    jídelně, která je spojena s naší novou zděnou kuchyní.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 order-2 order-md-3 order-lg-3">
                <p><img src="../assets/img/camp-info/ships.jpg" class="img-fluid img-shadow rot-2deg"></p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 order-4 order-md-4 order-lg-4">
                <p><img src="../assets/img/camp-info/tent.jpg" class="img-fluid img-shadow rot-minus3deg"></p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 order-6 order-md-6 order-lg-5">
                <p><img src="../assets/img/camp-info/poseidon.jpg" class="img-fluid img-shadow rot-3deg"></p>
            </div>
            <div class="col-12 order-5 order-md-5 order-lg-6">
                <p> Děti si nejen hrají, ale učí se i různým novým dovednostem – vázat uzle, morseovku, základy
                    topografie, zdravovědy... Dopoledne většinou probíhá oddílový program, který mají pod taktovkou
                    jednotliví oddíloví vedoucí, a odpoledne vyrážíme společně
                    na celotáborovou hru. Všichni sledujeme napínavý příběh, který nás provází celým táborem a
                    posádky zde mají možnost získávat nejvíce bodů. Večer každý bedlivě hlídá nástěnku a na ní změny
                    v celotáborovém bodování. Výjimkou jsou tradiční šánovské
                    specialitky jako třeba legendární Poseidonské hry. Denní program je skutečně nabitý od ranní
                    rozcvičky až po večerní nástup a drhnutí zubů. :-) Děti mají volný čas během poledního klidu po
                    obědě a přes hodinu po večeři. Tu dobu je nejlepší
                    využít na psaní dopisů domů, ale z pohledu dětí spíše na hraní s novými kamarády. Společně se
                    svým vedoucím, kuchařem a dalšími dospělými děti pomáhají při přípravě jídel a dalším
                    zabezpečení tábora – připravují dříví, člunaři vozí suroviny
                    a vodu z druhého břehu, myjí nádobí. Jedním slovem služba, o kterou se všechny oddíly
                    spravedlivě střídají.<br>Tábor je každoročně zakončen slavnostním táborákem, na který jsou
                    pozváni i rodiče a přátelé.</p>
            </div>
        </div>
    </div>
</section>

<!-- Camp Info -->
<section class="py-4">
    <div class="container">
        <h2 class="text-center mb-3">Na kolik mě ta legrace přijde?</h2>

       <h4>4 400,- Kč pro členy skupiny ŠÁN</h4>
       <ul class="list-unstyled">
           <li>- 500,- Kč záloha splatná do 14 dní od vydání přihlášky (pro vážné zájemce) plus 3 900,- Kč
               doplatek do konce května
           </li>
       </ul>

       <h4>4 900,- Kč pro nečleny</h4>
       <ul class="list-unstyled">
           <li>- 500,- Kč záloha splatná do 14 dní od vydání přihlášky (pro vážné zájemce) plus 4 400,- Kč
               doplatek do konce května
           </li>
           <li>- účastníci tábora získají členské příspěvky od září do prosince 2023
               <strong>zdarma</strong>!
           </li>
       </ul>

       <h4>sleva 500,- Kč pro sourozence</h4>

        <h2 class="text-center mb-4">Co je v ceně?</h2>

        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <ul class="list-unstyled">
                    <li>- doprava autobusem z naší loděnice v Praze</li>
                    <li>- úrazové pojištění</li>
                    <li>- možnost čerpání finančního příspěvku od zaměstnavatele</li>
                    <li>- hlavní vedoucí certifikovaný MŠMT ČR</li>
                    <li>- odborní zdravotníci</li>
                    <li>- samozřejmě stravování pětkrát denně</li>
                    <li>- ubytování ve stanech s podsadou</li>
                    <li>- zázemí v laminátové jídelně a zděné kuchyni</li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <img src="../assets/img/camp-info/food.jpg" class="img-fluid img-camp rot-2deg">
            </div>
        </div>

        <h2 class="text-center mt-5 mb-4">Chceš vědět víc?</h2>

        <div class="text-center pb-3">
            <a routerLink="/kontakty" class="btn btn-primary">Kontaktuj nás</a>
        </div>
    </div>
</section>


<!-- Camp Location -->
<section id="map" #map class="pt-4">
    <div class="container-fluid">
        <h2 class="pb-3 text-center">Kde máme tábořiště?</h2>

        <p class="text-center">LVT ostrov Šán, Hrobce u Roudnice nad Labem, 411 83</p>

    </div>
    <div *ngIf="mapUrl" class="map">
        <iframe style="border:none" [src]="mapUrl | safeurl:'SafeResourceUrl'" width="800" height="600" frameborder="0"></iframe>
    </div>
</section>
