:host{display: block;}

.galleryPhoto{display:inline-block;background-color:#ccc;position:relative;}
.galleryPhoto img{width:100%;height:100%;}
.galleryPhoto .shader{display:block;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.3);opacity:0;}
.galleryPhoto .caption{display:block;position:absolute;top:33%;left:0;right:0;background-color:rgba(0,0,0,.5);color:#fff;opacity:0;text-align:center;}
.galleryPhoto .shader, .galleryPhoto .caption{transition:opacity 250ms;}
.galleryPhoto:hover .shader{opacity:1;}
.galleryPhoto:hover .caption{opacity:1;}