<div class="row firstRow">
  <div *ngFor="let event of events | slice:0:2" class="col-md-6 col-sm-12 no-gutters event">
    <a [routerLink]="getEventLink(event)" [style.background-image]="'url(' + event.image + ')'" class="rounded"></a>
    <h2>{{event.name}}</h2>
    <p class="text-muted">{{event.dateFrom | date:"d. M."}} ~ {{event.dateTill | date:"d. M."}}</p>
  </div>
</div>

<div class="row secondRow">
  <div *ngFor="let event of events | slice:2:5" class="col-md-4 col-sm-6 no-gutters event">
    <a [routerLink]="getEventLink(event)" [style.background-image]="'url(' + event.image + ')'" class="rounded"></a>
    <h2>{{event.name}}</h2>
    <p class="text-muted">{{event.dateFrom | date:"d. M."}} ~ {{event.dateTill | date:"d. M."}}</p>
  </div>
</div>