<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Uživatelské účty</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Uživatelské účty"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form #filterForm="ngForm" class="filter d-md-block px-3">
  <div class="row">
    <div class="col">
      <ion-searchbar type="text" name="search" ngModel (keydown.enter)="$event.preventDefault()"></ion-searchbar>
    </div>

    <div class="col-12 col-md col-xl-2">
      <ion-item lines="none">
        <ion-label position="floating">Role</ion-label>
        <ion-select multiple name="role" ngModel placeholder="všechny">
          <ion-select-option *ngFor="let role of roles" [value]="role.id">{{ role.title }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</form>

<ion-content>
  <admin-table>
    <thead>
      <tr>
        <th>Login</th>
        <th>Bošánovský mail</th>
        <th>Propojený člen</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers" [routerLink]="user._id">
        <td>{{ user.login }}</td>
        <td>{{ user.email || "-" }}</td>
        <td>
          <ng-container *ngIf="user.member">
            {{ user.member.nickname }} ({{ user.member.name?.first }} {{ user.member.name?.last }})
          </ng-container>
          <ng-container *ngIf="!user.member">-</ng-container>
        </td>
        <td>
          <span *ngFor="let role of user.roles" class="role badge badge-dark">{{ getRoleName(role) }}</span>
        </td>
      </tr>
    </tbody>
  </admin-table>
</ion-content>
