<section>
  <div class="container">

    <h2>Tábory</h2>

    <div class="row">

      <div class="col-3">

        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" [routerLink]="['./',{view:'future'}]" [class.active]="view === 'future'">Budoucí</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['./',{view:'past'}]" [class.active]="view === 'past'">Minulé</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['./',{view:'all'}]" [class.active]="view === 'all'">Vše</a></li>
          <br>
          <li class="nav-item"><button type="button" class="btn btn-primary" (click)="openCreateCampModal(createCampModal)">Nový tábor</button></li>      
        </ul>

      </div>

      <div class="col-9">

        <table class="table table-striped table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Tábor</th>
              <th>Od</th>
              <th>Do</th>
              <th>CTH</th>
              <th>Hlavas</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let camp of camps" (click)="openCamp(camp)">
              <td>{{camp.name}}</td>
              <td>{{camp.dateFrom | date:"EEEEEE d. M. y"}}</td>
              <td>{{camp.dateTill | date:"EEEEEE d. M. y"}}</td>
              <td>{{camp.theme}}</td>
              <td>{{camp.leader}}</td>
              <td class="text-right"><a [routerLink]="'/interni/tabory/' + camp._id + '/upravit'"><i class="fas fa-pencil-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


    <ng-template #createCampModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Vytvořit nový tábor</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createCampModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #createCampForm="ngForm" (ngSubmit)="createCamp(createCampForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Název tábora</label>
            <input type="text" name="name" ngModel class="form-control" required>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>Datum od</label>
              <input type="date" name="dateFrom" ngModel class="form-control" required>
            </div>
            <div class="form-group col-md-6">
              <label>Datum do</label>
              <input type="date" name="dateTill" ngModel class="form-control" required>
            </div>
          </div>
        </div>
        <div class="modal-footer text-right">
          <button class="btn btn-primary" type="submit" [disabled]="!createCampForm.valid">Vytvořit</button>
        </div>
      </form>
    </ng-template>