<form #trimesterForm="ngForm" class="mb-5">
  <div class="form-group">
    <label>Rok</label>
    <input
      type="number"
      name="year"
      class="form-control"
      [(ngModel)]="year"
      (ngModelChange)="setTrimester(year, trimester)"
    />
  </div>

  <div class="form-group">
    <label>Trimestr</label>
    <select
      name="trimester"
      class="form-control"
      [(ngModel)]="trimester"
      (ngModelChange)="setTrimester(year, trimester)"
    >
      <option value="0">leden - duben</option>
      <option value="1">květen - srpen</option>
      <option value="2">září - prosinec</option>
    </select>
  </div>
</form>
