<form class="form" #eventForm="ngForm" (ngSubmit)="saveEvent(eventForm)">

  <div class="form-group">
    <label>Název akce</label>
    <input type="text" name="name" [ngModel]="event.name" class="form-control" placeholder="Neočekávaný dýchánek" required>    
  </div>

  <div class="form-row">
    <div class="form-group col-3">
      <label>Od</label>
      <input type="date" name="dateFrom" [ngModel]="event.dateFrom | date:'yyyy-MM-dd'" class="form-control" required>
    </div>
    <div class="form-group col-2">
      <label>&nbsp;</label>
      <input type="time" name="timeFrom" [ngModel]="event.timeFrom" class="form-control" [disabled]="allDay">
    </div>
    <div class="form-group col-3">
      <label>Do</label>
      <input type="date" name="dateTill" [ngModel]="event.dateTill | date:'yyyy-MM-dd'" class="form-control" required>
    </div>
    <div class="form-group col-2">
      <label>&nbsp;</label>
      <input type="time" name="timeTill" [ngModel]="event.timeTill" class="form-control" [disabled]="allDay">
    </div>
    <div class="form-group col-2">
      <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" name="allDay" class="custom-control-input" id="allDayCheck" [(ngModel)]="allDay">
        <label class="custom-control-label" for="allDayCheck">Celý den</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-10">
      <label>Místo konání</label>
      <input type="text" name="place" [ngModel]="event.place" class="form-control" placeholder="Dno pytle">    
    </div>
    <div class="form-group col-2">
      <label tooltip="V případě, že budou dvě akce ve stejný den, bude se řadit podle tohoto čísla" placement="top">Pořadí<sup>?</sup></label>
      <input type="number" name="order" [ngModel]="event.order" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label>Popis</label>
    <textarea name="description" [ngModel]="event.description" (ngModelChange)="checkDescription($event)" class="form-control"></textarea>
    <small *ngFor="let warning of descriptionWarnings" class="text-danger">{{warning}} </small>
  </div>


  <div class="form-row" ngModelGroup="meeting">
    <div class="form-group col-6">
      <label>Sraz</label>
      <input type="text" name="start" [ngModel]="event.meeting?.start" class="form-control" placeholder="17:00, u Bilba doma">
    </div>
    <div class="form-group col-6">
      <label>Konec</label>
      <input type="text" name="end" [ngModel]="event.meeting?.end" class="form-control" placeholder="3:00, tamtéž">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-4">
      <label>Stav</label>
      <select name="status" [ngModel]="event.status" class="form-control" required>    
        <option value="public">veřejná</option>
        <option value="draft">v přípravě</option>
      </select>
    </div>
    <div class="form-group col-4">
      <label>Typ akce</label>
      <select name="type" [ngModel]="event.type" class="form-control">
        <option *ngFor="let type of eventTypes" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="form-group col-4">
      <label>Charakter akce</label>
      <select name="subtype" [ngModel]="event.subtype" class="form-control">
        <option *ngFor="let type of eventSubTypes" [value]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>Oddíly</label>
    <br>
    <groups-select [ngModel]="event.groups" name="groups" [disabled]="leadersOnly.checked"></groups-select>
    <div class="leadersOnly custom-control custom-checkbox">
      <input type="checkbox" name="leadersEvent" [ngModel]="event.leadersEvent" class="custom-control-input" id="checkboxLeadersEvent" #leadersOnly>
      <label class="custom-control-label" for="checkboxLeadersEvent">Akce pouze pro vedoucí</label>
    </div>
  </div>
  <div class="buttons">
    <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">Uložit</button>
  </div>
</form>