.header {
  background-image: url("/assets/img/headers/kayaks.jpg");
}

.card {
  border: none;
  background-color: transparent;
}
.card-img-top {
  border-radius: 0rem;
}

.map {
  iframe {
    height: 50vh;
    width: 100%;
    display: block;
  }
}

.rot-a {
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari 3-8 */
    transform: rotate(-2deg);
}

.rot-b {
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Safari 3-8 */
  transform: rotate(1deg);
}