
@import '~styles/variables';

#admin {

  #adminPage{margin-top:94px;}
  
  > nav{
    position:fixed;top:60px;left:0;right:0;background-color:#666;padding:0;z-index:800;
    
    overflow: auto;    
    white-space: nowrap;

    a{
      display:inline-block; position:relative;
      padding:5px 10px;margin:0 10px;border-radius: 6px 6px 0 0;
      transition: background-color 500ms;transition-timing-function: ease-in-out;
      text-decoration:none;color:#fff;
    }
    
 
    
    a.active{ background-color:#fff; color:#333; }
    a.active:hover{color:#333 !important;}
    
    /* round bottom connection */
    a::before,a::after{
      --menu-box-shadow-color: transparent;
      transition: box-shadow 500ms, color 500ms;transition-timing-function: ease-in-out;
      content: " "; position: absolute; bottom: 0; background-color: #666; width: 6px; height: 6px;
    }
    a::before{ left: 100%; border-radius: 0 0 0 6px; box-shadow: -3px 3px 3px var(--menu-box-shadow-color); }
    a::after{ right: 100%; border-radius: 0 0 6px 0; box-shadow: 3px 3px 3px var(--menu-box-shadow-color); }

    a.active::before,a.active::after{--menu-box-shadow-color: #fff;}
    
    a:first-child{margin-left:0;}
    a:last-child{margin-right:0;}
  }
  
  
  
  h2{margin-bottom:20px;}
  h2 .back{position:absolute;top:0;bottom:0;right:100%;margin-right:10px;}
  
  .btn {font-size:$font-basic;}
  
  table .actions a{margin: 0 5px;cursor:pointer;color:$linkBlue;}
  
  
  ul.nav a.active{color:$hover-yellow;}
  .btn{line-height: 24px;}
  section{padding:20px 0;background-color:transparent;}

  .modal .btn{line-height: 24px;}
  
  .card {
    margin-bottom:20px;
    
    .card-title,.card-title h5{margin:0;}
    .card-title .btn{float:right;}

    .buttons .btn{display:block;width:100%;margin-bottom:10px;}
  }
  
  @media (max-width: 992px) { 
    h2{display:none;}
    #adminPage nav{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      white-space: nowrap;
      display: block;
      padding: 1.5vh 3vw;
      background-color: #fff;
      z-index: 10;
      border-top: 1px solid #ccc;
      overflow: auto;
      
      .nav-link{display:inline-block;}
    }
    
    > nav a {
      padding:15px 20px; margin: 0 6px;
    }
    
    #adminPage{margin-top:114px;margin-bottom:65px;}
  }
}