/* IMPORTS */

@import './variables';
@import './bootstrap-overrides';

/* LAYOUT */
html {
    overflow-y:scroll;
}

body{
  font-family:$font-family;
  color:$black;
}

h1, h2, h3, h4, h5, h6{
  font-weight:bold;
}

h1{
  text-align:center;
  margin-top: .5rem;
}

.header {
  background-position:center center;
  background-repeat:no-repeat;
  background-color:#ccc;
  background-size:cover;
  height:85vh;
  text-align:center;
  position:relative;
}
.header::after{content:" ";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0) 100%);z-index:1;}
.header .content{position:relative;top:30%;left:0;right:0;z-index:2;}

.header h1{
  color:$white;
  font-size: $font-super-large;
  text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}

section:nth-child(odd) {background-color:$grey;}

a.btn{display:inline-block;}
a.flat{font-weight:bold;text-transform:uppercase;text-decoration:none;}

.group-badges .group-badge{display:inline-block;height:30px;width:30px;border-radius:50%;font-weight:bold;color:#fff;text-align:center;line-height:30px;vertical-align:middle;margin:0 5px;text-decoration:none;opacity:.8;}
.group-badges .group-badge:hover{opacity:1;}
.group-badges .group-badge:first-of-type{margin-left:0;}
.group-badges .group-badge:last-of-type{margin-right:0;}

h2 .back{margin-right:10px;}

a {color: $linkBlue;}
a.link{color:$linkBlue !important;cursor:pointer;}
a:not(.btn):hover {color: $hover-yellow !important;}

/* VALIDATION */

input:valid:not(.novalidate), select:valid:not(.novalidate), textarea:valid:not(.novalidate){
  border-left: 5px solid #42A948 !important; /* green */
}
input:invalid:not(.novalidate), select:invalid:not(.novalidate), textarea:invalid:not(.novalidate){
  border-left: 5px solid #a94442 !important; /* red */
}

/* ADMIN */
.admin h2{margin-bottom:20px;}
.admin h2 .back{position:absolute;top:0;bottom:0;right:100%;margin-right:10px;}
.admin .btn {color:$white;font-size:$font-basic;}
.admin table .actions a{margin: 0 5px;cursor:pointer;}
.admin ul.nav a.active{color:$hover-yellow;}
.admin .btn{line-height: 24px;}
.admin section{padding:20px 0;}

.modal .btn{line-height: 24px;}

::-moz-selection {
  background: #00BFFF;
  text-shadow: none;
}

::selection {
  background: #00BFFF;
  text-shadow: none;
}

/* SHADOW FOR IMAGES */
.img-shadow {
  box-shadow: $shadow;
}
