$black: #0F0F0F;
$black70: #3e3e3e;
$grey: #f1f1f1;
$white: #F9F9F9;
$blue: #006FFF;
$hover-yellow: #fec503;

$font-basic: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-super-large: 3.5rem;

$linkBlue: #00BFFF;

$shadow: 0px 0px 5px rgba(0,0,0,.2);

$font-family: "Roboto Condensed", Helvetica, Verdana, sans-serif;