$black: #0F0F0F;
$white: #F9F9F9;
$blue: #006FFF;
$hover-yellow: #fec503;

$font-basic: 16px;
$font-medium: 24px;
$font-large: 32px;
$font-super-large: 64px;

$linkBlue: #00BFFF;

$shadow: 0 0 6px rgba(0,0,0,.6);