<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/blog/' + blog?._id"></ion-back-button>
    </ion-buttons>

    <ion-title>Upravit příspěvek</ion-title>

    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createBlogForm="ngForm">
    <ion-item>
      <ion-label position="stacked">Titulek</ion-label>
      <ion-input type="text" name="title" [ngModel]="blog?.title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Perex</ion-label>
      <ion-textarea [autoGrow]="true" rows="3" type="text" name="perex" [ngModel]="blog?.perex"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Text</ion-label>
      <bo-text-editor #textEditor name="content" [ngModel]="blog?.content" class="my-1"></bo-text-editor>
    </ion-item>
  </form>
</ion-content>
