<div class="container-fluid px-md-3 px-lg-5">
  <page-header>
    <h2 pageTitle>Členská databáze</h2>

    <button *menuButton mat-icon-button (click)="showFilter = !showFilter">
      <mat-icon>filter_list</mat-icon>
    </button>

    <div *actionMenu class="actions">
      <button mat-button routerLink="novy-clen" color="primary">Nový člen</button>
    </div>
  </page-header>

  <form #filterForm="ngForm" class="filter d-md-block" [class.d-none]="!showFilter">
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Hledat</mat-label>
        <input matInput type="text" [ngModel]="search$ | async" (ngModelChange)="search$.next($event)" name="search">
        <button mat-button *ngIf="search$ | async" matSuffix mat-icon-button (click)="search$.next('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Oddíl</mat-label>
        <mat-select multiple class="groups" name="group" ngModel>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Role</mat-label>
        <mat-select multiple class="groups" name="role" ngModel>
          <mat-option *ngFor="let role of roles" [value]="role.id">{{role.id}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Aktivní člen</mat-label>
        <mat-select multiple class="groups" name="activity" [ngModel]="['active']">
          <mat-option value="active">Aktivní</mat-option>
          <mat-option value="inactive">Neaktivní</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <admin-table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Přezdívka</th>
        <th>Oddíl</th>
        <th>Role</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Datum narození</th>
        <th>Adresa</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of filteredMembers$ | async" [routerLink]="member._id" [class.inactive]="member.inactive">
        <td>{{member.nickname}}</td>
        <td [style.color]="member.group | group:'color'">{{member.group | group:'name'}}</td>
        <td>{{member.role}}</td>
        <td>{{member.name?.first}}</td>
        <td>{{member.name?.last}}</td>
        <td>{{member.birthday | date:"d. M. y"}}</td>
        <td>{{member.address?.street}} {{member.address?.streetNo}}, {{member.address?.city}}</td>
        <td class="text-right"><a [routerLink]="member._id"><i class="fas fa-pencil-alt"></i></a></td>
      </tr>
    </tbody>
  </admin-table>
</div>