<bo-page>
  <bo-page-header>
    <h2 pageTitle>Nastavení webu</h2>
  </bo-page-header>

  <div class="row">
    <div class="col-md-3 col-xl-2">
      <nav *secondaryMenu class="nav nav-pills flex-column">
        <a
          *ngFor="let cat of configStructure"
          class="nav-link"
          [replaceUrl]="true"
          [routerLink]="'../' + cat.name"
          routerLinkActive="active"
          >{{ cat.label }}</a
        >
      </nav>
    </div>

    <div class="col-md-9 col-xl-10">
      <form #configForm="ngForm" (ngSubmit)="saveConfig(configForm)">
        <div
          *ngFor="let category of configStructure"
          [ngModelGroup]="category.name"
          [hidden]="(viewCategory$ | async) !== category.name"
        >
          <div *ngFor="let item of category.items" class="form-group">
            <label>
              <h5>{{ item.label }}</h5>
            </label>

            <div [ngSwitch]="item.type" class="my-2">
              <ng-container *ngSwitchCase="'string'">
                <input
                  type="string"
                  class="form-control"
                  [name]="item.name"
                  [ngModel]="getConfigValue(category, item) | async"
                  [placeholder]="item.placeholder || ''"
                />
              </ng-container>

              <ng-container *ngSwitchCase="'number'">
                <input
                  type="number"
                  class="form-control"
                  [name]="item.name"
                  [ngModel]="getConfigValue(category, item) | async"
                  [placeholder]="item.placeholder || ''"
                />
              </ng-container>

              <ng-container *ngSwitchCase="'codelist'">
                <codelist-editor
                  [fields]="item.fields"
                  [name]="item.name"
                  [ngModel]="getConfigValue(category, item) | async"
                ></codelist-editor>
              </ng-container>
            </div>

            <small *ngIf="item.help" class="form-text text-muted">{{ item.help }}</small>
          </div>
        </div>

        <div class="text-right">
          <button mat-flat-button color="primary" type="submit" class="w-100">Uložit</button>
        </div>
      </form>
    </div>
  </div>
</bo-page>
