<mat-form-field class="example-chip-list w-100">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let member of selectedMembers$ | async"
      [selectable]="false"
      [removable]="true"
      (removed)="remove(member)"
    >
      {{ member.nickname }} ({{ member.group }})
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="placeholder || ''"
      #memberInput
      [ngModel]="search$ | async"
      (ngModelChange)="search$.next($event)"
      [matAutocomplete]="autocomplete"
      [matChipInputFor]="chipList"
    />
  </mat-chip-list>

  <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="add($event)">
    <mat-option *ngFor="let member of filteredMembers | async" [value]="member">
      {{ member.nickname }} ({{ member.role }}, {{ member.group | group: "name" }})
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
