:host {
  display: inline-block;
}

.group-badge {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
  opacity: 0.2;
  cursor: pointer;
}

.group-badge:first-of-type {
  margin-left: 0;
}
.group-badge:last-of-type {
  margin-right: 0;
}

.group-badge.active {
  opacity: 1;
}

.group-badges {
  display: inline-block;
}

.selectAll {
  display: inline-block;
  cursor: pointer;
}

:host.disabled,
:host.readonly {
  .group-badge {
    cursor: default;
  }
  .group-badges .group-badge:hover {
    opacity: auto;
  }
}
:host.disabled {
  .group-badges {
    filter: grayscale(100%);
  }
  .group-badges .group-badge {
    opacity: 1;
  }
  .group-badges .group-badge:hover {
    opacity: 1;
  }
  .group-badges .group-badge {
    background-color: #ccc !important;
  }
}
