
<section>
  <div class="container padding">
    <h1>Vedení skupiny</h1>
    <contact-card [contacts]="contacts"></contact-card>
  </div>
</section>

<section class="bg-light">
  <div class="container padding">
    <h1>Vedoucí oddílů - schůzky v pondělí</h1>
    <contact-card [contacts]="contacts"></contact-card>
  </div>
</section>

<section>
  <div class="container padding">
    <h1>Vedoucí oddílů - schůzky ve středu</h1>
    <contact-card [contacts]="contacts"></contact-card>
  </div>
</section>

<section class="bg-light">
  <div class="container padding">
    <h1>Přijď se podívat osobně</h1>
    <p class="subheading">Každé pondělí a středu máme schůzky od 16:00 do 18:00 v naší loděnici.</p>
  </div>
  <google-map></google-map>
</section>
