<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akce"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Účastníci: {{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let member of event?.attendees">
      <ion-label>{{ member.nickname || member.name?.first || member.name?.last }}&nbsp;</ion-label>
      <ion-badge mode="ios" [style.background-color]="member.group | group: 'color'">
        {{ member.group }}
      </ion-badge>
      <ion-button slot="end" fill="clear" color="danger" (click)="removeAttendee(member)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
