<div class="row numbers text-center my-5">
  <div class="col">
    <span class="number">{{ report?.count || "-" }}</span>
    členů
  </div>
  <div *ngFor="let role of roles | keyvalue" class="col">
    <span class="number">{{ getRoleValue(role.key) }}</span>
    {{ role.value.genitiv }}
  </div>
</div>

<div>
  <canvas
    *ngIf="agesData"
    baseChart
    chartType="bar"
    width="800"
    height="300"
    [datasets]="agesData.datasets"
    [labels]="agesData.labels"
    [options]="agesOptions"
    [legend]="true"
  ></canvas>
</div>
