<div id="toasts">
  <ul class="text-center" (click)="clearToasts()">
    <li *ngFor="let toast of toasts" [class]="toast.status">
      <p class="multiline">{{toast.text}}</p>
    </li>
  </ul>
</div>

<div id="layout" [class.menu-transparent]="menuService.transparent | async">

  <!-- Navigation -->
  <page-menu *ngIf="menuService.visible | async" class="d-print-none"></page-menu>

  <!-- MAIN CONTENT -->
  <div id="content">
    <router-outlet></router-outlet>

    <page-footer *ngIf="footerService.visible | async" class="d-print-none"></page-footer>
  </div>

  <div *ngIf="!(onlineService.online | async)" id="offline" class="text-center bg-danger text-light">
    Nejste připojeni k internetu. Zobrazené údaje mohou být zastaralé.
  </div>

  <div *ngIf="(onlineService.online | async) && (swUpdate.available | async)" id="update" class="text-center bg-warning text-light">
    Je k dispozici nová verze bosan.cz. <a (click)="reload()">Načíst</a>
  </div>

</div>