@import "~styles/variables";

header {
  background-color: $black70;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 56px;
  z-index: 5;
}

#layout.transparentMenu header.top {
  background-color: transparent;
}

#content {
  padding-top: 56px;
}
#layout.transparentMenu #content {
  padding-top: 0;
}
