<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Schvalování akcí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tab-bar slot="top" class="d-xl-none top-tabs">
  <ion-tab-button (click)="selectedColumn = 'noLeader'" [selected]="selectedColumn === 'noLeader'">
    <ion-text class="event-count">
      {{ (noLeaderEvents | async)?.length || 0 }}
    </ion-text>
    <!-- <ion-icon name="calendar"></ion-icon> -->
    <ion-label>Pan NIKDO</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="selectedColumn = 'draft'" [selected]="selectedColumn === 'draft'">
    <!-- <ion-icon name="calendar"></ion-icon> -->
    <ion-text class="event-count">
      {{ (draftEvents | async)?.length || 0 }}
    </ion-text>
    <ion-label>V přípravě</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="selectedColumn = 'pending'" [selected]="selectedColumn === 'pending'">
    <!-- <ion-icon name="calendar"></ion-icon> -->
    <ion-text class="event-count">
      {{ (pendingEvents | async)?.length || 0 }}
    </ion-text>
    <ion-label>Ke schválení</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="selectedColumn = 'public'" [selected]="selectedColumn === 'public'">
    <!-- <ion-icon name="calendar"></ion-icon> -->
    <ion-text class="event-count">
      {{ (publicEvents | async)?.length || 0 }}
    </ion-text>
    <ion-label>V programu</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<ion-content>
  <ng-template #eventsColumn let-events>
    <event-card
      *ngFor="let event of events"
      [open]="true"
      [actions]="true"
      [event]="event"
      (change)="eventChanged($event)"
      class="mb-3"
    ></event-card>
    <p *ngIf="!loading && events?.length === 0" class="text-center noevents">Žádné akce</p>
  </ng-template>

  <div class="row no-gutters">
    <div class="col-12 col-xl-3 d-xl-block" [class.d-none]="selectedColumn !== 'noLeader'">
      <ion-item lines="none" class="d-none d-xl-block column-heading">
        <ion-label><h2>Pan NIKDO</h2></ion-label>
        <ion-button color="primary">{{ (noLeaderEvents | async)?.length }}</ion-button>
      </ion-item>
      <div class="column py-1 mx-xl-1">
        <ng-container *ngTemplateOutlet="eventsColumn; context: { $implicit: noLeaderEvents | async }"></ng-container>
      </div>
    </div>

    <div class="col-12 col-xl-3 d-xl-block" [class.d-none]="selectedColumn !== 'draft'">
      <ion-item lines="none" class="d-none d-xl-block column-heading">
        <ion-label><h2>V přípravě</h2></ion-label>
        <ion-button color="primary">{{ (draftEvents | async)?.length }}</ion-button>
      </ion-item>
      <div class="column py-1 mx-xl-1">
        <ng-container *ngTemplateOutlet="eventsColumn; context: { $implicit: draftEvents | async }"></ng-container>
      </div>
    </div>

    <div class="col-12 col-xl-3 d-xl-block" [class.d-none]="selectedColumn !== 'pending'">
      <ion-item lines="none" class="d-none d-xl-block column-heading">
        <ion-label>
          <h2><strong>Ke schválení</strong></h2>
        </ion-label>
        <ion-button color="primary">{{ (pendingEvents | async)?.length }}</ion-button>
      </ion-item>
      <div class="column py-1 mx-xl-1">
        <ng-container *ngTemplateOutlet="eventsColumn; context: { $implicit: pendingEvents | async }"></ng-container>
      </div>
    </div>

    <div class="col-12 col-xl-3 d-xl-block" [class.d-none]="selectedColumn !== 'public'">
      <ion-item lines="none" class="d-none d-xl-block column-heading">
        <ion-label><h2>V programu</h2></ion-label>
        <ion-button color="primary">{{ (publicEvents | async)?.length }}</ion-button>
      </ion-item>
      <div class="column py-1 mx-xl-1">
        <ng-container *ngTemplateOutlet="eventsColumn; context: { $implicit: publicEvents | async }"></ng-container>
      </div>
    </div>
  </div>
</ion-content>
