@media (min-width: 992px) {
  .column {
    background-color: #f8f9fa;
    border-radius: 4px;
    height: 100%;

    @media (prefers-color-scheme: dark) {
      background-color: #333;
    }
  }
}

.noevents {
  margin: 10vh 0;
  vertical-align: middle;
}
.event-count {
  font-size: 1.5em;
}

.top-tabs {
  ion-label {
    white-space: nowrap;
  }
}
