<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Můj účet</ion-title>
    <ion-buttons slot="end">
      <!-- <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="m-3">Uživatelský účet</h2>

  <ion-list>
    <ion-item>
      <ion-label>Login:</ion-label>
      <ion-label>{{ user?.login }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>E-mail:</ion-label>
      <ion-label>
        <a *ngIf="user?.email" [href]="'mailto:' + user?.email">{{ user?.email }}</a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Role:</ion-label>
      <ion-label>{{ user?.roles?.join(", ") }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Člen skupiny:</ion-label>
      <ion-label *ngIf="user?.member">
        <strong>Přezdívka:</strong>&nbsp;{{ user?.member?.nickname }}<br />
        <strong>Jméno:</strong>&nbsp;{{ user?.member?.name?.first }} {{ user?.member?.name?.last }}<br />
        <strong>Oddíl:</strong>&nbsp;{{ user?.member?.group | group: "name" }}
      </ion-label>
      <ion-label *ngIf="!user?.member"><i>Nespárováno s členským účtem</i></ion-label>
    </ion-item>
  </ion-list>

  <h2 class="m-3 mt-4">Přihlašování</h2>
  <bo-account-credentials></bo-account-credentials>

  <h2 class="m-3 mt-4">Aplikace</h2>
  <div class="ml-3">
    <bo-account-app></bo-account-app>
  </div>

  <h2 class="m-3 mt-4">Notifikace</h2>
  <div class="ml-3 mb-5">
    <bo-account-notifications></bo-account-notifications>
  </div>
</ion-content>
