@import "~styles/variables";
// @import "~styles/ionic-theme";

$eventHeight: 20px;

:host {
  overflow: auto;
  width: 100%;
}
.calendar {
  user-select: none;
}

.calendar-row {
  position: relative;
  width: 100%;
  min-height: 80px;
  padding-bottom: 20px;
  overflow: hidden;
  padding-top: 24px;
}

.events {
  position: relative;
  overflow: hidden;
}

.events .event {
  position: absolute;
  height: $eventHeight;
  margin-top: 1px;
  white-space: nowrap;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 12px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (prefers-color-scheme: dark) {
    border: 1px solid #121212;
  }
}

.events.own {
  width: 100%;
}
.events.cpv {
  width: 100%;
  // min-height: 60px;
  // border-top: 1px solid #eee;

  .event {
    background-color: var(--ion-color-dark, #333) !important;
    @media (prefers-color-scheme: dark) {
      background-color: var(--ion-color-light, #eee) !important;
      color: #000;
    }
  }
}

.day {
  position: absolute;
  top: 0;
  height: 100%;
  border-right: 1px solid #eee;
}
.day:first-child {
  border-left: 1px solid #eee;
}

.day.odd-month {
  background-color: #f3f3f3;
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
  }
}

.day.weekend {
  background-color: #ddd;
  @media (prefers-color-scheme: dark) {
    background-color: #222;
  }
  border-color: #fff;
}
.day.holiday {
  background-color: #ccc;
  @media (prefers-color-scheme: dark) {
    background-color: #333;
  }
  border-color: #fff;
  .date {
    font-weight: bold;
  }
}

.day {
  .date {
    font-size: 0.8em;
    width: 100%;
    padding: 0 2px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .date.selectedRange {
    background-color: yellow;
    border-color: #fff;
  }
  .date.selected {
    background-color: #f00;
    border-color: #fff;
  }
}
