<div class="calendar" (contextmenu)="clearSelection($event)">
  <div class="calendar-row" *ngFor="let row of calendar">
    <div class="days clearfix">
      <div
        *ngFor="let day of row.days; let i = index"
        class="day"
        [style.left]="i * (1 / row.days.length) * 100 + '%'"
        [style.width]="(1 / row.days.length) * 100 + '%'"
        [class.weekend]="day.properties.weekend"
        [class.holiday]="day.properties.holiday"
        [class.odd-month]="day.properties.oddMonth"
        (click)="setSelection(day)"
        (mouseenter)="setSelectionHover(day)"
      >
        <div
          class="date"
          [class.selected]="selectedDate === day.date || (selectedDate && hoverDate === day.date)"
          [class.selectedRange]="isSelectedRange(day)"
          [class.empty]="day.properties.empty"
        >
          <ng-template [ngIf]="!day.properties.today" [ngIfElse]="todayBadge">{{ day.date.day }}. {{ day.date.month }}.</ng-template>
          <ng-template #todayBadge><ion-badge>{{ day.date.day }}. {{ day.date.month }}.</ion-badge></ng-template>
          <span *ngIf="day.properties.holiday" class="float-right" title="Svátek">🎉</span>
        </div>
      </div>
    </div>

    <div class="events own" [style.height]="row.blocks.own.levels * eventHeight + 'px'">
      <div
        *ngFor="let calEvent of row.blocks.own.events"
        class="event"
        [style.background-color]="calEvent.event.status | eventStatus: 'color'"
        [style.left]="getEventLeft(calEvent, row) * 100 + '%'"
        [style.width]="getEventWidth(calEvent, row) * 100 + '%'"
        [style.top]="eventHeight * (calEvent.level - 1) + 'px'"
        placement="bottom"
        [routerLink]="['/akce', calEvent.event._id]"
      >
        {{ calEvent.event.name }}
      </div>
    </div>

    <div class="events cpv" [style.height]="row.blocks.cpv.levels * eventHeight + 'px'">
      <a
        *ngFor="let calEvent of row.blocks.cpv.events"
        class="event d-block"
        [style.left]="getEventLeft(calEvent, row) * 100 + '%'"
        [style.width]="getEventWidth(calEvent, row) * 100 + '%'"
        [style.top]="eventHeight * (calEvent.level - 1) + 'px'"
        [attr.href]="calEvent.event.link || null"
        target="_blank"
        placement="bottom"
      >
        {{ calEvent.event.name }}
      </a>
    </div>
  </div>
</div>
