<div class="calendar-container">
  <div class="calendar">
    <ng-container *ngFor="let month of calendar">
      <ng-container [ngSwitch]="headingLevel">
        <h1 *ngSwitchCase="1" class="mb-3">{{month.name}} {{month.year}}</h1>
        <h2 *ngSwitchCase="2" class="mb-3">{{month.name}} {{month.year}}</h2>
        <h3 *ngSwitchCase="3" class="mb-3">{{month.name}} {{month.year}}</h3>
        <h4 *ngSwitchCase="4" class="mb-3">{{month.name}} {{month.year}}</h4>
        <h5 *ngSwitchCase="5" class="mb-3">{{month.name}} {{month.year}}</h5>
        <h6 *ngSwitchCase="6" class="mb-3">{{month.name}} {{month.year}}</h6>
      </ng-container>

      <div class="month">

        <div class="days clearfix">
          <div *ngFor="let day of month.days" class="day" [style.left]="(day.date.day - 1) * (1/month.days.length) * 100 + '%'" [style.width]="(1/month.days.length)*100 + '%'" [class.weekend]="isWeekend(day)" [class.holiday]="day.isHoliday" [class.selected]="isSelected(day)" (mousedown)="setEventStart(day)" (mouseover)="setEventEnd(day)" (mouseup)="emitSelected()">
            <div class="date">
              {{day.date | date:"d."}}
            </div>
          </div>
        </div>


        <div class="events own" [style.height]="(month.blocks.own.levels + 1) * eventHeight + 'px'">
          <div *ngFor="let calEvent of month.blocks.own.events" [class]="'event ' + getEventClass(calEvent.event)" [style.left]="getEventLeft(calEvent,month) * 100 + '%'" [style.width]="getEventWidth(calEvent,month) * 100 + '%'" [style.top]="eventHeight * calEvent.level + 'px'" [matTooltip]="getEventTooltip(calEvent.event)" placement="bottom" [routerLink]="['/akce',calEvent.event._id]">
            {{calEvent.event.name}}
          </div>
        </div>

        <div class="events cpv" [style.height]="month.blocks.cpv.levels * eventHeight + 'px'">
          <div *ngFor="let calEvent of month.blocks.cpv.events" class="event" [style.left]="getEventLeft(calEvent,month) * 100 + '%'" [style.width]="getEventWidth(calEvent,month) * 100 + '%'" [style.top]="eventHeight * calEvent.level + 'px'" [matTooltip]="calEvent.event.name" [attr.href]="calEvent.event.link || null" target="_blank" placement="bottom">
            {{calEvent.event.name}}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>