<div class="row">
  <div class="col-md-6">
    <h4>Uživatelský účet:</h4>
    <p>
      <strong>Login:</strong>&nbsp;{{user?.login}}<br>
      <strong>E-mail:</strong>&nbsp;<a *ngIf="user?.email" [href]="'mailto:' + user.email">{{user.email}}</a><br>
      <strong>Role:</strong>&nbsp;{{user?.roles?.join(', ')}}
    </p>
  </div>
  <div class="col-md-6">
    <h4>Členská databáze:</h4>
    <p *ngIf="user?.member">
      <strong>Přezdívka:</strong>&nbsp;{{user.member?.nickname}}<br>
      <strong>Jméno:</strong>&nbsp;{{user.member?.name?.first}} {{user.member?.name?.last}}<br>
      <strong>Oddíl:</strong>&nbsp;{{user.member?.group | group:'name'}}
    </p>
    <p *ngIf="!user?.member">K tomuto účtu není připojený člen z členské databáze.</p>
  </div>
</div>