<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akce"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Účastníci: {{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Účastníci akce"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- LEADERS -->
    <ion-item *ngFor="let member of leaders">
      <ion-label>
        <h3>{{ member | member : "nickname" }}</h3>
        <p><bo-member-item-detail [member]="member"></bo-member-item-detail></p>
      </ion-label>
      <ion-badge
        slot="end"
        mode="ios"
        [style.background-color]="member.group | group : 'color'"
        class="d-none d-xl-block"
      >
        {{ member.group }}
      </ion-badge>
      <ion-button fill="clear" [routerLink]="'/databaze/' + member._id" slot="end">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="primary" disabled slot="end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- ATTENDEES -->
    <ion-item *ngFor="let member of attendees">
      <ion-label>
        <h3>{{ member | member : "nickname" }}</h3>
        <p><bo-member-item-detail [member]="member"></bo-member-item-detail></p>
      </ion-label>
      <ion-badge
        slot="end"
        mode="ios"
        [style.background-color]="member.group | group : 'color'"
        class="d-none d-xl-block"
      >
        {{ member.group }}
      </ion-badge>
      <ion-button fill="clear" [routerLink]="'/databaze/' + member._id" slot="end">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="removeAttendee(member)" slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
