<!-- Sekce nedavno probehlo -->

<section>
  <div class="container">
    
    <h1>Nedávno proběhlo</h1>
    
    
    <p class="subheading text-muted">
      <a class="scrollDown" [ngx-scroll-to]="timeline">Program <i class="fas fa-arrow-down"></i></a>
      Koukni na fotky z posledních pár akcí a zavzpomínej na zážitky s kamarády Šánovci.
    </p>

    <events-recent></events-recent>

  </div>
</section>

<!-- About -->
<section class="bg-light" #timeline>
  <div class="container">

    <h1>Nejbližší akce</h1>
    <p class="subheading text-muted">Kam se s námi vypravíš v příštích týdnech.</p>

    <events-timeline limitDays="30"></events-timeline>

    <div class="text-center"><a routerLink="/program" class="btn btn-primary btn-xl text-uppercase">kompletní program</a></div>
  </div>
</section>