<section>
  <div class="container">

    <h2 class="d-none d-lg-block">Uživatelské účty</h2>

    <admin-table>
      <thead class="thead-dark">
        <tr>
          <th>Login</th>
          <th>Bošánovský mail</th>
          <th>Propojený člen</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" [routerLink]="user._id">
          <td>{{user.login}}</td>
          <td>{{user.email || "-"}}</td>
          <td>
            <ng-container *ngIf="user.member">{{user.member.nickname}} ({{user.member.name?.first}} {{user.member.name?.last}})</ng-container>
            <ng-container *ngIf="!user.member">-</ng-container>
          </td>
          <td>
            <span *ngFor="let role of user.roles" class="role badge badge-dark">{{roleNames[role] || role}}</span>
          </td>
          <td class="text-right actions">
            <a [routerLink]="user._id" tooltip="Upravit" placement="bottom"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="impersonateUser($event,user)" [tooltip]="'Přihlásit jako ' + user.login" placement="bottom"><i class="fas fa-sign-in-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </admin-table>
    
    <button type="button" class="btn btn-primary" (click)="openCreateUserModal(createUserModal)">Nový uživatel</button>
    
  </div>

</section>

<ng-template #createUserModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vytvořit nového uživatele</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="createUserModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm)">
    <div class="modal-body">
      <div class="form-group">
        <label for="createUserInput-login">Login</label>
        <input type="text" name="login" ngModel class="form-control" id="createUserInput-login" required>
      </div>
      <div class="form-group">
        <label for="createUserInput-email">E-mail</label>
        <input type="email" name="email" ngModel class="form-control" id="createUserInput-email">
        <small class="form-text text-muted">Na e-mail budou odeslány přihlašovací informace</small>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-primary" type="submit" [disabled]="!createUserForm.valid">Vytvořit</button>
    </div>
  </form>
</ng-template>