
.event a{display:block;width:100%;background-position:center center;;background-size:cover;background-color:#eee;}
.firstRow .event a{height:340px;}
.secondRow .event a{height:230px;}
h2{margin-bottom:10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}