<div class="row">
  <div class="col-2">
    <h3>{{year | async}}</h3>
  </div>
  <div class="col-10">
    <input type="range" [min]="minYear" [max]="maxYear" [ngModel]="year | async" class="custom-range novalidate"
      (ngModelChange)="year.next($event)">
  </div>
</div>


<div class="row">

  <div class="col-md-6">
    <h4>Věk vedoucích</h4>

    <canvas *ngIf="events" baseChart chartType="bar" width="400" height="200" [datasets]="getChartData(events?.leaders?.age)"
      [labels]="getChartLabels(events?.leaders?.age)" [legend]="false"></canvas>
  </div>

  <div class="col-md-6">
    <h4>Věk účastníků</h4>

    <canvas *ngIf="events" baseChart chartType="bar" width="400" height="200" [datasets]="getChartData(events?.attendees?.age)"
      [labels]="getChartLabels(events?.attendees?.age)" [legend]="false"></canvas>
  </div>
</div>