<ng-container *ngFor="let block of data?.blocks" [ngSwitch]="block.type">
  <ng-container *ngSwitchCase="'header'">
    <h1 *ngIf="block.data.level + (headingLevel - 1) <= 1">{{ block.data.text }}</h1>
    <h2 *ngIf="block.data.level + (headingLevel - 1) === 2">{{ block.data.text }}</h2>
    <h3 *ngIf="block.data.level + (headingLevel - 1) === 3">{{ block.data.text }}</h3>
    <h4 *ngIf="block.data.level + (headingLevel - 1) === 4">{{ block.data.text }}</h4>
    <h5 *ngIf="block.data.level + (headingLevel - 1) === 5">{{ block.data.text }}</h5>
    <h6 *ngIf="block.data.level + (headingLevel - 1) >= 6">{{ block.data.text }}</h6>
  </ng-container>

  <ng-container *ngSwitchCase="'paragraph'">
    <p [innerHTML]="block.data.text"></p>
  </ng-container>

  <ng-container *ngSwitchCase="'image'">
    <div
      class="image my-3"
      [class.border]="block.data.withBorder"
      [class.stretched]="block.data.stretched"
      [class.bg]="block.data.withBackground"
    >
      <div>
        <img [src]="block.data.file.url" />
        <span class="caption">{{ block.data.caption }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'list'">
    <ol *ngIf="block.data.style === 'ordered'">
      <li *ngFor="let item of block.data.items">{{ item }}</li>
    </ol>
    <ul *ngIf="block.data.style === 'unordered'">
      <li *ngFor="let item of block.data.items">{{ item }}</li>
    </ul>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <pre>Type: {{ block.type }}</pre>
    <pre>{{ block.data | json }}</pre>
  </ng-container>
</ng-container>
