p {
  text-align: justify;
}

.image {
  text-align: center;
  > div {
    display: inline-block;
    position: relative;
    max-height: 320px;
    overflow: hidden;
    vertical-align: middle;
  }
  img {
    max-height: 320px;
  }

  .caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.image.stretched {
  img {
    width: 100%;
    max-height: none;
  }
}
.image.bg {
  background-color: #000;
}
