<div class="container-fluid px-3 px-sm-5">
  <page-header>
    <h2>Přehled akcí</h2>

    <div *actionMenu class="actions">
      <button *ngIf="canCreate" mat-button color="primary" routerLink="vytvorit">Vytvořit akci</button>
    </div>

  </page-header>
</div>

<div class="container-fluid px-0 px-sm-5">

  <admin-table>
    <thead>
      <tr class="d-none d-lg-table-row">
        <th>Název akce</th>
        <th>Datum</th>
        <th>Vede</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events" [routerLink]="event._id">
        <td>{{event.name}}</td>
        <td class="date">{{event.dateFrom | date:"EEEEEE d. M."}} - {{event.dateTill | date:"EEEEEE d. M. y"}}
        </td>
        <td>
          <ng-container *ngFor="let leader of event.leaders;let isFirst = first">
            <ng-container *ngIf="!isFirst">, </ng-container>
            <span [style.color]="leader.group | group:'color'">{{leader.nickname || leader.name?.first}}</span>
          </ng-container>
          <strong *ngIf="!event.leaders?.length" class="text-danger">Pan NIKDO</strong>
        </td>
        <td>
          <event-status-badge [event]="event"></event-status-badge>
        </td>
      </tr>
    </tbody>
  </admin-table>

</div>

<ng-template #createEventModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vytvořit novou akci</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="createEventModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #createEventForm="ngForm" (ngSubmit)="createEvent(createEventForm)">
    <div class="modal-body">
      <div class="form-group">
        <label for="createEventInput-name">Název</label>
        <input type="text" name="name" ngModel class="form-control" id="createEventInput-name"
               placeholder="Neočekávaný dýchánek" required>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="createEventInput-datefrom">Začátek</label>
          <input type="date" ngModel name="dateFrom" class="form-control" id="createEventInput-datefrom" required>
        </div>
        <div class="form-group col-md-6">
          <label for="createEventInput-datetill">Konec</label>
          <input type="date" ngModel name="dateTill" class="form-control" id="createEventInput-datetill" required>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-primary" type="submit" [disabled]="!createEventForm.valid">Vytvořit</button>
    </div>
  </form>
</ng-template>