<div class="modal-header">
  <h4 class="modal-title pull-left">Dočasné zrušení schůzek a akcí</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>V zájmu omezení šíření onemocnění COVID-19 a v duchu opatření přijatých vládou</p>

  <ul>
    <li>rušíme <strong>do konce března</strong> schůzky oddílů,</li>
    <li>rušíme výjezdní zasedání vedoucích, akci Bedřich,</li>
    <li>rušíme akci Cesta do Brdského trojúhelníku.</li>
  </ul>

  <p>Dubnové schůzky a další akce budou řešeny dle nejbližšího vývoje, vzhledem k aktuální situaci budou však pravděpodobně také zrušeny.</p>

  <p>Omlouváme se všem dětem i rodičům za narušení plánů. Věříme, že tyto kroky jsou v zájmu nejen členů naší skupiny, ale i zbytku společnosti.</p>

  <p>Pro aktuální informace sledujte náš Facebook a náš web nebo buďte jako vždy v kontaktu (ale ne moc blízkém 😉) se svým oddílákem.</p>
</div>
<div class="modal-footer d-block d-md-none text-right">
  <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Pokračovat na web bosan.cz</button>
</div>