<section>
  <div class="container">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Tábor</th>
          <th>Od</th>
          <th>Do</th>
          <th>CTH</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let camp of camps" (click)="openCamp(camp)">
          <td>{{camp.name}}</td>
          <td>{{camp.dateFrom | date:"EEEEEE d. M. y"}}</td>
          <td>{{camp.dateTill | date:"EEEEEE d. M. y"}}</td>
          <td>{{camp.theme}}</td>
          <td class="text-right"><a [routerLink]="this.getCampLink(camp)">otevřít</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>