<section *ngIf="camp">
  <div class="container">
    
    <h2><a routerLink="/interni/tabory" class="back"><i class="fas fa-arrow-left"></i></a> {{camp.name}}</h2>

    <div class="row">

      <div class="col-3">

        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="../prehled" routerLinkActive="active">Přehled</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../upravit" routerLinkActive="active">Upravit info</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../ucastnici" routerLinkActive="active">Účastníci a přihlášky</a></li>          
          <li class="nav-item"><a class="nav-link text-danger" routerLink="../smazat" routerLinkActive="active">Smazat tábor</a></li>          
        </ul>

      </div>

      <div class="col-9" [ngSwitch]="category">
        
        <camp-admin-dashboard *ngSwitchCase="'prehled'"></camp-admin-dashboard>
        
        <camp-admin-basic *ngSwitchCase="'upravit'" [camp]="camp" (save)="saveCamp($event)"></camp-admin-basic>
        
        <div *ngSwitchCase="'smazat'">
          <input type="checkbox" [(ngModel)]="deleteConfirmation" id="deleteConfirmationInput"> <label for="deleteConfirmationInput">Opravdu chci smazat tento tábor</label>
          <br>
          <button type="button" [disabled]="!deleteConfirmation" (click)="deleteCamp()" class="btn btn-danger">Smazat tábor</button>
        </div>
      </div>
    </div>
  </div>
</section>
