<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akce"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>{{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" [header]="event?.name || 'Akce'"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [ngSwitch]="view">
  <ng-container *ngIf="!event">
    <h1><ion-skeleton-text></ion-skeleton-text></h1>
    <p><ion-skeleton-text></ion-skeleton-text></p>
  </ng-container>

  <ng-container *ngIf="event">
    <div class="row">
      <div class="order-last order-lg-first col-12 col-lg-8">
        <h1>{{ event.name }}</h1>

        <h3 class="mt-4">Účastníci</h3>
        <div class="attendees">
          <ion-chip
            *ngFor="let attendee of event.attendees"
            [style.background-color]="attendee.group | group : 'color'"
            [routerLink]="['/databaze', attendee._id]"
          >
            {{ attendee | member : "nickname" }}
          </ion-chip>
          <p *ngIf="!event.attendees?.length">Účastníci zatím chybí</p>
        </div>

        <h3 class="mt-4">Report</h3>
        <div *ngIf="event.report" [innerHTML]="event.report"></div>
        <p *ngIf="!event.report">Report zatím chybí</p>

        <h3 class="mt-4">Účtování</h3>
        <bo-event-expenses-chart *ngIf="event.expenses?.length" [event]="event"></bo-event-expenses-chart>
        <p *ngIf="!event.expenses?.length">Účtování zatím chybí</p>

        <h3 class="mt-4">Fotogalerie</h3>
        <bo-photo-gallery *ngIf="eventAlbum" [photos]="eventAlbum.photos || []"></bo-photo-gallery>
        <p *ngIf="!eventAlbum">Fotky zatím chybí</p>
      </div>

      <div class="order-first order-lg-last col-12 col-lg-4 mb-4 mb-lg-0">
        <event-card [event]="event" [actions]="false"></event-card>
      </div>
    </div>
  </ng-container>
</ion-content>
