
<div class="images" [style.left]="imagesLeft + 'px'" [@imagesPan]="imagesPosition">
  <div *ngIf="currentPhoto" class="image" [style.background-image]="'url(' + currentPhoto.sizes.big.url + ')'"></div>
  <div *ngIf="nextPhoto" class="image next" [style.background-image]="'url(' + nextPhoto.sizes.big.url + ')'"></div>
  <div *ngIf="prevPhoto" class="image prev" [style.background-image]="'url(' + prevPhoto.sizes.big.url + ')'"></div>
  <div *ngIf="transition && lastPhoto" class="image last" [style.background-image]="'url(' + lastPhoto.sizes.big.url + ')'" @photoSwitch></div>
</div>

<div class="menu" [@controlsHide]="controlsState">
  <div class="row">
    <div class="col-md-4 text-light">
      <a (click)="close()" class="back"><i class="fas fa-arrow-left"></i></a>
      <a routerLink="../">{{album?.name}}</a>
    </div>
    <div class="d-none d-md-block col-md-4 text-center text-light count">
      <ng-container *ngIf="album?.photos">
        <a (click)="openPhoto(this.album.photos[0])"><i class="fas fa-home"></i></a>
        &nbsp;
        {{currentI + 1}}/{{album?.photos?.length}}
      </ng-container>
    </div>
    <div class="d-md-block col-md-4 text-right text-light">
      <a *ngIf="currentPhoto" shareUrl [shareData]="{title:album.name,text:album.description}"><i class="fas fa-share-alt"></i></a>
      <a *ngIf="currentPhoto" [href]="currentPhoto.sizes.original.url" class="d-none download font-light" download title="Stáhnout fotku v originální kvalitě"><i class="fas fa-download"></i></a>
    </div>
  </div>
</div>

<a class="arrow left" (click)="onClickLeft()"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
<a class="arrow right" (click)="onClickRight()"><i class="fas fa-chevron-circle-right fa-3x"></i></a>

<div class="footer" [@controlsHide]="controlsState">
  <div *ngIf="currentPhoto?.caption" class="caption text-light text-center">
    {{currentPhoto.caption}}
  </div>
</div>