<nav class="navbar secondary navbar-expand-lg navbar-dark" [class.open]="!collapsed">

  <div class="navbar-brand">
    <a routerLink="/">
      <img src="/assets/img/san_logo_barva.png" class="d-inline logo-small" />
    </a>

    <button class="navbar-toggler" (click)="collapsed = !collapsed" type="button">
      <i class="fa fa-bars"></i>
    </button>

    <span class="d-none d-lg-inline ml-3">Interní sekce<span *ngIf="environment$ | async as environment" class="environment">&nbsp;{{environment}}</span></span>
    <span class="d-inline d-lg-none">{{(titleService.pageTitle | async) || "Interní sekce"}}</span>
  </div>

  <div *ngIf="menuService.actionMenu" class="dropdown text-right actions" [class.d-none]="!collapsed">
    <button [matMenuTriggerFor]="actionsMenu" type="button" class="navbar-toggler"><i class="fas fa-ellipsis-v"></i></button>
    <mat-menu #actionsMenu>
      <ng-container *ngTemplateOutlet="menuService.actionMenu"></ng-container>
    </mat-menu>
  </div>

  <div class="collapse navbar-collapse" [collapse]="collapsed">
    <ul class="navbar-nav text-uppercase ml-lg-5" (click)="collapsed = true">
      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:dashboard'" routerLink="prehled" class="nav-link px-lg-3">Přehled</a></li>

      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:events'" routerLink="akce" class="nav-link px-lg-3">Akce</a></li>

      <li *aclCan="'admin:program'" dropdown routerLinkActive="active" class="nav-item dropdown">
        <a dropdownToggle class="nav-link dropdown-toggle" (click)="$event.stopPropagation()">Program</a>
        <div *dropdownMenu class="dropdown-menu ml-3 ml-lg-0">
          <a routerLink="program" class="nav-link px-lg-3">Schvalování</a>
          <a routerLink="program/planovani" class="nav-link px-lg-3">Plánování akcí</a>
        </div>
      </li>



      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:albums'" routerLink="galerie" class="nav-link px-lg-3">Galerie</a></li>

      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:members'" routerLink="databaze" class="nav-link px-lg-3">Databáze</a></li>

      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:statistics'" routerLink="statistiky" class="nav-link px-lg-3">Statistiky</a></li>

      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:canal'" routerLink="kanal" class="nav-link px-lg-3">Troja</a></li>

      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:users'" routerLink="uzivatele" class="nav-link px-lg-3">Uživatelé</a></li>
      
      <li routerLinkActive="active" class="nav-item"><a *aclCan="'admin:web-settings'" routerLink="nastaveni-webu" class="nav-link px-lg-3">Web</a></li>
    </ul>
    <ul class="navbar-nav text-uppercase ml-lg-auto" (click)="collapsed = true">

      <ng-container *ngIf="userService.user | async as user">
        <li *aclCan="'admin'" routerLinkActive="active" class="nav-item ml-lg-3"><a class="nav-link pl-lg-3" routerLink="ucet" routerLinkActive="active"><i class="fas fa-user pr-2"></i>{{user.login}}</a></li>
        <li *aclCan="'logout'" routerLinkActive="active" class="nav-item"><a class="nav-link pl-lg-3" (click)="logout()" tooltip="Odhásit se" placement="bottom"><i class="fas fa-sign-out-alt pr-2"></i><span class="d-inline d-lg-none">Odhlásit se</span></a></li>
      </ng-container>

    </ul>
  </div>
</nav>