<!-- SINGLE -->
<ion-button *ngIf="single" [color]="single.color" [disabled]="single.disabled" (click)="onClick(single)">
  <ion-icon *ngIf="!single.text && single.icon" [name]="single.icon"></ion-icon>
  <span *ngIf="single.text">
    <ion-text [color]="single.color">{{ single.text }}</ion-text>
  </span>
</ion-button>

<!-- PINNED -->
<ion-button *ngFor="let action of pinned" [disabled]="action.disabled" (click)="onClick(action)">
  <ion-icon *ngIf="action.icon" [class.d-xl-none]="!ios && action.text" [name]="action.icon"></ion-icon>
  <span *ngIf="action.text" [class.d-none]="action.icon" [class.d-xl-inline]="!ios">
    <ion-text [color]="action.color">{{ action.text }}</ion-text>
  </span>
</ion-button>

<!-- BUTTONS -->
<ion-button
  *ngFor="let action of buttons"
  [disabled]="action.disabled"
  [color]="action.color"
  (click)="onClick(action)"
  class="d-none"
  [class.d-xl-inline-block]="!ios"
>
  {{ action.text }}
</ion-button>

<!-- DROPDOWN -->
<ion-button *ngIf="menu.length > 0" [class.d-xl-none]="!ios" (click)="openActions()">
  <ion-icon name="ellipsis-vertical"></ion-icon>
</ion-button>
