<div id="toasts">
  <ul class="text-center" (click)="clearToasts()">
    <li *ngFor="let toast of toasts" [class]="toast.status">
      <p [innerHTML]="toast.text | nl2br"></p>
    </li>
  </ul>
</div>

<div *ngIf="!(onlineService.online | async)" id="offline" class="text-center bg-danger text-light">
  Nejste připojeni k internetu. Zobrazené údaje mohou být zastaralé.
</div>

<!--
<div *ngIf="swUpdate.available | async" id="update" class="text-center bg-warning text-light">
Je k dispozici nová verze bosan.cz. Obnovte stránku pro její načtení.
</div>
-->

<!-- Navigation -->
<page-menu *ngIf="layoutService.menu.visible"></page-menu>

<!-- MAIN CONTENT -->
<div id="page" [style.margin-top]="(layoutService.menu.transparent || !layoutService.menu.visible) ? '0' : '60px'">
  <router-outlet></router-outlet>
</div>

<page-footer *ngIf="layoutService.footer.visible"></page-footer>
