<div id="toasts">
  <ul class="text-center" (click)="clearToasts()">
    <li *ngFor="let toast of toasts" [class]="toast.status">
      <i *ngIf="toast.status=='check'" class="fa fa-2x fa-check"></i>
      <i *ngIf="toast.status=='error'" class="fa fa-2x fa-exclamation-triangle"></i>
      <i *ngIf="toast.status=='notice'" class="fa fa-2x fa-info-circle"></i>
      <p>{{toast.text}}</p>
    </li>
  </ul>
</div>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark" [class.transparent]="menuService.transparent && menuCollapsed">
  <div class="container">
    <a class="navbar-brand text-uppercase" routerLink="/o-nas" routerLinkActive="active">Bosan.cz</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar" (click)="menuCollapsed = !menuCollapsed" type="button">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="navbar-nav text-uppercase ml-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/o-nas" routerLinkActive="active">O nás</a>
        <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/aktualne" routerLinkActive="active">Aktuálně</a>
        <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/program" routerLinkActive="active">Program</a>
        <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/fotogalerie" routerLinkActive="active">Fotogalerie</a>
        <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/tabor" routerLinkActive="active">Tábor</a>
        <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/kontakty" routerLinkActive="active">Kontakty</a>

        <ng-container *ngIf="!authService.logged">
          <a class="nav-item nav-link px-lg-3" (click)="openLogin(); menuCollapsed=true" title="Přihlásit se do interní sekce"><i class="fa fa-lock"></i></a>
        </ng-container>

        <ng-container *ngIf="authService.logged">
          <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/moje" routerLinkActive="active" tooltip="Můj Bošán" placement="bottom"><i class="fas fa-user"></i></a>
          <a class="nav-item nav-link px-lg-3" (click)="menuCollapsed=true" routerLink="/interni" routerLinkActive="active" tooltip="Správa obsahu" placement="bottom"><i class="fas fa-th"></i></a>
          <a *ngIf="authService.logged" class="nav-link" (click)="logout(); menuCollapsed=true" title="Odhlásit se"><i class="fas fa-sign-out-alt"></i></a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>

<!-- MAIN CONTENT -->
<div id="page">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer>
  <div class="container">

    <div class="row">

      <div class="col-6 col-md-3 p-3">
        <img src="/assets/img/san_logo_barva.png" class="logo">
      </div>

      <div class="col-6 col-md-3 p-3">
        <h4 class="text-uppercase">Činnost</h4>
        <ul class="list-unstyled">
          <li class="pl-3 pb-1"><a routerLink="/program">Program</a></li>
          <li class="pl-3 pb-1"><a routerLink="/fotogalerie">Fotogalerie</a></li>
          <li class="pl-3 pb-1"><a routerLink="/tabor">Tábor</a></li>
          <!--<a>Bazén (Suchdol)</a>
          <a>Kanál (Troja)</a>-->
        </ul>
      </div>

      <div class="col-6 col-md-3 p-3">
        <h4 class="text-uppercase">Kontakty</h4>
        <ul class="list-unstyled">
          <li class="pl-3 pb-1"><a routerLink="/kontakty" fragment="vedeni">Vedení skupiny</a></li>
          <li class="pl-3 pb-1"><a routerLink="/kontakty" fragment="pondeli">Schůzky v pondělí</a></li>
          <li class="pl-3 pb-1"><a routerLink="/kontakty" fragment="streda">Schůzky ve středu</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 p-3">
        <h4 class="text-uppercase">Naši sponzoři</h4>
        <ul class="list-unstyled">
          <li class="pl-3 pb-1"><a href="https://www.eurosignal.cz/" target="_blank">Eurosignal</a></li>
          <li class="pl-3 pb-1"><a href="https://www.boatpark.cz" target="_blank">Boatpark</a></li>
          <li class="pl-3 pb-1"><a href="https://www.praha.eu" target="_blank">Hlavní město Praha</a></li>
          <li class="pl-3 pb-1"><a href="http://www.praha4.cz/" target="_blank">MČ Praha 4</a></li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-12 text-center">
        <a href="https://www.facebook.com/bosan.cz/" target="_blank"><i class="p-3 fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UCXYrg3UCZtu4_wlYR2Cj_5A" target="_blank"><i class="p-3 fab fa-youtube"></i></a>
      </div>
    </div>

  </div>
</footer>