@import '../styles/variables';

/* TOASTS */
#toasts{position:fixed;width:100%;top:50%;overflow:visible; text-transform: uppercase;z-index:1000;}
#toasts ul{display:block;position:absolute;top:0;left:0;right:0;list-style:none;margin:-50px 0 0 0;text-align:center;}
#toasts li{display:inline-block;margin:0;padding:0;padding:10px 20px;margin:0 5px;background-color:rgba(0,0,0,.7);border-radius:10px;color:$white;}
#toasts li span p{margin-top: 5px;margin-bottom:0px;}


/* === NAVBAR === */

nav {
  background-color:$black70;
}

nav.transparent{
  position:absolute;
  top:0;
  left:0;
  right:0;
  background:none;
  z-index: 10;
}

nav .navbar-toggler {
  border: none;
  outline: none;
  color: $white;
}

nav .navbar-brand {
  color: $white;
  font-weight: bold;
}

nav .navbar-brand:hover {
  color: $hover-yellow;
}

nav .nav-link {
  font-weight: bold;
  color: $white;
}

nav .nav-link.active, nav .nav-link:hover {
  color: $linkBlue;
}

footer {
  background-color: $black70;
}

footer img.logo{
  height: 20vh;
}

footer h4{
  color: $white;
}

footer li{
  display: block;
}

footer a{
  color: $white;
  text-decoration: none;
  font-weight:bold;
}

footer a:hover{
  color: $hover-yellow;
}

footer i{
  font-size: 5vh;
}



