<bo-page>
  <bo-page-header>

    <h2>Vytvořit uživatelský účet</h2>

    <div class="actions" *actionMenu>

      <button mat-button color="secondary" routerLink="/uzivatele">Zrušit</button>

    </div>
  </bo-page-header>
  <form #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm)">

    <mat-form-field class="w-100">
      <mat-label>Login</mat-label>
      <input matInput type="text" name="login" placeholder="bilbo" ngModel required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" name="email" placeholder="bilbo@bosan.cz" ngModel>
    </mat-form-field>
    
    <button mat-button mat-flat-button color="primary" type="submit" [disabled]="!createUserForm.valid" class="w-100">Vytvořit</button>

  </form>
</bo-page>