<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/galerie"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>{{ album?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Album"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttons">
    <ion-button *ngIf="photosView === 'grid'" (click)="photosView = 'list'" fill="clear" slot="end">
      <ion-icon slot="start" name="list-outline"></ion-icon> Zobrazit seznam
    </ion-button>
    <ion-button
      *ngIf="photosView === 'list'"
      [disabled]="enableOrdering"
      (click)="photosView = 'grid'"
      fill="clear"
      slot="end"
    >
      <ion-icon slot="start" name="grid-outline"></ion-icon> Zobrazit čtverečky
    </ion-button>
  </div>

  <bo-photo-list
    [photos]="photos"
    [view]="photosView"
    [sortable]="enableOrdering"
    [selectable]="enableDeleting"
    [(selected)]="selectedPhotos"
    (click)="onPhotoClick($event)"
  ></bo-photo-list>
</ion-content>

<bo-albums-tabs [album]="album" selected="fotky"></bo-albums-tabs>
