<div id="admin">
  <nav>
    <div class="container">
      <a *aclCan="'admin:events'" routerLink="akce" routerLinkActive="active">Akce</a>
      <!--<a *aclCan="'admin:camps'" routerLink="tabory" routerLinkActive="active">Tábory</a>-->
      <a *aclCan="'admin:gallery'" routerLink="galerie" routerLinkActive="active">Galerie</a>
      <a *aclCan="'admin:members'" routerLink="clenove" routerLinkActive="active">Členská databáze</a>
      <a *aclCan="'admin:payments'" routerLink="platby" routerLinkActive="active">Platby</a>
      <a *aclCan="'admin:users'" routerLink="uzivatele" routerLinkActive="active">Uživatelé</a>
      <a *aclCan="'admin:webconfig'" routerLink="nastaveni-webu" routerLinkActive="active">Nastavení webu</a>
      <a *aclCan="'admin:serverconfig'" routerLink="nastaveni-serveru" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Nastavení serveru</a>
      <a *aclCan="'admin:errors'" routerLink="chyby" routerLinkActive="active">Chyby</a>
    </div>
  </nav>
  <div id="adminPage">
    <router-outlet></router-outlet>
  </div>
</div>