<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/uzivatele/' + user?._id"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>
      <ng-container *ngIf="user && user.login">
        Upravit uživatele
        {{ user.login }}
        <ng-container *ngIf="user.member">
          &nbsp;({{ user.member.nickname }}, {{ user.member.group | group: "name" }})
        </ng-container>
        <ng-container *ngIf="!user.member && user.email">&nbsp;({{ user.email }})</ng-container>
      </ng-container>
      <ng-container *ngIf="user && !user.login && user.email">{{ user.email }}</ng-container>
      <ng-container *ngIf="user && !user.login && !user.email">{{ user._id }}</ng-container>
    </ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #editUserForm="ngForm">
    <ion-item>
      <ion-label position="stacked">ID</ion-label>
      <ion-input type="text" [ngModel]="user?._id" [ngModelOptions]="{ standalone: true }" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Login</ion-label>
      <ion-input type="text" name="login" [ngModel]="user?.login" placeholder="bilbo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bošánovský mail</ion-label>
      <ion-input type="email" name="email" [ngModel]="user?.email" placeholder="bilbo@bosan.cz"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Člen</ion-label>
      <ion-select name="member" [ngModel]="user?.member?._id" placeholder="žádný">
        <ion-select-option *ngFor="let member of members" [value]="member._id">
          {{ member.nickname || member.name?.first }}
          ({{ member.group | group: "name" }}, {{ member.name?.first }} {{ member.name?.last }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Role</ion-label>
      <ion-select multiple name="roles" [ngModel]="user?.roles" placeholder="žádné">
        <ion-select-option *ngFor="let role of roles" [value]="role.name">{{ role.title }}</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
