<ng-container *ngIf="album">
  <h4>
    <a class="album-title" [routerLink]="'/fotogalerie/' + album._id" [adminLink]="'/interni/galerie/' + album._id">
      {{album.name}}
    </a>
    <span class="album-date">{{[album.dateFrom,album.dateTill] | dateRange:"d. M. y":"d. M.":"d.":" - "}}</span>
  </h4>
  <ng-container *ngIf="previewCount; else legacyPhotos">
    <div class="album-row" [class.album-row-with-strip]="previewPhotos.length">
      <a *ngIf="album.titlePhotos?.[0] as titlePhoto"
         [routerLink]="'/fotogalerie/' + album._id"
         class="album-cover image"
         [style.background-image]="'url(' + titlePhoto.sizes?.small?.url + ')'"
         [style.background-color]="titlePhoto.bg || '#ccc'"></a>
      <div class="album-strip" *ngIf="previewPhotos.length">
        <a *ngFor="let photo of previewPhotos"
           [routerLink]="'/fotogalerie/' + album._id"
           class="image"
           [style.background-image]="'url(' + photo.sizes?.small?.url + ')'"
           [style.background-color]="photo.bg || '#ccc'"></a>
      </div>
    </div>
  </ng-container>
  <ng-template #legacyPhotos>
    <div class="row photos">
      <ng-container *ngFor="let photo of album.titlePhotos | slice:0:photoCount; let i = index">
        <div class="col-12" [class.col-md-6]="photoCount > 1" [class.col-lg-4]="photoCount > 2" [class.d-none]="i>0" [class.d-lg-block]="i>0" [class.d-md-block]="i>1">
          <a [routerLink]="'/fotogalerie/' + album._id" class="image" [style.background-image]="'url(' + photo.sizes?.small?.url + ')'" [style.background-color]="photo.bg || '#ccc'"></a>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <div class="row my-2">
    <div class="col col-auto ms-auto">
      <a [routerLink]="'/fotogalerie/' + album._id" class="flat">Otevřít album</a>
    </div>
  </div>
</ng-container>
