<nav>
  <div class="container">
    <a routerLink="dokumenty" routerLinkActive="active">Dokumenty</a>
    <a routerLink="program" routerLinkActive="active">Program</a>
    <a routerLink="fotogalerie" routerLinkActive="active">Galerie</a>
    <a routerLink="tabor" routerLinkActive="active">Tábor</a>
    <a routerLink="databaze" routerLinkActive="active">Členská databáze</a>
    <a routerLink="nastaveni-webu" routerLinkActive="active">Nastavení webu</a>
    <a routerLink="data" routerLinkActive="active">Data</a>
  </div>
</nav>

<router-outlet></router-outlet>