<nav>
  <div class="container">
    <a routerLink="akce" routerLinkActive="active">Akce</a>
    <a routerLink="tabory" routerLinkActive="active">Tábory</a>
    <a routerLink="fotogalerie" routerLinkActive="active">Galerie</a>
    <a routerLink="databaze" routerLinkActive="active">Členská databáze</a>
    <a routerLink="oddily" routerLinkActive="active">Oddíly</a>
    <a routerLink="dokumenty" routerLinkActive="active">Dokumenty</a>
    <a routerLink="nastaveni-webu" routerLinkActive="active">Nastavení webu</a>
    <a routerLink="uzivatele" routerLinkActive="active">Uživatelé</a>
    <a routerLink="data" routerLinkActive="active">Data</a>
  </div>
</nav>

<router-outlet></router-outlet>