<div class="container-fluid my-3 px-md-3 px-lg-5">
  <page-header>
    <h2 pageTitle>Přehled</h2>
  </page-header>

  <div class="row">

    <div class="col-lg-2 d-none d-lg-block">

      <nav *secondaryMenu class="nav nav-pills flex-column">
        <a class="nav-link" routerLink="novinky" replaceUrl="true" routerLinkActive="active">Novinky</a>
        <a class="nav-link" routerLink="kalendar" replaceUrl="true" routerLinkActive="active">Kalendář</a>
        <a class="nav-link" routerLink="vest-akci" replaceUrl="true" routerLinkActive="active">Volné akce</a>
      </nav>

    </div>

    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>