@import "~styles/variables";

$date-height: 4rem;
$circle-size: 2.5rem;
$arrow-size: 1.5rem;
$arrow-offset: 2px;
$timeline-width: 0.2vh;

h5 {
  margin-bottom: 0px !important;
}
.group-badges {
  z-index: 10;
}

.timeline {
  position: relative;
  min-height: 200px;
}
.timeline .loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -24px;
}

.timeline-container .line,
.timeline2-container .line {
  position: absolute;
  left: 50%;
  height: 100%;
  width: $timeline-width;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a9a9a9;
  z-index: 0;
}

.timeline .event {
  .date-container {
    height: $date-height;
    display: table;

    h5 {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .timeline-container {
    position: relative;

    .circle-container {
      height: $date-height;
    }

    .circle {
      position: relative;
      top: 50%;
      margin-top: -$circle-size/2;
      width: $circle-size;
      height: $circle-size;
      border-radius: 50%;
      background-color: #ccc;
      z-index: 5;
    }

    .arrow-horizontal {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;
      height: $date-height;
    }
    .arrow-horizontal::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: $arrow-size;
      height: $arrow-size;
      margin-top: -$arrow-size/2;
      margin-right: -$arrow-size/2;

      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);

      background-color: #fff;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .arrow-horizontal::after {
      content: " ";
      position: absolute;
      width: $arrow-size;
      height: 100%;
      left: 0;
      background-color: #fff;
      display: inline-block;
    }
  }

  .event-header,
  .description {
    position:relative;
    z-index: 10;
  }
}

.timeline .event.cancelled .event-details {
  text-decoration: line-through;
}

.timeline .event .event-header {
  padding-top: 1rem;
}
.timeline .event .panel {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 992px) {
  .timeline .event.event-big .circle-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .timeline .event.event-big {
    margin-top: 0;
    margin-bottom: 0;
  }

  .timeline .event.event-big .circle {
    margin-top: 0;
  }
}

@media print {
  .event-container {
    padding: 0 !important;
  }
  .event-header {
    padding: 0 !important;
  }

  .timeline .month:not(.first) {
    page-break-before: always;
  }
}
