<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/san_logo_barva.png" class="d-inline logo-small mr-3" />
      Interní sekce
      <span *ngIf="environment$ | async as environment" class="environment">&nbsp;{{ environment }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:dashboard'" routerLink="prehled" class="nav-link">Přehled</a>
  </ion-item>

  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:events'" routerLink="akce" class="nav-link">Akce</a>
  </ion-item>

  <ion-item *aclCan="'admin:program'" routerLinkActive="active" class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      (click)="dropdownsCollapsed.program = !dropdownsCollapsed.program; $event.stopPropagation()"
    >
      Program
    </a>
  </ion-item>
  <ion-item-group
    class="d-none"
    [class.d-block]="!dropdownsCollapsed.program"
    (click)="dropdownsCollapsed.program = true"
  >
    <a routerLink="program/tisk" class="nav-link">Tisk programu</a>
    <a *aclCan="'admin:program-management'" routerLink="program/schvalovani" class="nav-link"> Schvalování </a>
    <a *aclCan="'admin:program-management'" routerLink="program/planovani" class="nav-link"> Plánování akcí </a>
  </ion-item-group>

  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:albums'" routerLink="galerie" class="nav-link">Galerie</a>
  </ion-item>

  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:members'" routerLink="databaze" class="nav-link">Databáze</a>
  </ion-item>

  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:blogs'" routerLink="blog" class="nav-link">Blog</a>
  </ion-item>

  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:statistics'" routerLink="statistiky" class="nav-link">Statistiky</a>
  </ion-item>

  <!-- <ion-item routerLinkActive="active" class="nav-item"><a *aclCan="'admin:canal'" routerLink="kanal" class="nav-link">Troja</a></ion-item> -->

  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:users'" routerLink="uzivatele" class="nav-link">Uživatelé</a>
  </ion-item>

  <ion-item routerLinkActive="active" class="nav-item">
    <a *aclCan="'admin:web-settings'" routerLink="nastaveni-webu" class="nav-link">Web</a>
  </ion-item>

  <ng-container *ngIf="userService.user | async as user">
    <ion-item *aclCan="'admin'" routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="ucet" routerLinkActive="active">
        <ion-icon name="person-sharp"></ion-icon>
        {{ user.login }}
      </a>
    </ion-item>
    <ion-item *aclCan="'logout'" routerLinkActive="active" class="nav-item">
      <a class="nav-link" (click)="logout()">
        <ion-icon name="log-out-sharp"></ion-icon>
        Odhlásit se
      </a>
    </ion-item>
  </ng-container>
</ion-list>

<div>
  <pre>{{ platform.platforms() | json }}</pre>

  <div *ngIf="!(onlineService.online | async)" id="offline" class="text-center bg-danger text-light">
    Nejste připojeni k internetu. Zobrazené údaje mohou být zastaralé.
  </div>

  <div
    *ngIf="(onlineService.online | async) && (swUpdate.available | async)"
    id="update"
    class="text-center bg-warning text-light"
  >
    Je k dispozici nová verze bosan.cz. <a (click)="reload()">Načíst</a>
  </div>
</div>
