<ion-list>
  <ion-item *aclCan="'dashboard'" [detail]="true" routerLink="/" routerDirection="root" routerLinkActive="active">
    <ion-label>Přehled</ion-label>
  </ion-item>

  <ion-item *aclCan="'events'" [detail]="true" routerLink="/akce" routerDirection="root" routerLinkActive="active">
    <ion-label>Akce</ion-label>
  </ion-item>

  <ion-item *aclCan="'program'" [detail]="true" routerLink="/program" routerDirection="root" routerLinkActive="active">
    <ion-label>Program</ion-label>
  </ion-item>

  <ion-item *aclCan="'albums'" routerLink="/galerie" routerDirection="root" [detail]="true">
    <ion-label>Galerie</ion-label>
  </ion-item>

  <ion-item *aclCan="'members'" routerLink="/databaze" routerDirection="root" [detail]="true">
    <ion-label>Databáze</ion-label>
  </ion-item>

  <ion-item *aclCan="'blogs'" routerLink="/blog" routerDirection="root" [detail]="true">
    <ion-label>Blog</ion-label>
  </ion-item>

  <ion-item *aclCan="'statistics'" routerLink="/statistiky" routerDirection="root" [detail]="true">
    <ion-label>Statistiky</ion-label>
  </ion-item>

  <ion-item *aclCan="'users'" routerLink="/uzivatele" routerDirection="root" [detail]="true">
    <ion-label>Uživatelé</ion-label>
  </ion-item>

  <ion-item *aclCan="'web'" routerLink="/web" routerDirection="root" [detail]="true">
    <ion-label>Web</ion-label>
  </ion-item>

  <ion-item href="https://bosan.cz" target="_blank">
    <ion-label>Veřejná sekce</ion-label>
  </ion-item>

  <ng-container *ngIf="userService.user | async as user">
    <ion-item *aclCan="'account'" routerLink="ucet" routerDirection="root" routerLinkActive="active">
      <ion-label>
        <ion-icon name="person-sharp"></ion-icon>
        {{ user.login }}
      </ion-label>
    </ion-item>

    <ion-item *aclCan="'logout'" [button]="true" (click)="logout()" routerDirection="root" routerLinkActive="active">
      <ion-label>
        <ion-icon name="log-out-sharp"></ion-icon>
        Odhlásit se
      </ion-label>
    </ion-item>
  </ng-container>

  <ion-item *ngIf="!(onlineService.online | async)" color="danger" class="ion-text-wrap">
    <ion-label>Nejste připojeni k internetu. Zobrazené údaje mohou být zastaralé.</ion-label>
  </ion-item>

  <ion-item
    *ngIf="(onlineService.online | async) && (swUpdate.available | async)"
    [button]="true"
    (click)="reload()"
    color="warning"
  >
    <ion-label class="ion-text-wrap">Je k dispozici nová verze, klikněte pro načtení.</ion-label>
  </ion-item>
</ion-list>
