<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/san_logo_barva.png" class="d-inline logo-small mr-3" />
      Interní sekce
      <span *ngIf="environment$ | async as environment" class="environment">&nbsp;{{ environment }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item *aclCan="'admin:dashboard'" [detail]="true" routerLink="prehled" routerLinkActive="active" class="nav-item">
    <ion-label>Přehled</ion-label>
  </ion-item>

  <ion-item *aclCan="'admin:events'" [detail]="true" routerLink="akce" routerLinkActive="active" class="nav-item">
    <ion-label>Akce</ion-label>
  </ion-item>

  <ion-item *aclCan="'admin:program'" [button]="true" (click)="submenu = 'program'">
    <ion-label>Program</ion-label>
  </ion-item>

  <ion-item-group *ngIf="submenu === 'program'">
    <ion-item routerLink="program/tisk" [detail]="true" routerLink="program/tisk">
      <ion-label>Tisk programu</ion-label>
    </ion-item>
    <ion-item *aclCan="'admin:program-management'" [detail]="true" routerLink="program/schvalovani">
      <ion-label>Schvalování </ion-label>
    </ion-item>
    <ion-item *aclCan="'admin:program-management'" [detail]="true" routerLink="program/planovani">
      <ion-label>Plánování akcí </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item *aclCan="'admin:albums'" routerLink="galerie" routerLinkActive="active" [detail]="true">
    <ion-label>Galerie</ion-label>
  </ion-item>

  <ion-item *aclCan="'admin:members'" routerLink="databaze" routerLinkActive="active" [detail]="true">
    <ion-label>Databáze</ion-label>
  </ion-item>

  <ion-item *aclCan="'admin:blogs'" routerLink="blog" routerLinkActive="active" [detail]="true">
    <ion-label>Blog</ion-label>
  </ion-item>

  <ion-item *aclCan="'admin:statistics'" routerLink="statistiky" routerLinkActive="active" [detail]="true">
    <ion-label>Statistiky</ion-label>
  </ion-item>

  <!-- <ion-item routerLinkActive="active" class="nav-item"><a *aclCan="'admin:canal'" routerLink="kanal">Troja</a></ion-item> -->

  <ion-item *aclCan="'admin:users'" routerLink="uzivatele" routerLinkActive="active" [detail]="true">
    <ion-label>Uživatelé</ion-label>
  </ion-item>

  <ion-item *aclCan="'admin:web-settings'" routerLink="nastaveni-webu" routerLinkActive="active" [detail]="true">
    <ion-label>Web</ion-label>
  </ion-item>

  <ng-container *ngIf="userService.user | async as user">
    <ion-item *aclCan="'admin'" routerLink="ucet" routerLinkActive="active">
      <ion-label>
        <ion-icon name="person-sharp"></ion-icon>
        {{ user.login }}
      </ion-label>
    </ion-item>

    <ion-item *aclCan="'logout'" [button]="true" (click)="logout()" routerLinkActive="active">
      <ion-label>
        <ion-icon name="log-out-sharp"></ion-icon>
        Odhlásit se
      </ion-label>
    </ion-item>
  </ng-container>

  <ion-item *ngIf="!(onlineService.online | async)" color="danger">
    <ion-label>Nejste připojeni k internetu. Zobrazené údaje mohou být zastaralé.</ion-label>
  </ion-item>

  <ion-item *ngIf="(onlineService.online | async) && (swUpdate.available | async)" color="warning">
    <ion-label>Je k dispozici nová verze bosan.cz. <a (click)="reload()">Načíst</a></ion-label>
  </ion-item>
</ion-list>
