:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 500px;
  min-width: 50vw;
  border: none;
}

button {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  opacity: 1;
  padding: 1rem;
  span {
    color: #fff;
    text-shadow: none;
  }
}
.modal-body {
  height: 100%;
  padding: 0;
  border: 20px solid #fff;
}
