<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Nastavení webu</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Nastavení webu"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #configForm="ngForm">
    <div *ngFor="let category of configStructure" [ngModelGroup]="category.name">
      <h2>{{ category.label }}</h2>
      <div *ngFor="let item of category.items" class="form-group">
        <label>
          <h5>{{ item.label }}</h5>
        </label>

        <div [ngSwitch]="item.type" class="my-2">
          <ng-container *ngSwitchCase="'string'">
            <input
              type="string"
              class="form-control"
              [name]="item.name"
              [ngModel]="getConfigValue(category, item)"
              [placeholder]="item.placeholder || ''"
            />
          </ng-container>

          <ng-container *ngSwitchCase="'number'">
            <input
              type="number"
              class="form-control"
              [name]="item.name"
              [ngModel]="getConfigValue(category, item)"
              [placeholder]="item.placeholder || ''"
            />
          </ng-container>

          <ng-container *ngSwitchCase="'codelist'">
            <bo-codelist-editor
              [fields]="item.fields"
              [name]="item.name"
              [ngModel]="getConfigValue(category, item)"
            ></bo-codelist-editor>
          </ng-container>
        </div>

        <small *ngIf="item.help" class="form-text text-muted">{{ item.help }}</small>
      </div>
    </div>
  </form>
</ion-content>
