.post {
  max-width: 768px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #fff;
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
  }
}
.perex {
  text-align: justify;
}
::ng-deep bo-text-view {
  .image {
    margin-left: -1em;
    margin-right: -1em;
  }
}
