<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/akce/' + event?._id"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Upravit: {{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="event">
  <form #eventForm="ngForm">
    <!-- <h2 class="mb-0 ion-padding">Základní info</h2> -->
    <ion-item class="w-100">
      <ion-label position="floating">Název akce</ion-label>
      <ion-input name="name" [ngModel]="event.name" placeholder="Neočekávaný dýchánek"></ion-input>
    </ion-item>

    <div class="row">
      <div class="col-lg-6">
        <ion-item class="w-100">
          <ion-label position="floating">Datum od</ion-label>
          <ion-input type="date" name="dateFrom" [ngModel]="event.dateFrom" required></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-6">
        <ion-item class="w-100">
          <ion-label position="floating">Datum od</ion-label>
          <ion-input type="date" name="dateTill" [ngModel]="event.dateTill" required></ion-input>
        </ion-item>
      </div>
    </div>

    <ion-item class="w-100">
      <ion-label position="floating">Vedoucí</ion-label>
      <bo-member-selector name="leaders" multiple [members]="members" [ngModel]="event.leaders"></bo-member-selector>
    </ion-item>

    <div class="row">
      <div class="col-12 col-lg-4">
        <ion-item class="w-100">
          <ion-label position="floating">Místo</ion-label>
          <ion-input name="place" [ngModel]="event.place" placeholder="Dno pytle"></ion-input>
        </ion-item>
      </div>

      <ng-container ngModelGroup="meeting">
        <div class="col-12 col-lg-4">
          <ion-item class="w-100">
            <ion-label position="floating">Sraz</ion-label>
            <ion-input name="start" [ngModel]="event.meeting!.start" placeholder="17:00, u Bilba doma"></ion-input>
          </ion-item>
        </div>
        <div class="col-12 col-lg-4">
          <ion-item class="w-100">
            <ion-label position="floating">Konec</ion-label>
            <ion-input name="end" [ngModel]="event.meeting!.end" placeholder="3:00, tamtéž"></ion-input>
          </ion-item>
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" class="w-100">Oddíly</ion-label>
      <groups-select [ngModel]="event.groups" name="groups"></groups-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="w-100">Charakter akce</ion-label>
      <event-subtype-selector [ngModel]="event.subtype" name="subtype"></event-subtype-selector>
    </ion-item>

    <ion-item class="w-100">
      <ion-label position="floating">Popisek</ion-label>
      <ion-textarea name="description" rows="3" [ngModel]="event.description"></ion-textarea>
      <!-- TODO: reimplement descriptionCheck list -->
    </ion-item>

    <!-- <h2 class="mt-4 mb-0 ion-padding">Vedoucí</h2>

    <div class="row">
      <div class="col-12 col-lg-4">
        <ion-item class="w-100">
          <ion-label position="floating">Zodpovědný vedoucí</ion-label>
          <bo-member-selector name="medic" [members]="event.leaders || []"></bo-member-selector>
        </ion-item>
      </div>

      <div class="col-12 col-lg-4">
        <ion-item class="w-100">
          <ion-label position="floating">Zdravotník</ion-label>
          <bo-member-selector name="medic" [members]="event.leaders || []"></bo-member-selector>
        </ion-item>
      </div>

      <div class="col-12 col-lg-4">
        <ion-item class="w-100">
          <ion-label position="floating">Hospodář</ion-label>
          <bo-member-selector name="medic" [members]="event.leaders || []"></bo-member-selector>
        </ion-item>
      </div>
    </div> -->

    <!-- <h2 class="mt-4 mb-0 ion-padding">Report</h2> -->
  </form>
</ion-content>
