<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/akce/' + event?._id"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Upravit: {{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="event" class="ion-padding">
  <div class="mb-5">
    <event-card [event]="event" [actions]="false"></event-card>
  </div>

  <form #eventForm="ngForm">
    <ion-item class="w-100">
      <ion-label position="floating">Název akce</ion-label>
      <ion-input name="name" [(ngModel)]="event.name" placeholder="Neočekávaný dýchánek"></ion-input>
    </ion-item>

    <div class="row">
      <div class="col-6">
        <ion-item class="w-100">
          <ion-label position="floating">Datum od</ion-label>
          <ion-input type="date" name="dateFrom" [(ngModel)]="event.dateFrom" required></ion-input>
        </ion-item>
      </div>
      <div class="col-6">
        <ion-item class="w-100">
          <ion-label position="floating">Datum od</ion-label>
          <ion-input type="date" name="dateTill" [(ngModel)]="event.dateTill" required></ion-input>
        </ion-item>
      </div>
    </div>

    <ion-item class="w-100">
      <ion-label position="floating">Popisek</ion-label>
      <ion-textarea
        name="description"
        rows="3"
        [(ngModel)]="event.description"
        textcheck
        #descriptionCheck="textcheck"
      ></ion-textarea>
      <!-- TODO: reimplement descriptionCheck list -->
    </ion-item>

    <div class="row">
      <div class="col-md-6 order-last order-md-first">
        <ion-item class="w-100">
          <ion-label position="floating">Místo</ion-label>
          <ion-input name="place" [(ngModel)]="event.place" placeholder="Dno pytle"></ion-input>
        </ion-item>

        <ng-container ngModelGroup="meeting">
          <ion-item class="w-100">
            <ion-label position="floating">Sraz</ion-label>
            <ion-input name="start" [(ngModel)]="event.meeting!.start" placeholder="17:00, u Bilba doma"></ion-input>
          </ion-item>
          <ion-item class="w-100">
            <ion-label position="floating">Konec</ion-label>
            <ion-input name="end" [(ngModel)]="event.meeting!.end" placeholder="3:00, tamtéž"></ion-input>
          </ion-item>
        </ng-container>
      </div>

      <div class="col-md-6 order-first order-md-last">
        <div>
          <label class="w-100">Oddíly</label>
          <groups-select [(ngModel)]="event.groups" name="groups"></groups-select>
        </div>

        <div class="mt-4">
          <label class="w-100">Charakter akce</label>
          <div class="d-inline-block mr-3">
            <event-subtype-selector [(ngModel)]="event.subtype" name="subtype"></event-subtype-selector>
          </div>
        </div>
      </div>
    </div>
  </form>
</ion-content>
