<div class="row">
  <div class="col-md-8 photo">
    <div class="image">
      <div class="d-none d-lg-block image-bg text-center" [style.background-image]="'url(' + photo?.sizes.big.url + ')'"></div>
      <img class="d-lg-none" [src]="photo?.sizes.big.url">
      <a class="arrow arrow-left" (click)="prev.emit()"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
      <a class="arrow arrow-right" (click)="next.emit()"><i class="fas fa-chevron-circle-right fa-3x"></i></a>
    </div>

    <mat-form-field class="px-3 px-md-0 mt-3 w-100">
      <mat-label>Popisek</mat-label>
      <input matInput (click)="selectRandomPlaceholder()" [placeholder]="randomPlaceholder">
    </mat-form-field>
  </div>

  <div class="col-md-4">
    <div class="description px-3 px-lg-0">

      <mat-card class="mb-3">
        <table class="table table-borderless table-sm">
          <tbody>
            <tr>
              <th>Soubor:</th>
              <td>{{photo?.name}}</td>
            </tr>
            <tr>
              <th>Datum:</th>
              <td>{{photo?.date |date: "d. M. y, H:mm:ss"}}</td>
            </tr>
            <tr>
              <th>Rozlišení:</th>
              <td>{{photo?.sizes.original.width}} &times; {{photo?.sizes.original.height}} px</td>
            </tr>
          </tbody>
        </table>
      </mat-card>

      <div class="faces">
        <photo-face-edit class="face clearfix mb-3" *ngFor="let face of photo?.faces" [photo]="photo" [face]="face" [members]="members" [(ngModel)]="face.member" (ngModelChange)="savePhoto()"></photo-face-edit>
      </div>

    </div>
  </div>
</div>