.image {
  position: relative;

  .image-bg {
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000;
  }
  img {
    width: 100%;
  }

  .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    i {
      opacity: 0;
      margin-top: -24px;
      position: absolute;
      top: 50%;
    }
  }
  .arrow:hover i {
    opacity: 1;
  }
  .arrow-left {
    left: 0;
    i {
      left: 10px;
    }
  }
  .arrow-right {
    right: 0;
    i {
      right: 10px;
    }
  }
}

.description {
  height: calc(50vh + 80px);
  overflow: auto;
}
