<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="close()">Zavřít</ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Uložit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Hlavní vedoucí</ion-label>
    <members-select></members-select>
  </ion-item>
  <ion-item>
    <ion-label>Hospodář</ion-label>
    <members-select></members-select>
  </ion-item>
  <ion-item>
    <ion-label>Zdravotník</ion-label>
    <members-select></members-select>
  </ion-item>
</ion-content>
