<div class="news mb-3 p-3 bg-light" *ngFor="let item of news" [ngSwitch]="item.type">

  <ng-container *ngSwitchCase="'new-event'">

    <p>Leila přidala novou akci</p>
    <div class="ml-5">
      <event-card [event]="item.data.event" actions="true"></event-card>
    </div>

  </ng-container>


  <ng-container *ngSwitchCase="'new-member'">
    <p class="m-0"><strong [style.color]="item.data.member.group | group: 'color'">{{item.data.member.group | group: "name"}}</strong> má nového člena s přezdívkou {{item.data.member.nickname}}</p>
  </ng-container>


</div>