.submit {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 50px;
}
.form {
  min-height: 300px;
  margin-bottom: 50px;
}

.json textarea {
  width: 100%;
  min-height: 300px;
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  border: none;
  background-color: transparent;
}

label h5 {
  margin: 0;
}
