@import "styles/variables";

footer {
  background-color: $white;
}

footer img.logo {
  height: 20vh;
}

footer h4 {
  color: $black;
}

footer li {
  display: block;
}

footer a {
  color: $black;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: $hover-yellow;
}

footer i {
  font-size: 5vh;
}

footer img.sponsor{
  max-width: 100%;
  max-height: 100%;
}
