<footer>
  <div class="container">

    <div class="row justify-content-center py-4">

      <div class="d-none d-md-block col-lg-2 col-md-4 p-3">
        <img src="/assets/img/san_logo_barva.png" class="logo" alt="ŠÁN logo">
      </div>

      <div class="col-12 col-md-8 col-lg-4 p-3 footer-text">
        <h4>KONDOR Skupina ŠÁN z.s.</h4>
        <ul class="list-unstyled">
          <li>Klubovny: V&nbsp;náklích&nbsp;445/1a, Praha&nbsp;4, 147&nbsp;00</li>
          <li>Sídlo: Podolské nábřeží&nbsp;1180/5, Praha&nbsp;4, 147&nbsp;00</li>
          <li>Email: info@bosan.cz</li>
          <li>IČ: 47610727</li>
          <li>Bankovní spojení: 2301695140/2010</li>
          <li>Datová schránka: gfwhx3g</li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-3 offset-md-4 offset-lg-0 p-3">
        <h4>Kontakty</h4>
        <ul class="list-unstyled">
          <li class="pb-1"><a routerLink="/kontakty" fragment="vedeni">Vedení skupiny</a></li>
          <li class="pb-1"><a routerLink="/kontakty" fragment="pondeli">Schůzky v pondělí</a></li>
          <li class="pb-1"><a routerLink="/kontakty" fragment="streda">Schůzky ve středu</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-3 p-3">
        <h4>Sleduj nás</h4>
        <a href="https://www.facebook.com/bosan.cz/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/bosan.cz/" target="_blank"><i class="pl-3 fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCXYrg3UCZtu4_wlYR2Cj_5A" target="_blank"><i
          class="pl-3 fab fa-youtube"></i></a>
      </div>

      <div class="col-12 col-md-8 col-lg-10 offset-lg-2 offset-md-4">
        <h4>Naši sponzoři</h4>
        <div class="row">
          <div class="col-6 col-md-4 col-lg-2">
            <a href="https://www.eurosignal.cz/" target="_blank">
              <img src="assets/img/sponsors/eurosignal.png" alt="Eurosignal" class="sponsor" />
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a href="https://www.compunet.cz/" target="_blank">
              <img src="assets/img/sponsors/compunet.png" alt="CompuNet" class="sponsor" />
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a href="https://www.praha.eu" target="_blank">
              <img src="assets/img/sponsors/praha.webp" alt="Hlavní město Praha" class="sponsor" />
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a href="https://www.praha4.cz/" target="_blank">
              <img src="assets/img/sponsors/praha4.png" alt="MČ Praha 4" class="sponsor" />
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a href="https://www.kudyznudy.cz/?utm_source=kzn&utm_medium=partneri_kzn" target="_blank">
              <img src="assets/img/sponsors/kudyznudy.png" alt="Kudyznudy.cz" class="sponsor" />
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a href="https://www.forestlaan.cz/" target="_blank">
              <img src="assets/img/sponsors/forestlaan.png" alt="Forestlaan.cz" class="sponsor" />
            </a>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <a href="https://women-for-women.cz/" target="_blank">
              <img src="assets/img/sponsors/w4w.png" alt="Women for women" class="sponsor" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
