<bo-page>
  <bo-page-header>
    <h2 [pageTitle]="blog?.title || 'Načítám...'">{{ blog?.title || "Načítám..." }}</h2>

    <div class="actions" *actionMenu>
      <ion-button
        fill="clear"
        color="primary"
        [disabled]="!blog?._links?.self?.allowed?.PATCH"
        (click)="save(createBlogForm)"
      >
        Uložit
      </ion-button>

      <!-- <a mat-button *ngIf="blog?.status === 'public'" [href]="'/blog/' + blog?._id">Otevřít na webu</a> -->

      <ion-button
        fill="clear"
        color="secondary"
        *ngIf="blog?._actions?.publish"
        [disabled]="!blog?._actions?.publish?.allowed"
        (click)="publish()"
      >
        Publikovat na webu
      </ion-button>

      <ion-button
        fill="clear"
        color="warning"
        *ngIf="blog?._actions?.unpublish"
        [disabled]="!blog?._actions?.unpublish?.allowed"
        (click)="unpublish()"
      >
        Skrýt na webu
      </ion-button>

      <ion-button fill="clear" color="danger" [disabled]="!blog?._links?.self?.allowed?.DELETE" (click)="delete()">
        Smazat
      </ion-button>
    </div>
  </bo-page-header>

  <form #createBlogForm="ngForm" (ngSubmit)="save(createBlogForm)">
    <div class="row">
      <div class="col-lg-8 col-xl-7">
        <ion-item>
          <ion-label position="floating">Titulek</ion-label>
          <ion-input type="text" name="title" [ngModel]="blog?.title" required></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-4 col-xl-2">
        <ion-item>
          <ion-label position="floating">Datum publikace</ion-label>
          <ion-input
            matInput
            type="date"
            [ngModel]="blog?.datePublished | date: 'yyyy-MM-dd'"
            [ngModelOptions]="{ standalone: true }"
            readonly
          ></ion-input>
        </ion-item>
      </div>

      <div class="col-lg-8 col-xl-7">
        <ion-item>
          <ion-label position="floating">Perex</ion-label>
          <ion-textarea type="text" name="perex" [ngModel]="blog?.perex"></ion-textarea>
        </ion-item>
      </div>

      <div class="col-lg-8 col-xl-7">
        <bo-text-editor #textEditor name="content" [ngModel]="blog?.content"></bo-text-editor>
      </div>
    </div>
    <div class="text-right">
      <ion-button color="primary" type="submit" [disabled]="!createBlogForm.valid">Uložit</ion-button>
    </div>
  </form>
</bo-page>
