<div *ngIf="event.registration;else uploadRegistrationFormTemplate">
  <object [data]="event.registrationUrl | safeurl:'SafeResourceUrl'" type="application/pdf" width="100%" height="300px">
    Nahraná přihláška: <a [href]="event.registrationUrl">{{event.registration}}</a>
  </object>
  <div class="buttons">
    <button type="button" class="btn btn-danger" (click)="deleteRegistration()">Smazat přihlášku</button>
  </div>
</div>

<ng-template #uploadRegistrationFormTemplate>
  <form #uploadRegistrationForm="ngForm" (ngSubmit)="uploadRegistration(registrationFileInput)">
    <div class="form-group">
      <label>Nahrát přihlášku ve formátu PDF</label>
      <input type="file" name="file" class="form-control" accept="application/pdf" ngModel #registrationFileInput required>
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-primary" [disabled]="!uploadRegistrationForm.valid">Nahrát</button>
    </div>
  </form>
</ng-template>