$photoHeight: 160px;
$photoWidth: 240px;

.photo {  
  .image {
    height: $photoHeight;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
  }
  .description {

  }
}
