<bo-page>

  <bo-page-header>
    <h2 pageTitle>Schvalování akcí</h2>
  </bo-page-header>

  <div class="dashboard">

    <mat-form-field class="d-lg-none w-100 my-3">
      <mat-select [(ngModel)]="selectedColumn">
        <mat-option value="noLeader">Pan NIKDO ({{(noLeaderEvents | async)?.length || 0}})</mat-option>
        <mat-option value="draft">V přípravě ({{(draftEvents | async)?.length || 0}})</mat-option>
        <mat-option value="pending">Ke schválení ({{(pendingEvents | async)?.length || 0}})</mat-option>
        <mat-option value="public">V programu ({{(publicEvents | async)?.length || 0}})</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">

      <div class="col-12 col-lg-3 d-lg-block" [class.d-none]="selectedColumn !== 'noLeader'">
        <h3 class="mb-3 d-none d-lg-block ml-3" [matBadge]="(noLeaderEvents | async)?.length" matBadgePosition="above after">Pan NIKDO</h3>
        <div class="column bg-light px-2 py-2 mb-3">
          <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: noLeaderEvents | async}"></ng-container>
        </div>
      </div>

      <div class="col-12 col-lg-3 d-lg-block" [class.d-none]="selectedColumn !== 'draft'">
        <h3 class="mb-3 d-none d-lg-block ml-3" [matBadge]="(draftEvents | async)?.length" matBadgePosition="above after">V přípravě</h3>
        <div class="column bg-light px-2 py-2 mb-3">
          <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: draftEvents | async}"></ng-container>
        </div>
      </div>

      <div class="col-12 col-lg-3 d-lg-block" [class.d-none]="selectedColumn !== 'pending'">
        <h3 class="mb-3 d-none d-lg-block ml-3" [matBadge]="(pendingEvents | async)?.length" matBadgePosition="above after">Ke schválení</h3>
        <div class="column bg-light px-2 py-2 mb-3" [class.bg-light]="!(pendingEvents | async)?.length" [class.bg-primary]="(pendingEvents | async)?.length">
          <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: pendingEvents | async}"></ng-container>
        </div>
      </div>

      <div class="col-12 col-lg-3 d-lg-block" [class.d-none]="selectedColumn !== 'public'">
        <h3 class="mb-3 d-none d-lg-block ml-3" [matBadge]="(publicEvents | async)?.length" matBadgePosition="above after">V programu</h3>
        <div class="column bg-light px-2 py-2 mb-3">
          <ng-container *ngTemplateOutlet="eventsColumn; context: {$implicit: publicEvents | async}"></ng-container>
        </div>
      </div>


    </div>
  </div>
</bo-page>

<ng-template #eventsColumn let-events>
  <event-card *ngFor="let event of events" [event]="event" (change)="eventChanged($event)"></event-card>
  <p *ngIf="!loading && events?.length === 0" class="text-center noevents">Žádné akce</p>
</ng-template>