<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Plánování akcí</ion-title>
  </ion-toolbar>
</ion-header>

<div style="flex-grow: 1; display: flex">
  <div class="row" style="flex-grow: 1; display: flex">
    <div class="col-lg-3">
      <div class="px-lg-3 py-lg-3 pb-3">
        <bo-trimester-selector
          labelPosition="floating"
          [ngModel]="[this.dateFrom?.toISODate(), this.dateTill?.toISODate()]"
          (ngModelChange)="setPeriod($event)"
        ></bo-trimester-selector>

        <div class="legend d-none d-lg-block">
          <ion-list lines="none">
            <ion-item *ngFor="let status of statuses">
              <ion-label [ngClass]="'text-' + status.class">
                <ion-icon name="ellipse"></ion-icon>&nbsp;{{ status.name || status.id }}
              </ion-label>
            </ion-item>
            <ion-item class="text-dark">
              <ion-label class="text-dark"><ion-icon name="ellipse"></ion-icon>&nbsp;ČPV</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <ion-content>
        <div class="px-lg-3 py-lg-5">
          <bo-event-calendar
            *ngIf="dateFrom && dateTill"
            (select)="openCreateEventModal($event)"
            [dateFrom]="dateFrom"
            [dateTill]="dateTill"
            [events]="events"
            [cpv]="true"
            [selection]="true"
          ></bo-event-calendar>
        </div>
      </ion-content>
    </div>
  </div>
</div>
