<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Plánování akcí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row no-gutters">
    <div class="col-lg-3">
      <div class="px-lg-3 py-lg-3 pb-3">
        <bo-trimester-selector
          labelPosition="floating"
          [ngModel]="[this.dateFrom?.toISODate(), this.dateTill?.toISODate()]"
          (ngModelChange)="setPeriod($event)"
        ></bo-trimester-selector>

        <bo-event-status-legend></bo-event-status-legend>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="p-lg-3">
        <bo-event-calendar
          *ngIf="dateFrom && dateTill"
          (select)="openCreateEventModal($event)"
          [dateFrom]="dateFrom"
          [dateTill]="dateTill"
          [events]="events"
          [cpv]="true"
          [selection]="true"
        ></bo-event-calendar>
      </div>
    </div>
  </div>
</ion-content>
