<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Plánování akcí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row">
    <div class="col-lg-3 col-xl-2">
      <bo-trimester-selector
        [ngModel]="[this.dateFrom?.toISODate(), this.dateTill?.toISODate()]"
        (ngModelChange)="setPeriod($event)"
      ></bo-trimester-selector>

      <div class="legend d-none d-lg-block">
        <ion-list lines="none">
          <ion-item *ngFor="let status of statuses">
            <ion-label [ngClass]="'text-' + status.class">
              <ion-icon name="ellipse"></ion-icon>&nbsp;{{ status.name || status.id }}
            </ion-label>
          </ion-item>
          <ion-item class="text-dark">
            <ion-label class="text-dark"><ion-icon name="ellipse"></ion-icon>&nbsp;ČPV</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="col-lg-9 col-xl-10 px-lg-5">
      <event-calendar
        *ngIf="dateFrom && dateTill"
        (select)="createEvent($event)"
        [dateFrom]="dateFrom"
        [dateTill]="dateTill"
        [events]="events"
        [cpv]="true"
        [selection]="true"
      ></event-calendar>
    </div>
  </div>
</ion-content>
