<div class="container-fluid px-3 px-sm-5">
  <page-header>
    <h2 [pageTitle]="'Upravit: ' + (albumsService.album$ | async)?.name">Upravit: {{(albumsService.album$ | async)?.name}}</h2>

    <div class="actions" *actionMenu>
      <button mat-button routerLink="../">Zavřít úpravy</button>
    </div>
  </page-header>

  <div class="row">

    <div class="col-lg-2">

      <nav class="nav nav-pills flex-column">
        <a class="nav-link" routerLink="info" replaceUrl="true" routerLinkActive="active">Popis alba</a>
        <a class="nav-link" routerLink="fotky" replaceUrl="true" routerLinkActive="active">Fotky</a>
        <a class="nav-link" routerLink="nahrat" replaceUrl="true" routerLinkActive="active">Nahrát fotky ({{(albumsService.album$ | async)?.photos?.length || 0}})</a>
      </nav>

    </div>

    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>