<div *ngIf="album$ | async as album">

  <form #albumForm="ngForm" (ngSubmit)="saveAlbum(album._id,albumForm)">

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Název alba</mat-label>
          <input matInput type="text" name="name" [ngModel]="album.name" placeholder="Neočekávaný dýchánek" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Akce v programu</mat-label>
          <input matInput type="text" [formControl]="eventsControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getEventString" (optionSelected)="eventSelected($event)">
            <mat-option *ngFor="let event of eventsMatched$ | async" [value]="event">{{event.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>Datum od</label>
        <input type="date" name="dateFrom" [ngModel]="dateFrom | date: 'y-MM-dd'" class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label>Datum do</label>
        <input type="date" name="dateTill" [ngModel]="dateTill | date: 'y-MM-dd'" class="form-control" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label>Rok</label>
        <input type="number" name="year" [ngModel]="year" class="form-control" required>
      </div>
      <div class="form-group col-md-4">
        <label>Stav</label>
        <mat-slide-toggle name="published" [ngModel]="album.status === 'public'" #formInputStatus>Zveřejněná</mat-slide-toggle>
      </div>
      <div class="form-group col-md-4">
        <label>Datum zveřejnění</label>
        <input type="date" name="datePublished" [ngModel]="album.datePublished | date: 'y-MM-dd'" [disabled]="!formInputStatus.checked" class="form-control" required>
      </div>
    </div>

    <div class="form-group">
      <label>Popis</label>
      <textarea name="description" [ngModel]="album.description" class="form-control"></textarea>
    </div>

    <div class="buttons text-right">
      <button mat-flat-button color="primary" type="submit" [disabled]="!albumForm.valid">Uložit</button>
    </div>
  </form>
</div>