<div class="container-fluid px-0 px-md-3 px-lg-5">
  <page-header>
    <h2 pageTitle>Členská databáze</h2>

    <button *menuButton mat-icon-button (click)="showFilter = !showFilter">
      <mat-icon>filter_list</mat-icon>
    </button>

    <div *actionMenu class="actions">
      <button mat-button routerLink="novy-clen" color="primary">Nový člen</button>
      <!-- <button mat-button color="secondary">Stáhnout v CSV</button> -->
    </div>
  </page-header>

  <form #filterForm="ngForm" class="filter d-md-block px-3 px-md-0" [class.d-none]="!showFilter">
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Hledat</mat-label>
        <input matInput type="text" [ngModel]="search$ | async" (ngModelChange)="search$.next($event)" name="search">
        <button mat-button *ngIf="search$ | async" matSuffix mat-icon-button (click)="search$.next('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Oddíl</mat-label>
        <mat-select multiple name="groups" ngModel>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Role</mat-label>
        <mat-select multiple name="roles" ngModel>
          <mat-option *ngFor="let role of roles" [value]="role.id">{{role.id}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Aktivní člen</mat-label>
        <mat-select multiple name="activity" [ngModel]="['active']">
          <mat-option value="active">Aktivní</mat-option>
          <mat-option value="inactive">Neaktivní</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Sloupce</mat-label>
        <mat-select multiple name="fields" [ngModel]="defaultFields">
          <mat-option *ngFor="let field of fields" [value]="field.id">{{field.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <admin-table class="table table-hover">
    <thead>
      <tr>
        <ng-container *ngIf="visibleFields$ | async as visibleFields">
          <th *ngIf="visibleFields.nickname">Přezdívka</th>
          <th *ngIf="visibleFields.group">Oddíl</th>
          <th *ngIf="visibleFields.role">Role</th>
          <th *ngIf="visibleFields.post">Funkce</th>
          <th *ngIf="visibleFields.rank">Hodnost</th>
          <th *ngIf="visibleFields.stars">Hvězdy</th>
          <th *ngIf="visibleFields.name">Jméno</th>
          <th *ngIf="visibleFields.birthday">Datum narození</th>
          <th *ngIf="visibleFields.age">Věk</th>
          <th *ngIf="visibleFields.email">Email</th>
          <th *ngIf="visibleFields.mobile">Mobil</th>
          <th *ngIf="visibleFields.city">Město</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let member of filteredMembers$ | async">
        <tr [routerLink]="member._id" [class.inactive]="member.inactive" [class.bg-light]="member.role === 'instruktor' || member.role === 'vedoucí'">

          <ng-container *ngIf="visibleFields$ | async as visibleFields">
            <th *ngIf="visibleFields.nickname">{{member.nickname}}</th>
            <td *ngIf="visibleFields.group" [style.color]="member.group | group:'color'">{{member.group | group:'name'}}</td>
            <td *ngIf="visibleFields.role">{{member.role}}</td>
            <td *ngIf="visibleFields.post">{{member.post}}</td>
            <td *ngIf="visibleFields.rank">{{member.rank}}</td>
            <td *ngIf="visibleFields.stars">{{member.stars}}</td>
            <td *ngIf="visibleFields.name">{{member.name?.first}} {{member.name?.last}}</td>
            <td *ngIf="visibleFields.birthday">{{member.birthday | date:"d. M. y"}}</td>
            <td *ngIf="visibleFields.age">{{member.birthday ? getAge(member.birthday) : ""}}</td>
            <td *ngIf="visibleFields.email">{{member.contacts?.email}}</td>
            <td *ngIf="visibleFields.mobile">{{member.contacts?.mobile || (member.contacts?.mother ? member.contacts?.mother + " (matka)" : undefined) || (member.contacts?.father ? member.contacts?.father + " (otec)" : undefined || "")}}</td>
            <td *ngIf="visibleFields.city">{{member.address?.city}}</td>
          </ng-container>

        </tr>
      </ng-container>
    </tbody>
  </admin-table>
</div>