<div id="layout" [class.transparentMenu]="menuCollapsed && (menuService.transparent | async)">
  <!-- Navigation -->
  <header [class.top]="isTop">
    <div class="container px-0">
      <page-menu
        *ngIf="menuService.visible | async"
        class="d-print-none"
        (collapse)="menuCollapsed = $event"
      ></page-menu>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <div id="content" #content>
    <router-outlet></router-outlet>

    <page-footer *ngIf="footerService.visible | async" class="d-print-none"></page-footer>
  </div>
</div>

