<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Členská databáze</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form #filterForm="ngForm" class="filter py-1">
  <ion-toolbar>
    <ion-searchbar type="text" name="search" ngModel (keydown.enter)="$event.preventDefault()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showFilter = !showFilter" [color]="showFilter ? 'primary' : 'default'">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="row" [hidden]="!showFilter">
    <div class="col-12 col-md-3">
      <ion-item lines="none">
        <ion-label position="stacked">Oddíl</ion-label>
        <ion-select multiple name="groups" [ngModel]="filter.groups" placeholder="všechny">
          <ion-select-option *ngFor="let group of groups | keyvalue" [value]="group.key">
            {{ group.value.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-3">
      <ion-item lines="none">
        <ion-label position="stacked">Role</ion-label>
        <ion-select multiple name="roles" [ngModel]="filter.roles" placeholder="všechny">
          <ion-select-option *ngFor="let role of roles | keyvalue" [value]="role.key">
            {{ role.value.title }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-3">
      <ion-item lines="none">
        <ion-label position="stacked">Aktivní člen</ion-label>
        <ion-select multiple name="activity" [ngModel]="filter.activity">
          <ion-select-option value="active">Aktivní</ion-select-option>
          <ion-select-option value="inactive">Neaktivní</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-3">
      <ion-item lines="none">
        <ion-label position="stacked">Zobrazené sloupce</ion-label>
        <ion-select multiple name="fields" [ngModel]="filter.fields">
          <ion-select-option *ngFor="let field of fields" [value]="field.id">
            {{ field.title }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</form>

<ion-content>
  <admin-table *ngIf="style === 'table'">
    <thead>
      <tr>
        <th *ngFor="let field of tableColumns">{{ field.title }}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of tableRows"
        [routerLink]="row.member._id"
        class="member"
        [class.inactive]="row.member.inactive"
      >
        <ng-container *ngFor="let field of tableColumns; let i = index" [ngSwitch]="field.id">
          <th *ngSwitchCase="'nickname'">{{ row.cells[i] }}</th>
          <td *ngSwitchCase="'group'" [style.color]="row.member.group | group: 'color'">
            {{ row.member.group | group: "name" }}
          </td>
          <td *ngSwitchCase="'age'" class="ion-text-right">
            <ng-container *ngIf="row.cells[i]">{{ row.cells[i] }} let</ng-container>
          </td>
          <td *ngSwitchDefault>{{ row.cells[i] }}</td>
        </ng-container>

        <td class="buttons">
          <a class="clickable" (click)="copyRow(row.cells); $event.stopPropagation()">
            <ion-icon name="copy-outline"></ion-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </admin-table>

  <ion-list *ngIf="style === 'list'">
    <ion-item *ngFor="let row of tableRows" [routerLink]="row.member._id" [detail]="true">
      <ion-label>
        <h2>{{ row.member.nickname || row.member.name?.first || row.member.name?.last }}</h2>
        <p>
          <ng-container
            *ngFor="let field of tableColumns; let i = index; let isLast = last"
            [ngSwitch]="field.id"
            [ngSwitch]="field.id"
          >
            <span *ngSwitchCase="'nickname'"></span>
            <span *ngSwitchCase="'group'">
              <span [style.color]="row.member.group | group: 'color'">{{ row.member.group | group: "name" }}</span
              ><ng-container *ngIf="!isLast">, </ng-container>
            </span>
            <span *ngSwitchCase="'age'"
              >{{ row.cells[i] || "?" }} let<ng-container *ngIf="!isLast">, </ng-container></span
            >

            <span *ngSwitchDefault>{{ row.cells[i] }}<ng-container *ngIf="!isLast">, </ng-container></span>
          </ng-container>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
