<ng-container *ngIf="!loading">
  <div *ngIf="recurring; else newRecurring" class="recurring">

    <h3>Přehled opakování</h3>
    <div class="instances">
      <table class="table table-striped table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th>Název akce</th>
            <th>Datum</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instance of recurring.events" (click)="openInstance(instance)">
            <td class="current" [class.active]="event._id === instance._id"><i class="fas fa-chevron-right"></i></td>
            <td>{{instance.name}}</td>
            <td>{{instance.dateFrom | date:"EEEEEE d. M."}} ~ {{instance.dateTill | date:"EEEEEE d. M. y"}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3>Smazat opakování</h3>
    <p class="text-danger">Všechny opakování, kromě toho, které je vybrané v tabulce výše, budou nenávratně smazány!</p>
    <div class="buttons">
      <button type="button" class="btn btn-danger" (click)="deleteRecurring()">Smazat opakování</button>
    </div>
  </div>

  <ng-template #newRecurring>
    <form #recurringForm="ngForm" (ngSubmit)="createRecurring(recurringForm)">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Typ opakování</label>
          <select name="type" ngModel required class="form-control">
            <option value="weekly">každý týden v {{event.dateFrom | date:"EEEE"}}</option>
            <option value="monthly">každý měsíc {{event.dateFrom | date:"d."}}</option>
            <option value="monthlyDay">každý {{getNthDay(event.dateFrom)}}. {{event.dateFrom | date:"EEEE"}} v měsíci</option>
            <option value="yearly">každý rok {{event.dateFrom | date:"d. M."}}</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label>Opakovat od</label>
          <input type="date" name="startDate" ngModel required class="form-control">
        </div>

        <div class="form-group col-md-3">
          <label>Opakovat do</label>
          <input type="date" name="endDate" ngModel required class="form-control">
        </div>

      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-primary">Nastavit opakování</button>
      </div>

    </form>

  </ng-template>
</ng-container>

<p *ngIf="loading">Načítám&hellip;</p>