@import "styles/variables";

$circle-size: 3rem;

:host {
  display: block;
}

.icon {
  // padding-right: 1em;
  float: left;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  background-color: #ccc;
}

.event-heading {
  --ion-item-background: transparent;
}

ion-card-title,
ion-card-subtitle {
  margin-left: 3rem;
}

.description {
  white-space: pre-line;
}

.statusNote {
  color: $white;
  padding-top: 4px;
  padding-bottom: 4px;
  p {
    margin: 0;
  }
}

.buttons {
  background-color: $grey;

  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;

  padding-top: 0px;
  padding-bottom: 0px;

  ion-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
