<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/uzivatele"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Vytvořit uživatelský účet</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createUserForm="ngForm">
    <ion-item class="w-100">
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" name="login" placeholder="bilbo" ngModel required></ion-input>
    </ion-item>

    <ion-item class="w-100">
      <ion-label position="floating">Bošánovský e-mail</ion-label>
      <ion-input type="email" name="email" placeholder="bilbo@bosan.cz" ngModel></ion-input>
    </ion-item>
  </form>
</ion-content>
