.responsive-table {
  flex-grow: 1;
  .header {
    border-bottom: 1px solid #333;
    font-weight: bold;
  }
  .list {
    .item {
      cursor: pointer;
      border-bottom: 1px solid #ccc;
    }
  }
}
