<div class="container-fluid px-md-3 px-lg-5">
  <page-header>
    <h2 pageTitle>Přidat člena</h2>

    <div *actionMenu class="actions">
      <button mat-button routerLink="../">Zrušit</button>
    </div>
  </page-header>

  <form #createMemberForm="ngForm" (ngSubmit)="createMember(createMemberForm)">
    <div class="row">
      <mat-form-field class="col-12 col-xl-4">
        <mat-label>Přezdívka</mat-label>
        <input matInput type="text" name="nickname" ngModel placeholder="Nositel prstenu">
      </mat-form-field>
    </div>

    <div class="row" ngModelGroup="name">
      <mat-form-field class="col-12 col-xl-2">
        <mat-label>Jméno</mat-label>
        <input matInput type="text" ngModel name="first" placeholder="Bilbo" required>
      </mat-form-field>
      <br>
      <mat-form-field class="col-12 col-xl-2">
        <mat-label>Příjmení</mat-label>
        <input matInput type="text" ngModel name="last" placeholder="Pytlík" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-12 col-xl-2">
        <mat-label>Oddíl</mat-label>
        <mat-select name="group" ngModel required>
          <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 col-xl-2">
        <mat-label>Role</mat-label>
        <mat-select name="role" ngModel required>
          <mat-option *ngFor="let role of roles" [value]="role.id">{{role.id}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-12 col-xl-4">
        <button mat-button mat-flat-button color="primary" type="submit" [disabled]="!createMemberForm.valid" class="w-100">Přidat člena</button>
      </div>
    </div>

  </form>
</div>