<bo-page>
  <bo-page-header>
    <h2 pageTitle>Galerie</h2>

    <button *menuButton mat-icon-button (click)="showFilter = !showFilter">
      <mat-icon>filter_list</mat-icon>
    </button>

    <div class="actions" *actionMenu>
      <button mat-button color="primary">Nové album</button>
    </div>

  </bo-page-header>

  <form #filterForm="ngForm" class="filter d-md-block px-3 px-md-0" [class.d-none]="!showFilter">
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Hledat</mat-label>
        <input matInput type="text" [ngModel]="search$ | async" (ngModelChange)="search$.next($event)" name="search" (keydown.enter)="$event.preventDefault()">
        <button mat-button *ngIf="search$ | async" matSuffix mat-icon-button (click)="search$.next('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="col-12 col-md-12 col-lg-2 col-xl-1">
        <mat-label>Rok</mat-label>
        <mat-select name="year" [ngModel]="currentYear">
          <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md-12 col-lg-2 col-xl-2">
        <mat-label>Stav</mat-label>
        <mat-select name="status" ngModel>
          <mat-option>Všechny</mat-option>
          <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <admin-table>
    <thead>
      <tr>
        <th>Název alba</th>
        <th>Datum</th>
        <th>Stav</th>
        <th>Publikováno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let album of filteredAlbums$ | async" [routerLink]="album._id">
        <td>{{album.name}}</td>
        <td class="date">{{album.dateFrom | date:"d. M. y"}} - {{album.dateTill | date:"d. M. y"}}</td>
        <td>{{statusesIndex[album.status] || "N/A"}}</td>
        <td>{{album.datePublished | date:"d. M. y"}}</td>
      </tr>
    </tbody>
  </admin-table>

  <p *ngIf="loading">Načítám...</p>

</bo-page>