<div *ngFor="let row of rows" class="photo-row">
  <div
    *ngFor="let photo of row.photos"
    class="photo"
    (click)="onPhotoClick($event, photo)"
    [class.clickable]="clickable"
  >
    <img
      [src]="photo.sizes.small.url"
      [style.height]="row.height + 'px'"
      [style.width]="(row.height / photo.sizes.small.height) * photo.sizes.small.width + 'px'"
      [style.background-color]="photo.bg"
    />
    <span *ngIf="photo.caption" class="caption">{{ photo.caption }}</span>
  </div>
</div>
