<section id="pondeli" class="py-4">
  <div class="container">
    <h2 class="text-center mb-4">Vedoucí oddílů - schůzky v pondělí</h2>
    <div class="row text-center">
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/013-woman-3.png" class="img-fluid">
        </div>
        <h4>Johanka<br />Johana Štěchová</h4>
        <p class="badge badge-pill mb-1">5. oddíl</p><br />
        <a href="mailto:johanka@bosan.cz">johanka@bosan.cz</a><br />
        <a href="tel:608 929 829">608 929 829</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/019-man-7.png" class="img-fluid">
        </div>
        <h4>Kšilt<br />Vít Suchomel</h4>
        <p class="badge badge-pill mb-1">7. oddíl</p><br />
        <a href="mailto:ksilt@bosan.cz">ksilt@bosan.cz</a><br />
        <a href="tel:792 369 583">792 369 583</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/003-woman-13.png" class="img-fluid">
        </div>
        <h4>Číča<br />Amálie Peláková</h4>
        <p class="badge badge-pill mb-1">8. oddíl</p><br />
        <a href="mailto:cica@bosan.cz">cica@bosan.cz</a><br />
        <a href="tel:737 461 023">737 461 023</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/028-boy-5.png" class="img-fluid">
        </div>
        <h4>Lef<br />Jiří Kubíček</h4>
        <p class="badge badge-pill mb-1">22. oddíl</p><br />
        <a href="mailto:lef@bosan.cz">lef@bosan.cz</a><br />
        <a href="tel:605 340 502">605 340 502</a><br />
      </div>
    </div>
  </div>
</section>

<section id="streda" class="py-4">
  <div class="container">
    <h2 class="text-center mb-4">Vedoucí oddílů - schůzky ve středu</h2>
    <div class="row text-center">
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/010-woman-6.png" class="img-fluid">
        </div>
        <h4>Čip<br />Kateřina Sazimová</h4>
        <p class="badge badge-pill mb-1">3. oddíl</p><br />
        <a href="mailto:cip@bosan.cz">cip@bosan.cz</a><br />
        <a href="tel:733 374 326">733 374 326</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/006-woman-10.png" class="img-fluid">
        </div>
        <h4>Ředkvička<br />Emma Hrdličková</h4>
        <p class="badge badge-pill mb-1">4. oddíl</p><br />
        <a href="mailto:redkvicka@bosan.cz">redkvicka@bosan.cz</a><br />
        <a href="tel:605 498 958">605 498 958</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/002-woman-14.png" class="img-fluid">
        </div>
        <h4>Rammstein<br />Jana Nováková</h4>
        <p class="badge badge-pill mb-1">6. oddíl</p><br />
        <a href="mailto:rammstein@bosan.cz">rammstein@bosan.cz</a><br />
        <a href="tel:605 900 368">605 900 368</a><br />
      </div>
    </div>
  </div>
</section>

<section id="vedeni" class="py-4">
  <div class="container">
    <h2 class="text-center mb-4">Vedení skupiny</h2>
    <div class="row text-center">
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/024-man-2.png" class="img-fluid">
        </div>
        <h4>Jára<br />Jaroslav Havelík</h4>
        <p class="badge badge-pill mb-1">hlavní vedoucí</p><br />
        <a href="mailto:jara@bosan.cz">jara@bosan.cz</a><br />
        <a href="tel:721 833 194">721 833 194</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/014-man-12.png" class="img-fluid">
        </div>
        <h4>Tyčka<br />Jan Svoboda</h4>
        <p class="badge badge-pill mb-1">hospodář</p><br />
        <a href="mailto:tycka@bosan.cz">tycka@bosan.cz</a><br />
        <a href="tel:606 939 753">606 939 753</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/011-woman-5.png" class="img-fluid">
        </div>
        <h4>Máša<br />Marta Kuželková</h4>
        <p class="badge badge-pill mb-1">člen vedení</p><br />
        <a href="mailto:masa@bosan.cz">masa@bosan.cz</a><br />
        <a href="tel:732 649 157">732 649 157</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/031-boy-2.png" class="img-fluid">
        </div>
        <h4>Fíla<br />Filip Hruška</h4>
        <p class="badge badge-pill mb-1">člen vedení</p><br />
        <a href="mailto:fila@bosan.cz">fila@bosan.cz</a><br />
        <a href="tel:774 533 358">774 533 358</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/029-boy-4.png" class="img-fluid">
        </div>
        <h4>Šumák<br />Šimon Zeman</h4>
        <p class="badge badge-pill mb-1">člen vedení</p><br />
        <a href="mailto:sumak@bosan.cz">sumak@bosan.cz</a><br />
        <a href="tel:703 126 142">703 126 142</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/028-boy-5.png" class="img-fluid">
        </div>
        <h4>Pašík<br />Václav Čechmánek</h4>
        <p class="badge badge-pill mb-1">člen vedení</p><br />
        <a href="mailto:pasik@bosan.cz">pasik@bosan.cz</a><br />
        <a href="tel:731 651 145">731 651 145</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/032-boy-1.png" class="img-fluid">
        </div>
        <h4>Vokurka<br />Ondřej Pěknice</h4>
        <p class="badge badge-pill mb-1">člen vedení</p><br />
        <a href="mailto:vokurka@bosan.cz">vokurka@bosan.cz</a><br />
        <a href="tel:725 739 088">725 739 088</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/023-man-3.png" class="img-fluid">
        </div>
        <h4>Mazák<br />David Tvrdý</h4>
        <p class="badge badge-pill mb-1">revizor</p><br />
        <a href="mailto:mazak@bosan.cz">mazak@bosan.cz</a><br />
        <a href="tel:731 041 415">731 041 415</a><br />
      </div>
      <div class="col-6 col-lg-3 mx-auto contact pb-3">
        <div class="avatar px-5">
          <img src="/assets/img/contact-placeholders/027-boy-6.png" class="img-fluid">
        </div>
        <h4>Žabiš<br />Jan Žák</h4>
        <p class="badge badge-pill mb-1">mluvčí za KONDOR</p><br />
        <a href="mailto:zabis@bosan.cz">zabis@bosan.cz</a><br />
        <a href="tel:777 840 316">777 840 316</a><br />
      </div>
    </div>
  </div>
</section>

<section id="map" class="pt-4">
  <div class="container-fluid">
    <h2 class="text-center mb-4">Přijď se podívat osobně</h2>
    <p class="text-center">Každé pondělí a středu máme schůzky od 16:00 do 18:00 v naší loděnici.</p>
  </div>

  <div *ngIf="mapUrl" class="map">
    <iframe style="border:none" [src]="mapUrl | safeurl:'SafeResourceUrl'" width="800" height="600"></iframe>
  </div>
</section>
