<section id="pondeli" class="py-4">
  <div class="container">
    <h2 class="text-center mb-4">Vedoucí oddílů - schůzky v pondělí</h2>
    <contact-card [contacts]="contacts.monday"></contact-card>
  </div>
</section>

<section id="streda" class="py-4">
  <div class="container">
    <h2 class="text-center mb-4">Vedoucí oddílů - schůzky ve středu</h2>
    <contact-card [contacts]="contacts.wednesday"></contact-card>
  </div>
</section>

<section id="vedeni" class="py-4">
  <div class="container">
    <h2 class="text-center mb-4">Vedení skupiny</h2>
    <contact-card [contacts]="contacts.leaders"></contact-card>
  </div>
</section>

<section id="map" class="pt-4">
  <div class="container-fluid">
    <h2 class="text-center mb-4">Přijď se podívat osobně</h2>
    <p class="text-center">Každé pondělí a středu máme schůzky od 16:00 do 18:00 v naší loděnici.</p>
  </div>

  <div *ngIf="mapUrl" class="map">
    <iframe style="border:none" [src]="mapUrl | safeurl:'SafeResourceUrl'" width="800" height="600" frameborder="0"></iframe>
  </div>
</section>
