<section>
  <div class="container">

    <h2>Nastavení webu</h2>

    <div class="row">

      <div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="../obecne" routerLinkActive="active">Obecné nastavení</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../akce" routerLinkActive="active">Akce</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../clenska-databaze" routerLinkActive="active">Členská databáze</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../kontakty" routerLinkActive="active">Kontakty</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../dokumenty" routerLinkActive="active">Dokumenty</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../uzivatele" routerLinkActive="active">Uživatelé</a></li>
          <br>
          <li class="nav-item"><button type="button" class="btn btn-primary" (click)="saveConfig()">Uložit nastavení</button></li>
        </ul>

      </div>

      <div class="col-9">
        <div *ngIf="config" [ngSwitch]="cat">

          <ng-container *ngSwitchCase="'obecne'">
            <div class="form-group"> 
              <label>Titulek webu</label>
              <input type="string" class="form-control" [(ngModel)]="config.general.title">
              <small class="form-text text-muted">Zobrazí se v záhlaví prohlížeče.</small>
            </div>
            <div class="form-group">              
              <label>Adresa embed mapy Bošán</label>
              <input type="url" class="form-control" id="docmentsUrlInput" [(ngModel)]="config.general.homeMapUrl">
              <small class="form-text text-muted">Zobrazí se v IFRAME.</small>
            </div>
            <div class="form-group">              
              <label>Adresa embed mapy Šán</label>
              <input type="url" class="form-control" id="docmentsUrlInput" [(ngModel)]="config.general.campMapUrl">
              <small class="form-text text-muted">Zobrazí se v IFRAME.</small>
            </div>
            <div class="form-group">              
              <label>Adresa složky ŠÁN Public Google dokumentů</label>
              <input type="url" class="form-control" id="docmentsUrlInput" [(ngModel)]="config.general.documentsUrl">
              <small class="form-text text-muted">Zobrazí se v IFRAME.</small>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'akce'">
            <h4>Typy akcí</h4>

            <codelist-editor [fields]="eventTypeFields" [(ngModel)]="config.events.types"></codelist-editor>
            
            <h4>Charaktery akcí</h4>

            <codelist-editor [fields]="eventSubTypeFields" [(ngModel)]="config.events.subtypes"></codelist-editor>
            
            <h4>Typů opakování</h4>

            <codelist-editor [fields]="eventRecurringTypeFields" [(ngModel)]="config.events.recurringTypes"></codelist-editor>
          </ng-container>

          <ng-container *ngSwitchCase="'clenska-databaze'">
            <h4>Oddíly</h4>

            <codelist-editor [fields]="groupFields" [(ngModel)]="config.members.groups"></codelist-editor>

            <h4>Role členů (dítě, instruktor, ...)</h4>

            <codelist-editor [fields]="memberRolesFields" [(ngModel)]="config.members.roles"></codelist-editor>
          </ng-container>
          
          <ng-container *ngSwitchCase="'kontakty'">
            <h4>Vedení</h4>
            <codelist-editor [fields]="contactFields" [(ngModel)]="config.contacts.leaders"></codelist-editor>
            <h4>Schůzky v pondělí</h4>
            <codelist-editor [fields]="contactFields" [(ngModel)]="config.contacts.monday"></codelist-editor>
            <h4>Schůzky ve středu</h4>
            <codelist-editor [fields]="contactFields" [(ngModel)]="config.contacts.wednesday"></codelist-editor>
          </ng-container>

          <ng-container *ngSwitchCase="'dokumenty'">
            <div class="form-group">              
              <label>Adresa Google Dokumentů</label>
              <input type="url" class="form-control" id="docmentsUrlInput" [(ngModel)]="config.documents.url">
              <small class="form-text text-muted">Zobrazí se v IFRAME.</small>
            </div>
          </ng-container>
          
          <ng-container *ngSwitchCase="'uzivatele'">
            <h4>Uživatelské role</h4>

            <codelist-editor [fields]="userRolesFields" [(ngModel)]="config.users.roles"></codelist-editor>
          </ng-container>
          




        </div>

      </div>
    </div>

    <hr>
    
    <div class="form-check">
      <input type="checkbox" id="check_viewjson" class="form-check-input" [(ngModel)]="viewJson">&nbsp;<label for="check_viewjson" class="form-check-label">Zobrazit JSON</label>
    </div>

    <div *ngIf="viewJson" class="json bg-light">
      <textarea [ngModel]="config | json" (ngModelChange)="editJson($event)"></textarea>
      <p>{{jsonError ? "chyba" : "kód OK"}}</p>
    </div>
  </div>
</section>
