<section>
  <div class="container">

    <h2>Moje akce</h2>

    <div class="events">
      
      <div *ngFor="let event of events" class="event card">
        <div class="card-header">
          <a [routerLink]="['./',event._id]" class="btn btn-primary btn-sm float-right">Otevřít</a>
          <div class="card-title">
            <h5>
              {{[event.dateFrom,event.dateTill] | dateRange}} | {{event.name}}
              <sup>
                <span class="badge badge-secondary" *ngIf="event.status === 'draft'">Připravovaná</span>
                <span class="badge badge-success" *ngIf="event.status === 'public'">V programu</span>
              </sup>
            </h5>
          </div>
        </div>
        <div class="card-body row">
          <div class="col-md-9">
            <p>{{event.description | nl2br}}</p>
            <table>
              <tr>
                <th>Vedoucí:</th>
                <td>{{event.leaders | joinLeaders:false}}</td>
              </tr>
              <tr>
                <th>Účastníci ({{event.attendees.length || 0}}):</th>
                <td>{{(event.attendees | joinAttendees) || "-"}}</td>
              </tr>
              <tr>
                <th>Ujetých km po vodě:</th>
                <td>{{event.waterDistance || 0}} km</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>