<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akce"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>{{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" [header]="event?.name || 'Akce'"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [ngSwitch]="view">
  <ng-container *ngIf="!event">
    <h1><ion-skeleton-text></ion-skeleton-text></h1>
    <p><ion-skeleton-text></ion-skeleton-text></p>
  </ng-container>

  <ng-container *ngIf="event">
    <div class="row">
      <div class="order-last order-lg-first col-12 col-lg-8">
        <h1>{{ event?.name }}</h1>
        <p><bo-event-status-badge [event]="event"></bo-event-status-badge></p>

        <div [innerHTML]="event.report"></div>

        <bo-photo-gallery [photos]="eventAlbum?.photos || []"></bo-photo-gallery>
      </div>

      <div class="order-first order-lg-last col-12 col-lg-4 mb-4 mb-lg-0">
        <event-card [event]="event" [actions]="false"></event-card>

        <div class="attendees">
          <ion-chip *ngFor="let attendee of event.attendees">{{ attendee.nickname }}</ion-chip>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
