<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/galerie"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>{{ album?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Album"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Album</ion-label>
      <!-- <ion-badge [color]="eventStatus?.color">&nbsp;&nbsp;</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="fotky">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Fotky</ion-label>
      <ion-badge>{{ album?.photos?.length }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
