.photos {
  display: flex;
  flex-wrap: wrap;
  img {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    background: #ec985a;
    color: white;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
    flex: 1 0 auto;
  }
}
