<form class="mb-3">
  <input type="text" name="search" class="form-control" ngModel (ngModelChange)="setSearch($event)" placeholder="Vyhledat (s diakritikou)">
</form>

<div class="list">
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Přezdívka</th>
        <th>Jméno</th>
        <th>Oddíl</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members;let i = index" [hidden]="isHidden(member,i)" (click)="toggleMember(member,!selectedMember(member))">
        <td><input type="checkbox" [ngModel]="selectedMember(member)" (ngModelChange)="toggleMember(member,$event)"></td>
        <td>{{member.nickname}}</td>
        <td>{{member.name?.first}} {{member.name?.last}}</td>
        <td [style.color]="member.group | group:'color'">{{member.group | group:'name'}}</td>
      </tr>
    </tbody>
  </table>
</div>