:host{
  display:block;
  height:41px;
}


a {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  display:block;
  z-index:99999;

  box-shadow:0 0 5px rgba(0,0,0,.4);

  font-size: 14px;
  display: block;
  padding: 4px;
  text-align: center;
  background: #1755d1;
  text-decoration: none;
  line-height: 1.5;
  padding: 10px;
  color: #fff;
}

a:hover {
  color: #1755d1 !important;;
  background-color: #fffa72;
}