/* == KONTAKTY == */
:host{text-align:center;}

.role{padding:0 20px 0px 20px;margin-bottom:10px;color:#fff;background-color:#000;text-align:center;height:24px;border-radius:12px;font-weight:bold;display:inline-block;}

.contact-img{padding-left:20px; padding-right:20px;}

a{color:#000;}