<div class="row">
  <div *ngFor="let contact of contacts" class="col-6 col-lg-3 mx-auto contact">
    <img *ngIf="contact.avatar" [src]="contact.avatar" class="img-fluid">
    <img *ngIf="!contact.avatar" src="/assets/img/boy.png" class="img-fluid contact-img">

    <h2><u>{{contact.nickname}}</u><br>{{contact.name}}</h2>
    <div class="role">{{contact.role}}</div><br>

    <a [href]="'mailto:' + contact.email">{{contact.email}}</a><br>
    <a [href]="'tel:' + contact.mobile">{{contact.mobile}}</a><br>
  </div>
</div>