<section *ngIf="camp">
  <div class="container">
    
    <h2>{{camp.name}}</h2>

    <div class="row">

      <div class="col-3">

        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="../info" routerLinkActive="active">Základní info</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../ucastnici" routerLinkActive="active">Účastníci a přihlášky</a></li>          
          <li class="nav-item"><a class="nav-link text-danger" routerLink="../ucastnici" routerLinkActive="active">Smazat tábor</a></li>          
        </ul>

      </div>

      <div class="col-9" [ngSwitch]="category">
        <camp-admin-basic *ngSwitchCase="'info'" [camp]="camp" (save)="saveCamp($event)"></camp-admin-basic>
      </div>
    </div>
  </div>
</section>
