<div class="row">
  <div class="col-12 col-md-9 col-lg-10">
    <h2>
      {{event?.name}}
      <sup>
        <event-status-badge [event]="event"></event-status-badge>
      </sup>
    </h2>

  </div>
  <div class="col-12 col-md-3 col-lg-2 buttons">

    <div *ngIf="event" class="dropdown text-right actions" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">Akce<span class="caret"></span></button>

      <div class="dropdown-menu" *dropdownMenu>
        <a *ngIf="event._actions?.submit" [class.disabled]="!event._actions?.submit.allowed" class="dropdown-item" (click)="eventAction('submit')">Ke schválení</a>
        <a *ngIf="event._actions?.publish" [class.disabled]="!event._actions?.publish.allowed" class="dropdown-item" (click)="eventAction('publish')">Do programu</a>
        <a *ngIf="event._actions?.announce" [class.disabled]="!event._actions?.announce.allowed" class="dropdown-item" (click)="eventAction('submit')">Poslat ohlášku</a>
        <a *ngIf="event._actions?.finalize" [class.disabled]="!event._actions?.finalize.allowed" class="dropdown-item" (click)="eventAction('submit')">Uzavřít</a>
        <a *ngIf="event._actions?.reject" [class.disabled]="!event._actions?.reject.allowed" class="dropdown-item" (click)="eventAction('reject')">Vrátit vedoucím k úpravám</a>
        <a *ngIf="event._actions?.unpublish" [class.disabled]="!event._actions?.unpublish.allowed" class="dropdown-item" (click)="eventAction('unpublish')">Odebrat z programu</a>
        <a *ngIf="event._actions?.cancel" [class.disabled]="!event._actions?.cancel.allowed" class="dropdown-item text-danger" (click)="eventAction('cancel')">Zrušit</a>
        <a *ngIf="event._actions?.uncancel" [class.disabled]="!event._actions?.uncancel.allowed" class="dropdown-item" (click)="eventAction('uncancel')">Odzrušit</a>
        <a [class.disabled]="!event._links?.self?.allowed.DELETE" class="dropdown-item text-danger" (click)="deleteEvent()">Smazat</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" [href]="getAnnouncementTemplateUrl()">Stáhnout ohlášku</a>
        <a class="dropdown-item" [href]="getAccountingTemplateUrl()">Stáhnout účtování</a>

      </div>


    </div>
  </div>
</div>

<div>
  <ng-container *ngIf="event?.dateFrom || event?.dateTill">{{[event.dateFrom,event.dateTill] | dateRange}}</ng-container>
  <ng-container *ngIf="event?.timeFrom || event?.timeTill">{{eventData.timeFrom || "0:00"}} - {{eventData.timeTill || "0:00"}}</ng-container>
</div>

<div class="mt-5">
  <p class="multiline">{{event?.description || 'Popisek akce nevyplněn.'}}</p>
</div>

<div class="mt-5">
  <groups-select [ngModel]="event?.groups" (ngModelChange)="saveEvent({groups:$event})" [readonly]="!editable"></groups-select>
</div>

<div class="mt-3">
  <div class="d-inline-block mr-3">
    <event-subtype-selector [ngModel]="event?.subtype" (ngModelChange)="saveEvent({subtype:$event})" [readonly]="!editable"></event-subtype-selector>
  </div>
  <!--<event-type-selector [ngModel]="event?.type" (ngModelChange)="saveEvent({type:$event})" [readonly]="!editable"></event-type-selector>-->
</div>

<!--<div class="row mt-3">
  <div class="col-sm-6">
    <div class="form-group row">
      <label>Sraz:</label> {{event?.meeting?.start || "Nevyplněno"}}<br>
      <label>Konec:</label> {{event?.meeting?.end || "Nevyplněno"}}
    </div>
  </div>

  <div class="col-md-6">
    <p>
      <label>Místo:</label> {{event?.place || "Nevyplněno"}}<br>
      <strong>Řeka:</strong> {{event?.competition?.river}}<br>
      <strong>Kilometry po vodě:</strong> {{event?.competition?.water_km}} km
    </p>
  </div>
</div>-->


<h4 class="mt-5">Přihláška</h4>
<event-registration [event]="event" (change)="loadEvent(event._id)" [readonly]="!editable"></event-registration>

<h4 class="mt-5">Vedoucí</h4>
<event-attendees-list *ngIf="event" [ngModel]="event.leaders" (ngModelChange)="saveEvent({leader:$event})" [readonly]="!editable"></event-attendees-list>

<h4 class="mt-5">Účastníci</h4>

<div class="row">
  <div class="col-12 col-md-8">
    <event-attendees-list *ngIf="event" [ngModel]="event.attendees" (ngModelChange)="saveEvent({attendees:$event})" [readonly]="!editable"></event-attendees-list>
  </div>
  <div class="col-12 col-md-4">
    <event-birthday-list *ngIf="event" [event]="event"></event-birthday-list>
    <event-age-histogram *ngIf="event" [event]="event"></event-age-histogram>
  </div>
</div>

<h4 class="mt-5">Účtování</h4>
<event-expenses-table [ngModel]="event?.expenses" (ngModelChange)="saveEvent({expenses:$event})" [persons]="(event?.attendees?.length || 0) + (event?.leaders?.length || 0)" [readonly]="!editable"></event-expenses-table>

<h4 class="mt-5">Report</h4>
<div [innerHTML]="event?.report || '<p>Report je prázdný.</p>'"></div>