<ion-toolbar>
  <ion-searchbar enterkeyhint="search" (ionChange)="searchEvents($any($event).detail.value)"></ion-searchbar>
  <ion-buttons slot="end">
    <ion-button (click)="close()">Zrušit</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let event of events" [button]="true" (click)="close(event._id)">
      <ion-label>
        <h3>{{ event.name }}</h3>
        <p>{{ [event.dateFrom, event.dateTill] | dateRange }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
