<section *ngIf="member">
  <div class="container">

    <h2>{{member.nickname}}</h2>

    <div class="row">

      <div class="col-3">

        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="../osobni" routerLinkActive="active">Osobní údaje</a></li>
          <li class="nav-item"><a class="nav-link text-danger" routerLink="../smazat" routerLinkActive="active">Smazat člena</a></li>          
        </ul>

      </div>

      <div class="col-9" [ngSwitch]="category">

        <member-admin-info *ngSwitchCase="'osobni'" [member]="member"></member-admin-info>
        
        <div *ngSwitchCase="'smazat'">
          <input type="checkbox" [(ngModel)]="deleteConfirmation" id="deleteConfirmationInput"> <label for="deleteConfirmationInput">Opravdu chci smazat tohoto člena</label>
          <br>
          <button type="button" [disabled]="!deleteConfirmation" (click)="deleteMember()" class="btn btn-danger">Smazat akci</button>
        </div>
        
      </div>
    </div>
  </div>
</section>