@import "styles/variables";

.right {
  border-left: 1px solid #ccc;
}

.block {
  padding: 30px 0;
}
.actions {
  width: 100%;
}

p.description {
  max-width: 700px;
}

.dropdown-item.disabled {
  opacity: 0.3;
} // https://github.com/twbs/bootstrap/issues/28666

@media (max-width: 767.98px) {
  .actions .dropdown-toggle {
    width: 100%;
  }
  .actions .dropdown-menu {
    width: 100%;
  }
}
