<div class="container events mt-3 mt-lg-0">

  <mat-card *ngFor="let event of events" class="event mb-3">
    <mat-card-title>{{event.name}}</mat-card-title>
    <mat-card-subtitle>{{[event.dateFrom,event.dateTill] | dateRange:"EEEEEE d. M.":"EEEEEE d. M.":"EEEEEE d."}}</mat-card-subtitle>
    <mat-card-content *ngIf="event.description">
      <p class="multiline">{{event.description}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button *ngIf="event._actions?.lead" mat-flat-button color="primary" (click)="leadEvent(event)">Vést akci</button>
    </mat-card-actions>
  </mat-card>

</div>