<section>
  <div class="container">

    <button type="button" class="btn btn-primary float-right" (click)="openCreateAlbumModal(createAlbumModal)">Nové album</button>

    <h2>Galerie</h2>

    <admin-table>
      <thead class="thead-dark">
        <tr>
          <th>Název alba</th>
          <th>Datum</th>
          <th>Stav</th>
          <th>Publikováno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albums" [routerLink]="album._id">
          <td>{{album.name}}</td>
          <td class="date">{{album.dateFrom | date:"d. M. y"}} - {{album.dateTill | date:"d. M. y"}}</td>
          <td>{{statuses[album.status] || "N/A"}}</td>
          <td>{{album.datePublished | date:"d. M. y"}}</td>
          <td class="actions text-right">
            <ng-container *ngIf="album.event">
              <a [routerLink]="['/interni/akce',album.event]" title="Otevřít akci"><i
                   class="far fa-calendar-alt"></i></a>
              &nbsp;
            </ng-container>
            <a [routerLink]="album._id"><i class="fas fa-pencil-alt"></i></a>
            &nbsp;
            <a [routerLink]="['/fotogalerie', album._id]"><i class="fas fa-external-link-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </admin-table>

    <p *ngIf="loading">Načítám...</p>

  </div>
</section>

<ng-template #createAlbumModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vytvořit nové album</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="createAlbumModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #createAlbumForm="ngForm" (ngSubmit)="createAlbum(createAlbumForm)">
    <div class="modal-body">
      <div class="form-group">
        <label>Název alba</label>
        <input type="text" name="name" ngModel class="form-control" required>
      </div>
      <div class="form-group">
        <label>Rok</label>
        <input type="number" name="year" [ngModel]="currentYear" class="form-control" required>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-primary" type="submit" [disabled]="!createAlbumForm.valid">Vytvořit</button>
    </div>
  </form>
</ng-template>