<div class="container timeline">
  
  <p *ngIf="loading" class="loading">Načítám program&hellip;</p>
  
  <ng-container *ngFor="let event of events;let i = index">

    <div *ngIf="i >= 1 && (event.dateFrom | date:'M') !== (events[i-1].dateFrom | date:'M')" class="row">
      <div class="col-4 col-lg-2 py-lg-3 px-0 px-lg-3 pt-1">
        <h4>{{event.dateFrom | date:'M' | monthName}}</h4>
      </div>
      <div class="col-lg-1 px-lg-3 d-none d-lg-flex justify-content-lg-end">
        <div class="line-container">
          <div class="line"></div>
        </div>
      </div>
      <div class="col-4 col-lg-9 d-none d-lg-block"></div>
    </div>
    <div [class]="'row h-100 event ' + (event | event:'class')" [class.cancelled]="event.status === 'cancelled'">

      <div *ngIf="(event.dateFrom | date:'d-M') !== (event.dateTill | date:'d-M'); else onlyDay" class="col-10 col-lg-2 order-2 order-lg-1 px-0 px-lg-3 d-flex align-items-center align-items-lg-start">
        <h5>{{event.dateFrom | date:"EEEEEE"}} - {{event.dateTill | date:"EEEEEE"}}
          <div class="d-none d-lg-block"></div>
          {{event.dateFrom | date:"d. M."}} - {{event.dateTill | date:"d. M."}}</h5>
      </div>
      <ng-template #onlyDay>
        <div class="col-10 col-lg-2 order-2 order-lg-1 px-0 px-lg-3 d-flex align-items-center align-items-lg-start">
          <h5>{{event.dateFrom | date:"EEEEEE d. M."}}</h5>
        </div>
      </ng-template>

      <div class="col-2 col-lg-1 order-1 px-0 py-3 px-lg-3  py-lg-0 order-lg-2 justify-content-start justify-content-lg-end d-flex">
        <div class="circle-container">
          <div class="line"></div>
          <div class="circle" [style.background-color]="(event | event:'image') ? 'transparent' : (event | event:'color') || '#ccc'">
            <img *ngIf="event | event:'image'" class="img-fluid" [src]="event | event:'image'">
          </div>
          <div class="arrow-horizontal d-none d-lg-block"></div>
        </div>
      </div>

      <div class="col-12 col-lg-9 order-3 panel" [adminLink]="'/interni/obsah/akce/' + event._id + '/upravit'">
        <div class="content">
          <div class="row event-header">
            <div class="col d-flex">
              <h4><span *ngIf="event.status === 'cancelled'" class="cancelled">Zrušeno: </span> {{event.name}}</h4>
            </div>
            <div class="col-auto justify-content-end group-badges">
              <ng-container *ngIf="event.leadersEvent">
                <span class="group-badge bg-dark" title="Kolektiv vedoucích">V</span>
              </ng-container>
              <ng-container *ngIf="!event.leadersEvent">
                <span *ngFor="let group of event.groups" [style.background-color]="(group | group:'color') || '#ccc'" [title]="group | group:'name'" class="group-badge">{{group}}</span>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p *ngIf="event.description" class="description multiline">{{event.description}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p *ngIf="event.meeting?.start || event.meeting?.end">
                <ng-container *ngIf="event.meeting?.start"><strong>Sraz: </strong>{{event.meeting.start}}</ng-container>
                <ng-container *ngIf="event.meeting?.start && event.meeting?.end">, </ng-container>
                <ng-container *ngIf="event.meeting?.end"><strong>Konec: </strong>{{event.meeting.end}}</ng-container>
              </p>
            </div>
          </div>
          <div class="row footer">
            <div class="col d-flex">
              <p *ngIf="event.leaders?.length">
                {{event.leadersLine}} {{event.leaders | joinLeaders}}
              </p>
            </div>
            <div class="col-auto justify-content-end mb-3">
              <a *ngIf="event._links?.registration?.allowed?.GET" [href]="getEventRegistrationUrl(event) | safeurl" download="registration.pdf" class="flat" target="_blank">Přihláška</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
</div>