<div class="timeline">
  <ng-container *ngFor="let event of events;let i = index">
    
    <div *ngIf="i >= 1 && (event.dateFrom | date:'M') !== (events[i-1].dateFrom | date:'M')" class="month">
      <div><span>{{getMonthName(event.dateFrom)}}</span></div>
    </div>
    
    <div [class]="'event ' + eventTypes[event.type].class">

      <div *ngIf="(event.dateFrom | date:'d-M') !== (event.dateTill | date:'d-M'); else onlyDay" class="date long">
        {{event.dateFrom | date:"EEEEEE"}} - {{event.dateTill | date:"EEEEEE"}}<br>
        {{event.dateFrom | date:"d. M."}} - {{event.dateTill | date:"d. M."}}
      </div>
      <ng-template #onlyDay>
        <div class="date">{{event.dateFrom | date:"EEEEEE d. M."}}</div>
      </ng-template>

      <div class="circle">
        <img *ngIf="eventSubTypes[event.subtype]?.image" [src]="eventSubTypes[event.subtype].image">
      </div>

      <div class="panel"> 

        <div *ngIf="event.registrationUrl" class="registration"><a class="btn btn-primary" [href]="event.registrationUrl">Přihláška</a></div>

        <div class="group-badges">
          <span *ngFor="let group of event.groups" [style.background-color]="(group | group:'color') || '#ccc'" class="group-badge">{{group}}</span>
        </div>

        <h2 class="timeline-title" [adminLink]="'/interni/akce/' + event._id">{{event.name}}</h2>

        <div class="details">
          <p class="text-muted description">{{event.description}}</p>
          <p class="text-muted leaders" *ngIf="event.leaders?.length">
            <ng-container *ngFor="let member of event.leaders; first as isFirst; last as isLast">
              <ng-container *ngIf="!isFirst && !isLast">, </ng-container>
              <ng-container *ngIf="!isFirst && isLast"> a </ng-container>
              <a (click)="openContact(member)">{{member.nickname}}</a> <ng-container *ngIf="member.contacts?.mobile">({{member.contacts.mobile}})</ng-container>
            </ng-container>
          </p>
        </div>

      </div>
    </div>
  </ng-container>
</div>