<div class="timeline">
  <ng-container *ngFor="let event of events;let i = index">
    
    <div *ngIf="i >= 1 && (event.dateFrom | date:'M') !== (events[i-1].dateFrom | date:'M')" class="month">
      <div><span>{{getMonthName(event.dateFrom)}}</span></div>
    </div>
    
    <div [class]="'event ' + eventTypes[event.type].class">

      <div *ngIf="(event.dateFrom | date:'d-M') !== (event.dateTill | date:'d-M'); else onlyDay" class="date long">
        {{event.dateFrom | date:"EEEEEE"}} - {{event.dateTill | date:"EEEEEE"}}<br>
        {{event.dateFrom | date:"d. M."}} - {{event.dateTill | date:"d. M."}}
      </div>
      <ng-template #onlyDay>
        <div class="date">{{event.dateFrom | date:"EEEEEE d. M."}}</div>
      </ng-template>

      <div class="circle" [style.background-color]="eventSubTypes[event.subtype]?.color || '#ccc'">
        <img *ngIf="eventSubTypes[event.subtype]?.image" [src]="eventSubTypes[event.subtype].image">
      </div>

      <div class="panel" [adminLink]="'/interni/akce/' + event._id + '/upravit'"> 

        <div *ngIf="event.registrationUrl" class="registration"><a class="btn btn-primary" [href]="event.registrationUrl">Přihláška</a></div>

        <div class="group-badges">
          <ng-container *ngIf="event.leadersEvent">
            <span class="group-badge bg-dark" title="Kolektiv vedoucích">V</span>
          </ng-container>
          <ng-container *ngIf="!event.leadersEvent">
            <span *ngFor="let group of event.groups" [style.background-color]="(group | group:'color') || '#ccc'" [title]="group | group:'name'" class="group-badge">{{group}}</span>
          </ng-container>
        </div>

        <h2 class="timeline-title">{{event.name}}</h2>
        <p class="description" [innerHTML]="event.description | nl2br"></p>

        <div class="details">
          <p class=" leaders" *ngIf="event.leaders?.length">
            <ng-container *ngFor="let member of event.leaders; first as isFirst; last as isLast">
              <ng-container *ngIf="!isFirst && !isLast">, </ng-container>
              <ng-container *ngIf="!isFirst && isLast"> a </ng-container>
              {{member.nickname}} ({{formatNumber(event.leaders[0]?.contacts?.mobile)}})
            </ng-container>
          </p>
          <p *ngIf="event.meeting?.start || event.meeting?.end" class="description">
            <ng-container *ngIf="event.meeting?.start"><strong>Sraz: </strong>{{event.meeting.start}}</ng-container>
            <ng-container *ngIf="event.meeting?.start && event.meeting?.end">, </ng-container>
            <ng-container *ngIf="event.meeting?.end"><strong>Konec: </strong>{{event.meeting.end}}</ng-container>
          </p>
        </div>

      </div>
    </div>
  </ng-container>
</div>