<div class="editor">
  <table *ngIf="records.length" class="mb-3">
    <thead>
      <tr>
        <th *ngFor="let field of fields">{{ field.title }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records; let i = index">
        <td *ngFor="let field of fields" [ngSwitch]="field.type">
          <div *ngSwitchCase="'checkbox'" class="text-center">
            <input type="checkbox" [(ngModel)]="record[field.name]" />
          </div>

          <input
            *ngSwitchDefault
            [type]="field.type"
            class="form-control"
            [(ngModel)]="record[field.name]"
            [pattern]="field.pattern || ''"
            [required]="!!field.required"
            [placeholder]="field.placeholder || ''"
          />
        </td>
        <td class="actions">
          <a (click)="move(i, i - 1)"><ion-icon name="caret-up-outline"></ion-icon></a>
          <a (click)="move(i, i + 1)"><ion-icon name="caret-down-outline"></ion-icon></a>
          <a (click)="delete(i)" class="text-danger"><ion-icon name="trash-outline"></ion-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="add">
    <a (click)="add()"><ion-icon name="add-outline"></ion-icon> přidat záznam</a>
  </div>
</div>
