<section>
  <div class="container">
    <h2>Správa programu</h2>
    <div class="row">

      <div class="col-xl-2 col-md-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="./ke-schvaleni" routerLinkActive="active">Akce ke schválení</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="./v-programu" routerLinkActive="active">Akce v programu</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="./planovani" routerLinkActive="active">Plánování akcí</a></li>
        </ul>
      </div>

      <div class="col-xl-10 col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>