<event-attendees-list-item *ngFor="let member of members" [member]="member" [event]="event" [editable]="!disabled && !readonly" (remove)="removeMember(member)"></event-attendees-list-item>

<a *ngIf="!disabled && !readonly" class="text-success add pt-2 pt-md-0 responsive-font" (click)="openModal(attendeesModal)">
  <i class="fas fa-plus-circle align-middle "></i>  
</a>

<ng-template #attendeesModal>
  <div class="modal-body members-select">
    <members-select [(ngModel)]="members"></members-select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="reset();modalRef.hide()">Zrušit</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="publishValue();modalRef.hide()">Uložit</button>
  </div>
</ng-template>