<table>
  <tbody>
    <tr event-attendees-list-item *ngFor="let member of members" [member]="member" [event]="event">
      <td class="actions align-middle text-right responsive-font">
        <a (click)="openInfoModal(member)"><i class="fas fa-info-circle text-secondary"></i></a>
        <a [routerLink]="'/interni/obsah/clenove/' + member._id" tooltip="Upravit v členské databázi" class="ml-3"><i class="fas fa-edit text-warning"></i></a>
        <a *ngIf="!disabled && !readonly" (click)="removeMember(member)" tooltip="Odebrat" class="ml-3"><i class="fas fa-times text-danger"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<a *ngIf="!disabled && !readonly" class="d-block text-center text-success add pt-2 mt-2 pt-md-0 responsive-font" (click)="openSelectModal(attendeesModal)">
  <i class="fas fa-plus-circle align-middle "></i> přidat
</a>

<ng-template #attendeesModal>
  <div class="modal-body members-select">
    <members-select [(ngModel)]="members"></members-select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="reset();selectModal.hide()">Zrušit</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="publishValue();selectModal.hide()">Uložit</button>
  </div>
</ng-template>