<section *ngIf="member">
  <div class="container">

    <h2>
      <a routerLink="/interni/clenove" class="back"><i class="fas fa-arrow-left"></i></a>
      <ng-container *ngIf="member.nickname">{{member.nickname}} ({{member.name?.first}} {{member.name?.last}})</ng-container>
      <ng-container *ngIf="!member.nickname">{{member.name?.first}} {{member.name?.last}}</ng-container>
    </h2>

    <div class="row">

      <div class="col-lg-3">

        <nav class="nav nav-pills flex-column">
          <a class="nav-link" routerLink="../osobni" routerLinkActive="active">Osobní údaje</a>
          <a class="nav-link" routerLink="../expy" routerLinkActive="active">Expy</a>
          <a class="nav-link text-danger" routerLink="../smazat" routerLinkActive="active">Smazat člena</a>
        </nav>

      </div>

      <div class="col-lg-9" [ngSwitch]="category">

        <member-admin-info *ngSwitchCase="'osobni'" [member]="member" (save)="saveMember($event)"></member-admin-info>
        <member-admin-achievements *ngSwitchCase="'expy'" [member]="member" (save)="saveMember($event)"></member-admin-achievements>

        <div *ngSwitchCase="'smazat'">
          <input type="checkbox" [(ngModel)]="deleteConfirmation" id="deleteConfirmationInput"> <label for="deleteConfirmationInput">Opravdu chci smazat tohoto člena</label>
          <br>
          <button type="button" [disabled]="!deleteConfirmation" (click)="deleteMember()" class="btn btn-danger">Smazat akci</button>
        </div>

      </div>
    </div>
  </div>
</section>