<div class="container">

  <page-header>
    <h2 pageTitle>Uživatelské účty</h2>
    <div *actionMenu class="actions">
      <button mat-button color="primary" routerLink="vytvorit">Nový uživatel</button>
    </div>
  </page-header>

  <admin-table>
    <thead>
      <tr>
        <th>Login</th>
        <th>Bošánovský mail</th>
        <th>Propojený člen</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [routerLink]="user._id">
        <td>{{user.login}}</td>
        <td>{{user.email || "-"}}</td>
        <td>
          <ng-container *ngIf="user.member">{{user.member.nickname}} ({{user.member.name?.first}} {{user.member.name?.last}})</ng-container>
          <ng-container *ngIf="!user.member">-</ng-container>
        </td>
        <td>
          <span *ngFor="let role of user.roles" class="role badge badge-dark">{{roleNames[role] || role}}</span>
        </td>
        <td class="text-right actions">
          <a [routerLink]="user._id" tooltip="Upravit" placement="bottom"><i class="fas fa-pencil-alt"></i></a>
          <a (click)="impersonateUser($event,user)" [matTooltip]="'Přihlásit jako ' + user.login" placement="bottom"><i class="fas fa-sign-in-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </admin-table>

</div>