<div class="container-fluid px-3 px-sm-5">

  <page-header>
    <h2 pageTitle>Uživatelské účty</h2>

    <button *menuButton mat-icon-button (click)="showFilter = !showFilter">
      <mat-icon>filter_list</mat-icon>
    </button>

    <div *actionMenu class="actions">
      <button mat-button color="primary" routerLink="vytvorit">Nový uživatel</button>
    </div>

  </page-header>

  <form #filterForm="ngForm" class="filter d-md-block" [class.d-none]="!showFilter">
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Hledat</mat-label>
        <input matInput type="text" [ngModel]="search$ | async" (ngModelChange)="search$.next($event)" name="search">
        <button mat-button *ngIf="search$ | async" matSuffix mat-icon-button (click)="search$.next('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="col-12 col-md col-xl-2">
        <mat-label>Role</mat-label>
        <mat-select multiple name="role" ngModel>
          <mat-option *ngFor="let role of roles" [value]="role.name">{{role.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <admin-table>
    <thead>
      <tr>
        <th>Login</th>
        <th>Bošánovský mail</th>
        <th>Propojený člen</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers$ | async" [routerLink]="user._id">
        <td>{{user.login}}</td>
        <td>{{user.email || "-"}}</td>
        <td>
          <ng-container *ngIf="user.member">{{user.member.nickname}} ({{user.member.name?.first}} {{user.member.name?.last}})</ng-container>
          <ng-container *ngIf="!user.member">-</ng-container>
        </td>
        <td>
          <span *ngFor="let role of user.roles" class="role badge badge-dark">{{roleNames[role] || role}}</span>
        </td>
        
      </tr>
    </tbody>
  </admin-table>

</div>