@import "styles/variables";

.login-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

.buttons {
  text-align: center;
  ion-button {
    display: block;
  }
}
