<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Členská databáze</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form #filterForm="ngForm" class="filter px-3 py-1" [hidden]="!showFilter">
  <div class="row">
    <div class="col-12 col-xl">
      <ion-searchbar type="text" name="search" ngModel (keydown.enter)="$event.preventDefault()"></ion-searchbar>
    </div>

    <div class="col-12 col-md-3 col-xl-2">
      <ion-item lines="none">
        <ion-label position="stacked">Oddíl</ion-label>
        <ion-select multiple name="groups" ngModel placeholder="všechny">
          <ion-select-option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-3 col-xl-2">
      <ion-item lines="none">
        <ion-label position="stacked">Role</ion-label>
        <ion-select multiple name="roles" ngModel placeholder="všechny">
          <ion-select-option *ngFor="let role of roles" [value]="role.id">{{ role.id }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-3 col-xl-2">
      <ion-item lines="none">
        <ion-label position="stacked">Aktivní člen</ion-label>
        <ion-select multiple name="activity" [ngModel]="['active']">
          <ion-select-option value="active">Aktivní</ion-select-option>
          <ion-select-option value="inactive">Neaktivní</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="col-12 col-md-3 col-xl-2">
      <ion-item lines="none">
        <ion-label position="stacked">Sloupce</ion-label>
        <ion-select multiple name="fields" [ngModel]="defaultFields">
          <ion-select-option *ngFor="let field of fields" [value]="field.id">{{ field.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</form>

<ion-content>
  <admin-table class="table table-hover">
    <thead>
      <tr>
        <ng-container *ngIf="visibleFields$ | async as visibleFields">
          <th *ngIf="visibleFields.nickname">Přezdívka</th>
          <th *ngIf="visibleFields.group">Oddíl</th>
          <th *ngIf="visibleFields.role">Role</th>
          <th *ngIf="visibleFields.post">Funkce</th>
          <th *ngIf="visibleFields.rank">Hodnost</th>
          <th *ngIf="visibleFields.stars">Hvězdy</th>
          <th *ngIf="visibleFields.name">Jméno</th>
          <th *ngIf="visibleFields.birthday">Datum narození</th>
          <th *ngIf="visibleFields.age">Věk</th>
          <th *ngIf="visibleFields.email">Email</th>
          <th *ngIf="visibleFields.mobile">Mobil</th>
          <th *ngIf="visibleFields.city">Město</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let member of filteredMembers$ | async">
        <tr
          [routerLink]="member._id"
          [class.inactive]="member.inactive"
          [class.bg-light]="member.role === 'instruktor' || member.role === 'vedoucí'"
        >
          <ng-container *ngIf="visibleFields$ | async as visibleFields">
            <th *ngIf="visibleFields.nickname">{{ member.nickname }}</th>
            <td *ngIf="visibleFields.group" [style.color]="member.group | group: 'color'">
              {{ member.group | group: "name" }}
            </td>
            <td *ngIf="visibleFields.role">{{ member.role }}</td>
            <td *ngIf="visibleFields.post">{{ member.post }}</td>
            <td *ngIf="visibleFields.rank">{{ member.rank }}</td>
            <td *ngIf="visibleFields.stars">{{ member.stars }}</td>
            <td *ngIf="visibleFields.name">{{ member.name?.first }} {{ member.name?.last }}</td>
            <td *ngIf="visibleFields.birthday">{{ member.birthday | date: "d. M. y" }}</td>
            <td *ngIf="visibleFields.age">{{ member.birthday ? getAge(member.birthday) : "" }}</td>
            <td *ngIf="visibleFields.email">{{ member.contacts?.email }}</td>
            <td *ngIf="visibleFields.mobile">
              {{
                member.contacts?.mobile ||
                  (member.contacts?.mother ? member.contacts?.mother + " (matka)" : undefined) ||
                  (member.contacts?.father ? member.contacts?.father + " (otec)" : undefined || "")
              }}
            </td>
            <td *ngIf="visibleFields.city">{{ member.address?.city }}</td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </admin-table>
</ion-content>
