<div id="admin">
  <nav>
    <div class="container">
      <a routerLink="prehled" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Přehled</a>
      <a routerLink="vedeni-akci" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Vedení akcí</a>
      <a routerLink="sprava-programu" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Správa programu</a>
      <a routerLink="oddil" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Vedení oddílu</a>
      <a routerLink="kanal" routerLinkActive="active">Troja</a>
      <a routerLink="admin" routerLinkActive="active">Nastavení účtu</a>
    </div>
  </nav>

  <div id="adminPage">
    <router-outlet></router-outlet>
  </div>
</div>