<div id="admin">
  <nav>
    <div class="container">
      <a *aclCan="'my:dashboard'" routerLink="prehled" routerLinkActive="active">Přehled</a>
      <a *aclCan="'my:events'" routerLink="ved-akci" routerLinkActive="active">Veď akci</a>
      <a *aclCan="'my:events'" routerLink="akce" routerLinkActive="active">Moje akce</a>
      <a *aclCan="'my:group'" routerLink="oddil" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Oddíl</a>
      <a *aclCan="'my:program'" routerLink="program" routerLinkActive="active">Program</a>
      <a *aclCan="'my:auditor'" routerLink="revizor" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Revizor</a>
      <a *aclCan="'my:canal'" routerLink="kanal" routerLinkActive="active">Troja</a>
      <a *aclCan="'my:account'" routerLink="ucet" routerLinkActive="active">Nastavení účtu</a>
    </div>
  </nav>

  <div id="adminPage">
    <router-outlet></router-outlet>
  </div>
</div>