body{font-family:"Roboto Condensed", Verdana, sans-serif;font-size:16px;}

h1{
  font-size: 64px;
  font-weight:bold;
  margin-top: 0;
  margin-bottom: 10px;
  text-align:center;
}


h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

section {
  padding: 60px 0;
}

@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}



p {line-height: 1.5;text-align:justify;}

p.subheading{text-align:center;margin-bottom:50px;width:100%;}

a {color: #00BFFF;}

a:hover {color: #fec503 !important;}

.btn{font-size:24px;color:#fff;}
.btn-primary{color:#fff !important;}

/* @media (min-width: 1600px) {
  .container {
    max-width: 1900px;
    padding:0 120px;
  }
} */


::-moz-selection {
  background: #00BFFF;
  text-shadow: none;
}

::selection {
  background: #00BFFF;
  text-shadow: none;
}

