body{font-family:"Roboto Condensed", Verdana, sans-serif;font-size:25px;}

h1{
  font-size: 80px;
  font-weight:bold;
  margin-top: 0;
  margin-bottom: 10px;
  text-align:center;
}


h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}

p.subheading{text-align:center;}