i.squad {width:20px;height:20px;border-radius:}
.squad-3 { background-color: #e6ffe6; }
.squad-4 {background-color: #e6f2ff;}
.squad-5 {background-color: #ffe6e6;}
.squad-6 {background-color: #e6ffe6;}
.squad-7 {background-color: #e6f2ff;}
.squad-8 {background-color: #ffffcc;}
.squad-22 {background-color: #ffffcc;}
