<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akce"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Vytvořit akci</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #createEventForm="ngForm">
    <div class="row">
      <div class="col-lg-8">
        <ion-item class="w-100">
          <ion-label position="floating">Název</ion-label>
          <ion-input type="text" name="name" ngModel placeholder="Neočekávaný dýchánek" required></ion-input>
        </ion-item>
      </div>

      <div class="w-100"></div>

      <div class="col-lg-4">
        <ion-item class="w-100">
          <ion-label position="floating">Datum od</ion-label>
          <ion-input type="date" ngModel name="dateFrom" placeholder="Začátek" required></ion-input>
        </ion-item>
      </div>
      <div class="col-lg-4">
        <ion-item>
          <ion-label position="floating">Datum do</ion-label>
          <ion-input type="date" ngModel name="dateTill" placeholder="Konec" required></ion-input>
        </ion-item>
      </div>

      <div class="col-lg-8">
        <ion-item>
          <ion-label position="floating">Popis</ion-label>
          <ion-textarea name="description" ngModel id="createEventInput-description"></ion-textarea>
        </ion-item>
      </div>

      <div class="col-lg-8 mt-4 ml-3">
        <label class="w-100">Charakter akce</label>
        <div class="d-inline-block mr-3">
          <event-subtype-selector ngModel name="subtype"></event-subtype-selector>
        </div>
      </div>
    </div>
  </form>
</ion-content>
