@import "~styles/variables";

:host {
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid $darkGrey;
}

.heading {
  flex-grow: 1;
}

::ng-deep {
  h2 {
    margin: 0 !important;
  }
}
