@import "styles/variables";

.histogram {
  position: relative;
  height: 100px;
  width: 100%;
}
.histogram .chart {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 20px;
  left: 0;
}
.histogram .chart .bar {
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: $lightBlue;
  margin: 0 2px;
}
.histogram .chart .bar .full {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $blue;
  border-bottom: 1px solid $blue;
}
.histogram .chart .bar .label {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: $font-small;
}
.histogram .chart .bar .count {
  position: absolute;
  bottom: 100%;
  width: 100%;
  text-align: center;
  color: $blue;
  font-size: $font-small;
}
