<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Blogový příspěvek"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="showFilter" class="filter">
  <ion-searchbar
    [ngModel]="searchString | async"
    (ngModelChange)="searchString.next($event)"
    (keydown.enter)="$event.preventDefault()"
  ></ion-searchbar>
</div>

<ion-content>
  <div class="bo-table">
    <div class="header p-3 d-none d-lg-block">
      <div class="row">
        <div class="col-lg-7 col-xl-8">
          <strong>Titulek</strong>
        </div>
        <div class="col-lg-5 col-xl-2">
          <strong>Datum publikace</strong>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="item p-3" *ngFor="let blog of filteredBlogs" [routerLink]="blog._id">
        <div class="row">
          <div class="col-12 col-lg-7 col-xl-8">
            <strong>{{ blog.title }}</strong>
          </div>
          <div class="col-12 col-lg-3 col-xl-2 text-muted">
            <ng-container *ngIf="blog.status === 'public'">
              <span class="d-lg-none">Publikováno</span> {{ blog.datePublished | date: "d. M. y" || "N/A" }}
            </ng-container>
            <ng-container *ngIf="blog.status === 'draft'">Nepublikováno</ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
