.filter {
  background-color: #f9f9f9;
  ion-item {
    --ion-background-color: transparent;
  }
}

.bo-table {
  flex-grow: 1;
  .header {
    border-bottom: 1px solid #333;
  }
  .list {
    .item {
      cursor: pointer;
      border-bottom: 1px solid #ccc;
    }
  }
}
