.bo-table {
  flex-grow: 1;
  .header {
    border-bottom: 1px solid var(--ion-color-medium);
  }
  .list {
    .item {
      cursor: pointer;
      border-bottom: 1px solid var(--ion-color-light-shade);
    }
  }
}
