<bo-page>
  <bo-page-header>
    <h2 pageTitle>Blog</h2>

    <ion-button *menuButton fill="clear" (click)="showFilter = !showFilter">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>

    <div class="actions" *actionMenu>
      <ion-button fill="clear" color="primary" routerLink="vytvorit">Nový blog</ion-button>
    </div>
  </bo-page-header>

  <div class="filter d-lg-block" [class.d-none]="!showFilter">
    <div class="row">
      <div class="col">
        <ion-item>
          <ion-label position="floating">Hledat</ion-label>
          <ion-input
            [ngModel]="searchString | async"
            (ngModelChange)="searchString.next($event)"
            (keydown.enter)="$event.preventDefault()"
          ></ion-input>
          <ion-button *ngIf="searchString | async" fill="clear" (click)="searchString.next('')">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <div class="col-12 col-md-12 col-lg-2">
        <ion-item>
          <ion-label position="floating">Rok</ion-label>
          <ion-select name="year" [ngModel]="filter.year" (ngModelChange)="updateFilter({ year: $event })">
            <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </div>

  <admin-table>
    <thead>
      <tr>
        <th>Titulek</th>
        <th>Datum publikace</th>
        <th>Stav</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of filteredBlogs" [routerLink]="blog._id">
        <td>{{ blog.title }}</td>
        <td>{{ blog.datePublished | date: "d. M. y" || "N/A" }}</td>
        <td>{{ statusesIndex[blog.status] || blog.status }}</td>
      </tr>
    </tbody>
  </admin-table>

  <p *ngIf="loading">Načítám...</p>
</bo-page>
