<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/galerie"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>{{ album?.name }}</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Album"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>{{ album?.name }}</h2>

  <p *ngIf="album?.dateFrom && album?.dateTill">
    {{ [album!.dateFrom, album!.dateTill] | dateRange: "d. M. y" }}, publikováno
    {{ album!.datePublished | date: "d. M. y" }}
  </p>

  <p>{{ album?.description }}</p>

  <div class="gallery">
    <bo-photo-gallery
      *ngIf="album?.photos"
      [photos]="album!.photos"
      [maxHeight]="320"
      [clickable]="true"
      (click)="onPhotoClick($event)"
    ></bo-photo-gallery>
  </div>
</ion-content>

<bo-albums-tabs [album]="album" selected="info"></bo-albums-tabs>
