<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Tisk programu</ion-title>
    <ion-buttons slot="end">
      <bo-action-buttons [actions]="actions" header="Program"></bo-action-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mb-3">
    <bo-trimester-selector labelPosition="floating" [(ngModel)]="dateRange"></bo-trimester-selector>
  </div>
  <ion-button (click)="exportProgram()">Stáhnout program v DOCX</ion-button>
</ion-content>
