<div class="admin">
  <nav>
    <div class="container">
      <a routerLink="prehled" routerLinkActive="active">Přehled</a>
      <a routerLink="akce" routerLinkActive="active">Moje akce</a>
      <a routerLink="oddil" routerLinkActive="active">Vedení oddílu</a>
      <a routerLink="schuzky" routerLinkActive="active">Schůzky</a>
      <a routerLink="troja" routerLinkActive="active">Troja</a>
      <a routerLink="dokumenty" routerLinkActive="active">Dokumenty</a>
      <a routerLink="admin" routerLinkActive="active">Nastavení účtu</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>