<div class="admin">
  <nav>
    <div class="container">
      <a routerLink="prehled" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Přehled</a>
      <a routerLink="akce" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Moje akce</a>
      <a routerLink="program" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Správa programu</a>
      <a routerLink="oddil" routerLinkActive="active" tooltip="Připravujeme" placement="bottom">Vedení oddílu</a>
      <a routerLink="kanal" routerLinkActive="active">Troja</a>
      <a routerLink="dokumenty" routerLinkActive="active">Dokumenty</a>
      <a routerLink="admin" routerLinkActive="active">Nastavení účtu</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>