<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title pageTitle>Statistiky</ion-title>
    <ion-buttons slot="end">
      <!-- <bo-action-buttons [actions]="actions" header="Členská databáze"></bo-action-buttons> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="row">
    <div class="col-lg-2 d-none d-lg-block">
      <nav *secondaryMenu class="nav nav-pills flex-column">
        <a class="nav-link" routerLink="./akce" routerLinkActive="active">Akce</a>
        <a class="nav-link" routerLink="./clenove" routerLinkActive="active">Členové</a>
        <a class="nav-link" routerLink="./kilometry" routerLinkActive="active">Ujeté kilometry</a>
      </nav>
    </div>

    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>
