<bo-page>
  <bo-page-header>
    <h2 pageTitle>Statistiky</h2>
  </bo-page-header>

  <div class="row">

    <div class="col-lg-2 d-none d-lg-block">
      <nav *secondaryMenu class="nav nav-pills flex-column">
        <a class="nav-link" routerLink="./akce" routerLinkActive="active">Akce</a>
        <a class="nav-link" routerLink="./clenove" routerLinkActive="active">Členové</a>
        <a class="nav-link" routerLink="./kilometry" routerLinkActive="active">Ujeté kilometry</a>
      </nav>
    </div>

    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</bo-page>