<div class="row">
  <div class="col-lg-7 photo">
    <div class="image">
      <div class="d-none d-md-block image-bg text-center" [style.background-image]="'url(' + photo?.sizes.big.url + ')'"></div>
      <img class="d-md-none" [src]="photo?.sizes.big.url">
      <a class="arrow arrow-left" (click)="prevPhoto()"><i class="fas fa-chevron-circle-left fa-3x"></i></a>
      <a class="arrow arrow-right" (click)="nextPhoto()"><i class="fas fa-chevron-circle-right fa-3x"></i></a>
    </div>


  </div>

  <div class="col-lg-5">
    <div *ngIf="photo" class="description mt-3 mt-lg-0">
      <form #descriptionForm="ngForm" (ngSubmit)="savePhoto()">
        <mat-form-field class="w-100">
          <mat-label>Popisek</mat-label>
          <textarea matInput name="caption" rows="2" (click)="selectRandomPlaceholder()" [placeholder]="randomPlaceholder" [(ngModel)]="photo.caption"></textarea>
        </mat-form-field>

        <mat-form-field class="mb-3 w-100">
          <mat-label>Datum a čas</mat-label>
          <input matInput type="datetime-local" name="date" [(ngModel)]="photoDate" required>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>


        <div class="faces">
          <photo-face-edit class="face clearfix mb-3" *ngFor="let face of photo?.faces" [photo]="photo" [face]="face" [members]="members" [(ngModel)]="face.member" [ngModelOptions]="{standalone: true}"></photo-face-edit>
        </div>

        <button mat-flat-button color="primary" [disabled]="!descriptionForm.valid" class="w-100">Uložit</button>
      </form>

    </div>
  </div>
</div>