<section *ngIf="event">
  <div class="container">

    <h2>{{event.name}}</h2>

    <div class="row">

      <div class="col-3">

        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" routerLink="../info" routerLinkActive="active">Obecné informace</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../vedouci" routerLinkActive="active">Vedoucí akce</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../ucastnici" routerLinkActive="active">Účastníci</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../ohlaska" routerLinkActive="active">Ohláška</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../uctovani" routerLinkActive="active">Účtování</a></li>
          <li class="nav-item"><a class="nav-link text-danger" routerLink="../smazat" routerLinkActive="active">Smazat akci</a></li>          
        </ul>

      </div>

      <div class="col-9" [ngSwitch]="category">

        <event-admin-info *ngSwitchCase="'info'" [event]="event" (save)="saveEvent($event)"></event-admin-info>
        
        <event-admin-attendees *ngSwitchCase="'ucastnici'" [event]="event" (save)="saveEvent()"></event-admin-attendees>
        
        <event-admin-leaders *ngSwitchCase="'vedouci'" [event]="event" (save)="saveEvent($event)"></event-admin-leaders>

        <div *ngSwitchCase="'smazat'">
          <input type="checkbox" [(ngModel)]="deleteConfirmation" id="deleteConfirmationInput"> <label for="deleteConfirmationInput">Opravdu chci smazat tuto akci</label>
          <br>
          <button type="button" [disabled]="!deleteConfirmation" (click)="deleteEvent()" class="btn btn-danger">Smazat akci</button>
        </div>
      </div>
    </div>
  </div>
</section>