<ion-reorder-group *ngIf="view === 'list'" (ionItemReorder)="onReorder($any($event))" [disabled]="!sortable">
  <ion-item *ngFor="let photo of photos" [button]="true" [detail]="false" (click)="onPhotoClick(photo, $event)">
    <ion-checkbox *ngIf="selectable" slot="start" [ngModel]="isPhotoChecked(photo)"> </ion-checkbox>
    <ion-avatar slot="start">
      <img [src]="photo.sizes.small.url" [style.background-color]="photo.bg" />
    </ion-avatar>

    <ion-label>
      <h2 [class.nocaption]="!photo.caption">{{ photo.caption || "Bez popisku" }}</h2>
      <p class="row no-gutters info">
        <span class="col-12 col-lg-4 col-xl-3">Datum: {{ photo.date | date: "d. M. y H:mm:ss" }}</span>
        <span class="col-12 col-lg-4 col-xl-3 d-none d-lg-block">
          Velikost: {{ photo.sizes.original.width }}×{{ photo.sizes.original.height }} ({{
            getMpix(photo.sizes.original.width, photo.sizes.original.height)
          }}
          MP)
        </span>
        <span class="col-12 col-lg" [title]="photo.name">Název: {{ photo.name }}</span>
        <span *ngIf="photo.uploadedBy" class="col-12 col-lg">
          Nahrál/a: {{ photo.uploadedBy!.member!.nickname || photo.uploadedBy!.login }}
        </span>
      </p>
    </ion-label>

    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  <ng-container *ngIf="photos === undefined">
    <ion-item *ngFor="let item of loadingPhotos">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>

      <ion-label>
        <h2><ion-skeleton-text></ion-skeleton-text></h2>
        <p class="row no-gutters info"><ion-skeleton-text></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-reorder-group>

<div *ngIf="view === 'grid'" class="grid" [class.selectable]="selectable">
  <div class="square" *ngFor="let photo of photos" [class.checked]="isPhotoChecked(photo)">
    <div class="photo ion-activatable ripple-parent" (click)="onPhotoClick(photo, $event)">
      <img [src]="photo.sizes.small.url" [style.background-color]="photo.bg" />
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <ion-checkbox [ngModel]="isPhotoChecked(photo)" (ngModelChange)="onPhotoCheck(photo, $event)"></ion-checkbox>
  </div>
</div>
