@import '../../../styles/variables';

h4 a{
  color:$black;
  text-decoration:none;
}

.photos{
  height:$photo-height;
  max-height:$photo-max-height;
}
.image{
  display:block;
  width:100%;
  height:$photo-height; 
  max-height:$photo-max-height;
  background-position:center center; 
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#eee;
}

.desc{
  overflow:hidden;
  text-overflow:ellipsis;
  line-height: 1.5rem;
  max-height: 1.5rem;
}