<section>
  <div *ngIf="error" class="container">

    <h2>{{error.message}}</h2>

    <p>
      <strong>Datum a čas</strong>: {{error.timestamp | date:"d. M. y H:mm:ss"}}<br>
      <strong>Uživatel</strong>: {{error.user.login}}<br>
      <strong>URL</strong>: <a [href]="error.url" target="_blank">{{error.url}}</a><br>
      <strong>HTTP kód</strong>: {{error.status || "-"}}<br>
      <strong>Angular komponenta</strong>: {{error.ng?.component || "-"}}<br>
      <strong>Angular build</strong>: {{error.ng?.environment || "-"}}
    </p>

    <ng-container *ngIf="error.description">
      <h3>Popis</h3>
      <pre>{{error.description}}</pre>
    </ng-container>

    <ng-container *ngIf="error.stack">
      <h3>Stack trace</h3>
      <pre>{{error.stack}}</pre>
    </ng-container>

  </div>
</section>